<p>Hola <%= @participant.first_name %>,</p>

<p>Muchas gracias por interés en el Webinar <strong><%= @webinar.title %></strong>.</p>

<p>Haz click en el siguiente botón para acceder a la transmisión:</p>

<div class="button-wrapper">
  <%= link_to "Ver Webinar", watch_webinar_url(id: @webinar.slug, token: @participant.token), class: "button" %>
</div>

<p>Esperamos que te guste!</p>

<p>Cordial saludo,</p>

<p class="signature">Equipo de Make it Real</p>
