<p>Hola <%= @subscriber.first_name %>,</p>

<p>Gracias por registrarte para recibir una copia gratis de nuestro e-book <strong>¿Cómo convertirte en Desarrollador Web?</strong>. A continuación encontrarás el link de descarga, espero que te guste y lo aproveches al máximo!</p>

<p><a href="https://s3.amazonaws.com/makeitreal/e-books/convertirte-en-desarrollador-web.pdf">Haz click acá para descargarlo</a></p>

<p>Si tienes alguna pregunta, inquietud o sugerencia, puedes responder este correo para contactarme directamente. Intentaré responderte lo antes posible.</p>

<p>Cordial saludo,</p>

<p style="margin-left: 30px;">Germán Escobar<br>
makeitreal.camp</p>
