<%# required: question_attempt %>
<% question = question_attempt.question %>
<% quiz = question.quiz %>
<% course = quiz.course %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p class="question">
        <%= question.question %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= form_for :question_attempt, url: "#dummy",
        html: {class: "multi-answer-question-attempt",id: "question-attempt-#{question_attempt.id}"} do |f| %>
        <table class="table table-striped">
          <tbody>
            <% question.mixed_answers_with_hashes.each do |option,hash| %>
              <tr class="row">
                <td class="col-xs-1">
                  <% if question_attempt.is_correct_answer?(hash) %>
                    <span class="text-success glyphicon glyphicon-ok"></span>
                  <% else %>
                    <span class="text-danger glyphicon glyphicon-remove"></span>
                  <% end %>
                </td>
                <td class="col-xs-1">
                  <%= f.check_box(:answers,
                    { multiple: true,checked: question_attempt.answers.include?(hash), disabled: true },
                    hash,"") %>
                </td>
                <td class="col-xs-10">
                  <%= markdown option %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
