<%# required: question %>
<% subject = question.quiz.subject %>
<% quiz = question.quiz %>
<tr id="question-<%= question.id %>">
  <td class="col-xs-1"><%= question.id %></td>
  <td class="col-xs-1">
    <% if question.published  %>
      <span class="text-succes glyphicon glyphicon-ok"></span>
    <% end %>
  </td>
  <td><%= question.text %></td>
  <td>
    <%= link_to edit_subject_quizer_quiz_question_path(subject, quiz, question), remote: true, class: "btn btn-xs btn-info" do %>
      <span class="glyphicon glyphicon-pencil"></span>
    <% end %>
  </td>
</tr>
