<% breadcrumb :quiz_questions, @quiz %>

<div class="container default-top-padding">
  <div class="row margin-bottom">
    <div class="col-xs-12">
      <%= form_tag(new_subject_resource_question_path(@subject, @quiz), method: "get", remote: true, class: 'form-inline') do %>
        <div class="form-group">
          <%= select_tag :type, question_type_options, class: "form-control"%>
        </div>
        <div class="form-group">
          <%= submit_tag("Agregar Pregunta", class: "btn btn-info") %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table id="questions" class="table">
          <thead>
            <tr>
              <th>Tipo</th>
              <th class="text-center">Publicada</th>
              <th>Pregunta</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% @questions.each do |q| %>
              <%= render "question_row", question: q %>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
