<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h1>Quiz: <%= @quiz.name %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
      <%# TODO: if exists a quiz attempt currently being attempted show link to that attempt %>
      <%= button_to "Comenzar Quiz", course_quiz_quiz_quiz_attempts_path(@course,@quiz), method: :post, class: "btn btn-success" %>
    </div>
  </div>

</div>
