<div class="container login">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class="text-center">Ingresar</h1>
      <%= form_tag controller: :sessions, action: :create do %>
        <div class="btn-social row">
          <div class="col-xs-6 col-md-offset-3">
            <%= link_to '<i class="fa fa-slack"></i> <span class="visible-lg-inline">Ingresa con </span>Slack'.html_safe, '/auth/slack', class: "btn btn-main", id: "sign-in-slack"  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
