<div id="change-password-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Restablecer Contraseña</h4>
      </div>

      <div class="alerts-container">
      </div>

      <%= form_for :password_reset_request, url: password_reset_path, remote: true do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label(:email, "Correo electrónico") %>
            <%= f.email_field(:email, class: 'form-control input-lg') %>
          </div>
        </div>
        <div class="modal-footer">
          <%= submit_tag("Restablecer Contraseña", class: 'btn btn-primary') %>
        </div>
      <% end %>
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div>
