<p>Hola<%= @user.first_name? ? " #{@user.first_name}" : "" %>,</p>

<p>Gracias por tu interés en Make it Real. Mi nombre es Diana y te voy a solucionar cualquier inquietud que tengas sobre el programa.</p>

<p>Nuestro objetivo en Make it Real es que aprendas a crear tu propias aplicaciones Web, ya sea para encontrar un empleo como <%= genderize("Desarrollador", "Desarrolladora", @user) %> Junior, o para que crees tu propia empresa.</p>

<p>El programa está diseñado para que lo completes en 3 meses si le dedicas tiempo completo. Pero tienes hasta un año para completarlo (aprox. 15 a 20 horas a la semana). Puedes empezar cuando quieras desde el 25 de Mayo del 2015.</p>

<p>El programa tiene un valor de $2’800,000 (pesos colombianos), pero hasta el 15 de Junio tenemos un descuento de lanzamiento del 50%. Es decir, <strong>$1’400,000</strong>.</p> 

<p>Al inscribirte al programa recibirás:</p>

<ul>
  <li>Acceso a todos los retos, proyectos, material, y cursos exclusivos creados por nosotros.</li>
  <li>Acceso a Slack (chat), que es el punto de encuentro entre alumnos y mentores.</li>
</ul>

<p>Al ingresar a Make it Real harás parte de una comunidad de creadores que se prepara para construir las aplicaciones del futuro. El objetivo es que hagas la mayor cantidad de retos y proyectos usando una técnica llamada pair-programming, en donde dos personas trabajan sobre el mismo código. De esa forma puedes conocer y compartir con otros alumnos.</p>

<p>Cualquier pregunta o inquietud no dudes en hacérmela saber y con gusto te responderé.</p>

<p>Cordial Saludo,</p>

<p style="margin-left: 30px;">Diana Vanegas<br>
makeitreal.camp</p>