<p>Hola<%= @user.first_name? ? " #{@user.first_name}" : "" %>,</p>

<p>Gracias por tu interés en Make it Real. Mi nombre es Diana y te voy a solucionar cualquier inquietud que tengas sobre el programa.</p>

<p>Nuestro objetivo en Make it Real es que aprendas a crear tu propias aplicaciones Web, ya sea para que encuentres un empleo como <%= genderize("Desarrollador", "Desarrolladora", @user) %> Junior, o para que crees tu propia empresa.</p>

<p>El programa está dividido en 3 fases:</p>

<ul>
  <li>Fase 1: aprenderás los fundamentos básicos del desarrollo Web: HTML, CSS, Bootstrap, Git, Github, y Ruby.</li>
  <li>Fase 2: aprenderás el protocolo HTTP y a construir aplicaciones Web básicas con Ruby on Rails.</li>
  <li>Fase 3: aprenderás JavaScript, jQuery, AJAX y a construir aplicaciones robustas con Ruby on Rails (pruebas automatizadas, OAuth, background jobs, API's, real time, NoSQL, etc.)</li>
</ul>

<p>Al ingresar a Make it Real te será asignado un mentor que va a estar pendiente de tu progreso y al que podrás acudir de primera mano cuando te surja alguna duda. También tendrás acceso completo a la plataforma y a Slack, un chat en el que se reunen mentores y alumnos para solucionar dudas, compartir información, hablar de programación, y coordinar sesiones de pair programming.</p>

<p>Make it Real está diseñado para que lo completes en 3 meses si le dedicas tiempo completo, pero tienes hasta un año para completarlo (aprox. 15 a 20 horas a la semana). Tiene un valor de $2’800,000 (pesos colombianos), pero hasta el 31 de Julio tenemos un descuento de lanzamiento y el valor hasta esa fecha es de <strong>$1’890,000</strong>.</p>

<p>Si tienes cualquier pregunta o inquietud del programa no dudes en hacérmela saber y con gusto te responderé.</p>

<p>Cordial Saludo,</p>

<p style="margin-left: 30px;">Diana Vanegas<br>
makeitreal.camp</p>