<p>Hola<%= @user.first_name? ? " #{@user.first_name}" : "" %>,</p>
<p>¿Olvidaste tu contraseña de <strong>Make it Real</strong>? No te preocupes. Puedes <%= link_to "hacer click en este enlace para cambiarla", edit_password_reset_url(token: @user.password_reset_token) %>. El enlace es válido por 2 horas.</p>
<p>Si no has realizado esta solicitud, ignora este mensaje.</p>
<p>Que tengas un muy buen día,</p>

<p class="signature">
  <strong>Equipo de soporte</strong><br>
  <strong>makeitreal.camp</strong>
</p>
