<p> Hola <%= @user.email %> </p>

<p>Alguien ha pedido un enlace para cambiar tu contraseña. Puede hacerlo a través del siguiente enlace. </p>

<p>
  <%= link_to "Cambiar contraseña", edit_password_resets_url(t: @user.password_reset_token) %>
</p>

<p> Si usted no ha solicitado este cambio, por favor, ignora este mensaje. </p>
<p> La contraseña no cambiará hasta que acceda al enlace anterior y crear uno nuevo. </p>
