<p>Hola<%= @user.first_name? ? " #{@user.first_name}" : "" %>,</p>

<p>Recibimos una solicitud para cambiar tu contraseña. Puedes hacerlo a través del siguiente enlace:</p>

<p><%= link_to "Cambiar contraseña", edit_password_reset_url(t: @user.password_reset_token) %></p>

<p>Si no has solicitado este cambio, por favor ignora este mensaje.</p>
<p>La contraseña no cambiará hasta que accedas al enlace anterior y la cambies.</p>

<p>Cordial Saludo,</p>

<p>Equipo de soporte<br>
makeitreal.camp</p>
