<%# required: commentable, questions %>
<% questions ||= ["Déjanos tu opinion"]%>
<div class="discussion">
  <%= form_tag generate_comments_path(commentable), remote: true, class: "comment-form" do |f| %>
    <div class="media">
      <div class="media-left">
        <img src="<%= Gravatar.new("#{current_user.email}").image_url %>"
          class="img-circle media-object comment-form-avatar"/>
      </div>
      <div class="media-body" class="comment-input-wrapper">
        <%= text_area_tag(:text, nil ,id: "comment-input",class: "form-control", required: true, autofocus: true,
          placeholder: questions.shuffle.first
        ) %>
      </div>
      <button class="btn btn-primary pull-right btn-send-comment" type="submit">
        Comentar
      </button>
    </div>
  <% end %>
  <div class="comments">
    <% commentable.comments.each do |comment| %>
      <%= render '/comments/comment', comment: comment %>
    <% end %>
  </div>
</div>
