<article class="discussion-entry">
  <div class="discussion-entry-inner">
    <div class="discussion-label">
      <div class="comment-body">
        <p><%= markdown(@comment,filter_html: true, escape_html: true) %></p>
      </div>
    </div>
  </div>
</article>
