.pages-layout .section-curriculum {
  h2 {
    color: $color-orange;
    font-weight: normal;
    text-align: center;
  }

  .subject {
    margin-bottom: 30px;

    h3 {
      color: $color-dark-blue;
      font-family: $font-family-sans-serif;
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    p {
      color: $color-grey;
      font-size: 0.9rem;
    }
  }
}
