.new-site.data-science-online {
  .section h2 {
    color: #333;
  }

  .program-intro {
    background-image: linear-gradient(rgba(24, 78, 115, 0.8), rgba(24, 78, 115, 0.8)), image-url("home02.png");
    background-color: #005e9f;
    background-position: center center;
    background-size: cover;

    h1 small {
      display: block;
      color: #DFE6F5;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .tagline-program {
      margin-bottom: 60px;

      @media (min-width: $screen-md-min) {
        margin-top: 20px;
        margin-bottom: 0;
      }

      p { margin-bottom: 30px; }

      .icons {
        color: #fff;
        margin-top: 20px;
        font-size: 21px;
        margin-bottom: 60px;

        @media (min-width: $screen-md-min) { margin-bottom: 0; }

        .icon { margin: 0 7px; }
      }
    }
  }

  .medellin-info {
    background: #f5f2f2;
    color: #303030;
    margin: 0 auto;
    max-width: 400px;
    box-shadow: 3px 3px 10px #0F2754;
    text-align: center;
    border-radius: 7px;

    .medellin-info-body { padding: 20px 20px 30px; }

    p { font-weight: 300; }

    .medellin-info-date {
      font-size: 21px;
      margin-top: 25px;

      .info-date-label {
        color: #f04500;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 3px;
        opacity: 0.8;
      }
    }

    .medellin-info-schedule {
      font-size: 18px;
      margin-top: 30px;

      .schedule-data { margin-bottom: 15px; }

      .schedule-label {
        display: block;
        color: #666;
        font-size: 16px;
      }
    }

    .medellin-info-location {
      color: #666;
      font-size: 18px;
      margin-top: 30px;

      .address {
        font-size: 14px;
        margin-top: 3px;
      }
    }

    span.glyphicon {
      color: #ddd;
      font-size: 18px;

      @media (min-width: $screen-sm-min) {
        display: inline-block;
        font-size: 24px;
      }
    }

    .btn {
      margin-top: 40px;
      padding: 15px 55px;
      width: 80%;
    }
  }

  .medellin-faq {
    .question {
      margin: 0 0 60px;

      h3 {
        color: #666;
        font-size: 21px;
        font-weight: 400;
        line-height: 1.4;
        text-align: left;
        margin-bottom: 22px;
      }

      p, ul {
        color: #666;
        font-size: 18px;
        line-height: 1.5;
      }
    }
  }

  .medellin-magnet {
    padding-top: 70px;
    padding-bottom: 70px;

    p.intro-text {
      margin-bottom: 0px;
    }

    p.subhead {
      color: #ddd;
      font-size: 18px;
      font-weight: 300;
      margin-top: 20px;
      margin-bottom: 60px;
    }

    .btn {
      border-radius: 0;
      padding: 15px 40px;
    }
  }

  .section-mentors {
    padding-bottom: 50px;
    .profile-image img { width: 150px; border: 1px solid #f04500; }
    .profile {
      margin-bottom: 50px;

      h3 {
        margin-top: 20px;
        margin-bottom: 30px;

        small {
          display: block;
          margin-top: 7px;
        }
      }

      p {
        font-size: 16px;
        @media (min-width: $screen-sm-min) { padding: 0 30px; }
      }
    }
  }

  #registration-modal {
    .modal-dialog {
      max-width: 450px;
    }
    #form-start-now {
      padding: 0;
      max-width: none;

      .has-error .help-block {
        color: #a94442;
      }
    }
    .modal-body {
      padding: 20px 20px 15px;
      p { margin-bottom: 20px; }
    }
    .modal-footer { padding: 20px 20px;}
  }

  .target-audience {
    .audience-quote {
      background: #343a40;
      margin: 0 auto;
      padding: 25px 30px;
      max-width: 500px;
      border-radius: 5px;

      p {
        color: #ddd;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 30px;
      }

      .audience-quote-img {
        float: left;
        img { border: 1px solid #ccc; }
      }

      .audience-quote-person {
        color: #ccc;
        padding-left: 115px;
        margin-top: 15px;

        a { color: white; }

        .audience-quote-person-name {
          display: block;
          font-weight: 600;
          margin-bottom: 5px;
        }
      }
    }

    .audience-target-details-intro {
      color: #666;
      font-weight: 600;
    }

    .audience-target-details {
      color: #666;
      font-size: 16px;
      line-height: 1.6;
      padding: 0 30px;

      ul {
        list-style: none;
        margin-top: 18px;
        padding-left: 35px;

        li {
          margin-bottom: 10px;

          &:before {
            content: "✓";
            color: #D13221;
            font-size: 21px;
            font-weight: bold;
            padding-right: 15px;
            margin-left: -30px;
          }
        }
      }
    }

    .audience-target-details-alt {
      font-size: 14px;
      color: #666;
      margin-top: 30px;
    }
  }

  .learnings-program {
    .curriculum-detail {
      background: white;
      border: 1px solid #ccc;

      .week {
        display: flex;
        flex-direction: column;
        font-size: 18px;
        border-bottom: 1px solid #ccc;
        padding: 13px 15px;

        @media (min-width: $screen-sm-min) { flex-direction: row; }

        header {
          color: #f04500;
          min-width: 150px;
        }

        .week-title { color: #333; }

        .week-text {
          color: #666;
          font-size: 0.9em;
          margin-top: 10px;

          @media (min-width: $screen-sm-min) { margin-top: 7px; }
        }
      }
    }
  }
}
