.pages-layout .fs-sponsors {
  .header-register .btn-register {
    background: #68c4fb;
    color: white;
  }

  .intro {
    .intro-info { padding-top: 20px; }

    .pbtn {
      background: #68c4fb;
      color: white;
      margin-top: 20px;

      @media (min-width: $screen-md-min) { margin-top: 30px; }
    }
  }

  .section.section-progress {
    background: #fab34b;
    padding-bottom: 70px;

    p {
      color: white;
      font-size: 1.1rem;

      @media(min-width: $screen-lg-min) { margin-top: 20px; }
    }

    a {
      color: $color-dark-blue;
      text-decoration: none;
    }

    .progress-list { font-size: 0.85rem; }

    .progress-box {
      background: white;
      margin-bottom: 30px;
      padding: 40px 20px;
      border: 1px solid #dfdfdf;
      border-radius: 10px;

      .progress-amount {
        margin-bottom: 10px;

        span {
          font-family: $font-family-condensed;
          color: $color-dark-blue;
          font-size: 1.2rem;
        }
      }

      .progress-bar { background: #68c4fb; }

      .progress-metric {
        text-align: center;
        cursor: pointer;

        .progress-value {
          color: $color-dark-blue;
          font-family: $font-family-condensed;
          font-size: 1.2rem;
        }

        .progress-label {
          color: $color-grey;
          font-size: 0.85;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }
  }

  .section.section-why {
    p {
      font-size: 1.1rem;
    }
  }

  .section.section-steps {
    padding-bottom: 60px;

    .step {
      margin-bottom: 60px;

      h3 {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 20px;
      }

      p {
        font-size: 0.9rem;
        text-align: center;

        @media (min-width: $screen-md-min) { text-align: left;}
      }
    }
  }

  .section-schemes {
    background: asset-url('elementos-izquierda-2-mujeres.svg') top left/200px no-repeat,
                asset-url('elementos-derecha-2-mujeres.svg') bottom right/200px no-repeat,
                #f5f5f2;

    @media(min-width: $screen-sm-min) { background-size: 200px, 200px; }
    @media(min-width: $screen-md-min) { background-size: 250px, 250px; }

    h2 {
      color: $color-orange;
      font-weight: normal;
      text-align: center;
    }

    .schemes {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      padding-top: 40px;
      cursor: pointer;

      @media (min-width: $screen-sm-min) {
        flex-direction: row;
        align-items: stretch;
      }

      .scheme {
        text-align: center;
        width: 100%;
        max-width: 300px;
        margin-bottom: 40px;

        header {
          color: $color-grey;
          font-size: 0.9rem;
          font-style: italic;
          margin-bottom: 18px;
        }

        .scheme-body {
          box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.2);
          border-radius: 20px;

          .initial {
            background: $color-dark-blue;
            color: white;
            padding: 20px 0;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;

            .initial-label {
              font-size: 0.9rem;
              padding-top: 10px;
            }

            .initial-value {
              font-size: 1.3rem;
              font-weight: 600;
              margin-top: 10px;
            }
          }

          .shared-income {
            background: white;
            padding: 20px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
          }
        }
      }
    }
  }

  #sponsors-modal {
    table td small {
      color: #666;
      display: block;
    }
  }
}
