.new-site.full-stack-barranquilla {
  .program-intro {
    background: #005e9f image-url("barranquilla.jpg") center center;
    background-size: cover;

    h1 small {
      display: block;
      color: #DFE6F5;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .tagline-program {
      @media (min-width: $screen-md-min) { margin-top: 20px; }
    }
  }

  .medellin-info {
    background: #f5f2f2;
    color: #303030;
    margin: 0 auto;
    max-width: 400px;
    box-shadow: 3px 3px 10px #0F2754;
    text-align: center;

    .medellin-info-title {
      color: #303030;
      font-size: 18px;
      font-weight: 600;
      padding: 15px;
      border-bottom: 1px solid #ccc;

      span.glyphicon {
        vertical-align: top;
        margin-right: 10px;
      }
    }

    .medellin-info-body { padding: 20px; }

    p { font-weight: 300; }

    .medellin-info-date {
      font-size: 21px;
      margin-top: 15px;
    }

    .medellin-info-schedule {
      font-size: 18px;
      margin-top: 30px;

      .schedule-data { margin-bottom: 15px; }

      .schedule-label {
        display: block;
        color: #666;
        font-size: 16px;
      }
    }

    .medellin-info-location {
      color: #666;
      font-size: 21px;
      margin-top: 30px;
    }

    span.glyphicon {
      color: #ddd;
      font-size: 18px;

      @media (min-width: $screen-sm-min) {
        display: inline-block;
        font-size: 24px;
      }
    }

    .btn {
      margin-top: 40px;
      padding: 15px 55px;
      width: 80%;
    }
  }

  .medellin-faq {
    .question {
      margin: 60px 0;

      h3 {
        color: #D13221;
        font-size: 21px;
        font-weight: 600;
        line-height: 1.4;
        text-align: left;
        margin-bottom: 25px;
      }

      p, ul {
        color: #666;
        font-size: 18px;
        line-height: 1.5;
      }
    }
  }

  .medellin-magnet {
    padding-top: 70px;
    padding-bottom: 70px;

    p.intro-text {
      margin-bottom: 50px;
    }

    p.subhead {
      color: #ddd;
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 60px;
    }

    .btn {
      border-radius: 0;
      padding: 15px 40px;
    }
  }

  .section-mentors {
    padding-bottom: 50px;
    .profile-image img { width: 150px; border: 1px solid #f04500; }
    .profile {
      margin-bottom: 50px;

      h3 {
        margin-top: 20px;
        margin-bottom: 30px;

        small {
          display: block;
          margin-top: 7px;
        }
      }

      p {
        font-size: 16px;
        @media (min-width: $screen-sm-min) { padding: 0 30px; }
      }
    }
  }

  .section-location {
    position: relative;
    background: #005e9f image-url("macondo-lab-map.jpg") 20% center;
    background-size: cover;

    padding-bottom: 0;
    height: 300px;

    img { width: 100%; }
    .location-data {
      position: absolute;
      bottom: 0;
      background: rgba(48, 48, 48, 0.7);
      color: white;
      font-size: 18px;
      padding: 15px 30px;
      width: 100%;

      .location-dir {
        color: #ccc;
        font-size: 14px;
        margin-top: 5px;
      }

      a {
        color: white;

        &:hover, &:active { text-decoration: underline; }
      }
    }
  }

  #registration-modal {
    .modal-dialog {
      max-width: 450px;
    }
    #form-start-now {
      padding: 0;
      max-width: none;

      .has-error .help-block {
        color: #a94442;
      }
    }
    .modal-body {
      padding: 20px 20px 15px;
      p { margin-bottom: 20px; }
    }
    .modal-footer { padding: 20px 20px;}
  }

  .target-audience {
    .audience-quote {
      background: #f5f5f2;
      margin: 0 auto;
      box-shadow: 2px 2px 5px #666;
      padding: 25px;

      p {
        color: #666;
        font-size: 16px;
        line-height: 1.6;
        border-bottom: 1px solid $brand_primary;
        padding-bottom: 30px;
        margin-bottom: 20px;
      }

      .audience-quote-img {
        float: left;

        img { border: 1px solid #ccc; }
      }

      .audience-quote-person {
        padding-left: 110px;
        margin-top: 15px;

        .audience-quote-person-name {
          display: block;
          font-size: 18px;
          font-weight: 600;
        }
      }
    }

    .audience-target-details-intro {
      color: #666;
      font-weight: 600;
    }

    .audience-target-details {
      color: #666;
      font-size: 16px;
      line-height: 1.6;
      padding: 0 30px;

      ul {
        list-style: none;
        margin-top: 18px;
        padding-left: 35px;

        li {
          margin-bottom: 10px;

          &:before {
            content: "✓";
            color: #D13221;
            font-size: 21px;
            font-weight: bold;
            padding-right: 15px;
            margin-left: -30px;
          }
        }
      }
    }

    .audience-target-details-alt {
      font-size: 14px;
      color: #666;
      margin-top: 30px;
    }
  }
}
