.new-site.home {
  .intro {
    position: relative;
    padding-bottom: 100px;
    overflow: hidden;

    .tagline-wrapper { text-align: center; }

    @media (min-width: $screen-md-min) { padding-bottom: 180px; }
  }

  .tagline {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Karla', sans-serif;
    color: #f5f5f2;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-top: 50px;

    @media (min-width: $screen-sm-min) {
      font-size: 68px;
      margin-top: 90px;
      padding: 0 35px;
    }
  }

  .tagline-support {
    font-size: 21px;
    font-weight: 300;
    line-height: 1.4;
    color: #dedede;
    margin-bottom: 60px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

    @media (min-width: $screen-sm-min) {
      font-size: 24px;
      padding: 0 35px;
      margin-bottom: 75px;
    }
  }

  .know-more {
    color: white;
    font-weight: 400;
    display: inline-block;
    background: $brand_primary;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 60px;
    font-size: 18px;
  }

  .section.section-programs-list {
    text-align: center;

    .program-divider {
      .divider-line {
        border-top: 1px solid #ccc;
        margin-bottom: -13px;

        @media (min-width: $screen-sm-min) { margin-bottom: -16px; }
      }

      .divider-label {
        display: inline-block;
        // padding: 0 20px;
        // margin-left: 20px;
        background: #f5f5f2;
        color: #666;
        font-weight: bold;
        font-size: 24px;
        font-family: 'Open Sans Condensed';

        @media (min-width: $screen-sm-min) {
          font-size: 28px;
          margin-left: 40px;
        }
      }
    }

    .program-wrapper {
      @media (min-width: $screen-md-min) { padding: 20px 30px; }

      .program-info {
        border: 1px solid #ccc;
        box-shadow: 3px 3px 10px #ccc;
        background: white;
        max-width: 450px;
        margin: 30px auto;

        .program-header {
          position: relative;

          img { width: 100% }

          .program-location {
            position: absolute;
            top: 0;
            color: white;
            font-size: 18px;
            font-weight: bold;
            padding: 20px;
          }

          .program-header-title {
            position: absolute;
            bottom: 0;
            color: white;
            text-align: left;
            padding: 20px;
            width: 100%;

            .program-name, .program-type {
              display: block;
              font-family: 'Open Sans Condensed';
              font-weight: bold;
            }

            .program-name {
              line-height: 1.1;
              font-size: 34px;

              @media (min-width: $screen-md-min) { font-size: 42px; }
            }

            p {
              color: white;
              font-size: 14px;
              margin: 10px 0 0;

              @media (min-width: $screen-md-min) { font-size: 16px; }
            }
          }
        }

        .program-body {
          padding: 20px 20px 10px;

          .program-details {
            text-align: left;

            .details-label {
              color: #666;
              font-size: 12px;
              font-weight: bold;
              margin-bottom: 5px;
            }

            .details-value {
              color: #303030;
              font-size: 13px;
              margin-bottom: 15px;

              @media (min-width: $screen-md-min) { font-size: 14px; }
            }
          }
        }

        .program-footer {
          padding: 0 20px 20px;

          table {
            td {
              font-size: 14px;
              vertical-align: middle;

              // @media (min-width: $screen-md-min) { font-size: 16px; }

              &.program-city {
                font-weight: bold;
                text-align: left;
              }
            }
          }

          a.btn {
            text-transform: none;
            padding: 8px 12px;
          }
        }
      }
    }
  }
}
