.pages-layout .home {
  .intro .intro-info .pbtn {
    margin-top: 20px;
    @media(min-width: $screen-md-min) { margin-top: 30px; }
  }

  .section.section-pitch {
    position: relative;
    padding-top: 0;

    .title {
      text-align: center;

      @media(min-width: $screen-sm-min) { text-align: left; }
    }

    .features .feature {
      text-align: center;
      margin-bottom: 60px;

      img {
        max-height: 130px;

        @media(min-width: $screen-sm-min) { max-height: 180px; }
      }

      .feature-title {
        color: $color-dark-blue;
        font-size: 1.3rem;
        font-weight: 600;
        margin-top: 20px;

        @media(min-width: $screen-sm-min) { margin-top: 50px; }
      }

      p {
        color: $color-grey;
        margin-top: 10px;
        font-size: 1rem;

        @media(min-width: $screen-sm-min) { margin-top: 20px; }
      }
    }
  }

  .section.section-philosophy {
    position: relative;
    background: asset-url('philosophy-img.svg') 100% 0/350px no-repeat, white;

    @media(min-width: $screen-sm-min) {
      background-size: 700px;
    }

    h2.title {
      position: absolute;
      right: 50px;
      top: 20px;
      color: $color-white;
      padding: 0;
      max-width: 180px;

      @media(min-width: $screen-sm-min) {
        right: 280px;
        top: 50px;
      }
    }

    .content {
      padding-top: 200px;

      @media(min-width: $screen-sm-min) { padding-top: 300px; }

      p {
        color: $color-grey;
        font-size: 1rem;
        margin-bottom: 1rem;
      }
    }
  }

  .section.section-programs {
    padding: 0;

    @media(min-width: $screen-sm-min) {
      background: linear-gradient(to bottom, #668add, #1d2b64) 0 0/50% no-repeat,
                  linear-gradient(to bottom, #ef6059, #c33f2f) 0 50% no-repeat;
    }

    .program-1 {
      background: linear-gradient(to bottom, #668add, #1d2b64);
      @media(min-width: $screen-sm-min) { background: none; }
    }

    .program-2 {
      background: linear-gradient(to bottom, #ef6059, #c33f2f);
      @media(min-width: $screen-sm-min) { background: none; }
    }

    .program {
      color: $color-white;
      text-align: center;
      padding-bottom: 60px;

      h3 {
        font-size: 2rem;
        letter-spacing: 1px;
        padding: 80px 10px 0;
      }

      p {
        color: $color-white;
        margin-bottom: 50px;
      }

      img {
        max-width: 300px;

        @media(min-width: $screen-md-min) { max-width: 400px; }
      }

      .btn-programs {
        display: inline-block;
        color: $color-white;
        font-size: 1rem;
        padding: 12px 35px;
        border: 2px solid $color-white;
        border-radius: 40px;
        margin: 60px 20px 0;
        text-decoration: none;
      }
    }
  }

  .section-quote {
    img {
      width: 100%;
      max-width: 300px;

      @media(min-width: $screen-md-min) { max-width: 450px; }
    }

    p.text {
      margin-top: 60px;
      font-size: 1rem;
      line-height: 1.6;
      padding: 0 35px;

      @media(min-width: $screen-lg-min) { margin-top: 100px; }
    }

    p.name {
      font-size: 0.85rem;
      font-weight: 600;
      margin: 2rem 0 5px;
    }

    p.position { margin-bottom: 50px; }
  }
}
