.pages-layout .innovate-program {
  .intro {
    background: white;
    padding-bottom: 0;

    @media (min-width: $screen-md-min) {
      background-size: 30% 70%;
    }

    .intro-info {
      padding-top: 50px;
      h1 {
        color: $color-orange;
      }
    }

    .intro-img {
      z-index: 9;
      margin-bottom: 55px;
    }

    .intro-video {
      @media(min-width: $screen-md-min) {
        padding: 70px 0 20px;
      }
    }
  }

  .section-details {
    position: relative;
    padding-bottom: 0;

    .details-wrapper {
      background: white;
      box-shadow: 10px 10px 16px 0 rgba(0, 0, 0, 0.2);
      border-radius: 30px;
      margin-top: -40px;
      z-index: 99;

      .detail-wrapper {
        padding: 30px 0 20px;

        @media (min-width: $screen-sm-min) {
          padding: 30px 0;
        }

        .detail-label {
          color: $color-dark-blue;
          font-size: 0.8rem;
          font-weight: bold;
        }

        .detail-value {
          color: #333;
          font-size: 1.1rem;
          margin-bottom: 5px;
        }
      }
    }
  }

  .section-info {
    background: asset-url("elementos-izquierda-1-top.png") bottom left/200px
        no-repeat,
      asset-url("elementos-derecha-1-top.png") 100% 20%/30px no-repeat;

    @media (min-width: $screen-sm-min) {
      background-size: 300px, 50px;
    }
    @media (min-width: $screen-md-min) {
      background-size: auto, auto;
    }

    h2 {
      color: $color-orange;
      font-weight: normal;
    }
    p.lead {
      color: $color-grey;
      font-size: 1.1rem;
      line-height: 1.6;
      margin-bottom: 40px;
    }
    .pbtn {
      margin-top: 0;
    }
    p.note {
      color: #999;
      margin-top: 40px;
    }
  }

  .section-how-it-works {
    h2 {
      color: $color-orange;
      font-weight: normal;
      text-align: center;
    }

    p.lead {
      color: $color-grey;
      font-size: 1.1rem;
      line-height: 1.6;
    }

    .works-item {
      display: flex;
      align-items: flex-start;
      margin-top: 40px;

      img {
        max-width: 60px;
        @media (min-width: $screen-md-min) {
          max-width: 120px;
        }
      }

      .item-info {
        margin-left: 20px;
        h3 {
          font-family: $font-family-sans-serif;
          color: $color-dark-blue;
          font-size: 1.2rem;
        }
        p {
          color: $color-grey;
          font-size: 1rem;
          line-height: 1.6;
        }
      }
    }
  }

  .section-formats {
    h2 {
      color: $color-orange;
      font-weight: normal;
      text-align: center;
    }

    .formats {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-top: 40px;

      @media (min-width: $screen-md-min) {
        flex-direction: row;
        align-items: stretch;
      }
    }

    .application-deadline p {
      text-align: center;
      color: #212f65;
      margin-top: 15px;
    }
    .format {
      background: white;
      margin: 0 auto;
      width: 100%;
      max-width: 400px;
      margin-bottom: 50px;
      border-radius: 10px;
      box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.2);

      .format-header {
        background: $color-dark-blue;
        color: white;
        font-size: 21px;
        font-weight: 600;
        text-align: center;
        padding: 20px 15px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      .format-body {
        text-align: center;
        padding: 20px;

        .format-item {
          margin-bottom: 18px;
          .format-label {
            color: #666;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
          }
        }
      }

      .format-footer {
        padding: 0px 10px 20px;
        text-align: center;

        .pbtn {
          font-size: 16px;
          font-weight: 600;
          margin-top: 0;
        }
      }
    }
  }

  .section-method {
    h2 {
      color: $color-dark-blue;
      font-weight: normal;
      text-align: center;
    }

    img {
      max-width: 100%;
    }

    .method-item {
      position: relative;
      margin-bottom: 20px;
      padding-left: 40px;

      img {
        position: absolute;
        left: 0;
        top: 5px;
        width: 28px;
      }

      .method-hour {
        font-size: 1.1rem;
        font-weight: 600;
        color: $color-dark-blue;
        margin-bottom: 5px;
      }

      .method-description {
        color: $color-grey;
        font-size: 0.9rem;
      }
    }
  }

  .section-quotes {
    .duration-box {
      display: flex;
      justify-content: space-around;
      background: white;
      font-size: 0.8rem;
      text-align: center;
      border: 1px solid $color-orange;
      border-radius: 20px;
      margin-top: -40px;

      @media (min-width: $screen-sm-min) {
        font-size: 1.1rem;
      }

      .duration,
      .start {
        width: 50%;
        padding: 15px 0;

        @media (min-width: $screen-sm-min) {
          padding: 25px 0;
        }

        strong {
          margin-right: 5px;

          @media (min-width: $screen-sm-min) {
            margin-right: 15px;
          }
        }
      }

      .duration {
        background: $color-dark-blue;
        color: white;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }

      .start strong {
        color: $color-orange;
      }
    }
  }

  .section-stipend {
    padding: 2rem;
    text-align: center;

    img {
      width: 100%;
      max-width: 110%;
      position: relative;
      margin-top: 4rem;
    }

    @media (min-width: $screen-md-min) {
      width: 100%;
      max-width: 110%;
      text-align: left;
    }

    .stipend-footer {
      margin-top: 10px;
      color: #606060;
      font-size: 14px;
    }

    .apply-now-btn {
      margin-top: 25px;
    }
  }

  .format-modal {
    h3 {
      font-family: $font-family-sans-serif;
      font-size: 16px;
      font-weight: 600;

      small {
        display: block;
        margin-top: 15px;
        margin-left: 15px;
        font-size: 14px;
        font-weight: 600;
      }
    }

    .formats p {
      margin-left: 15px;
      line-height: 1.6;
    }

    .learn-more {
      padding: 40px;
    }
  }

  #application-modal {
    .modal-body {
      color: #555;
      line-height: 1.6;
      padding: 20px 30px;

      ul {
        color: #666;
        padding-left: 35px;

        li {
          margin-bottom: 13px;

          small {
            display: block;
            color: #999;
            font-size: 14px;
          }
        }
      }

      .form-group label {
        font-weight: 600;
      }


      .stipendcheck label {
        font-weight: 600;
        color: $color-dark-blue;
      }
        
    }

    .modal-footer {
      .verification-back-btn {
        float: left;
        color: #999;
        border: 1px solid #ccc;
        padding: 9px 14px;
      }

      .back {
        display: none;
        float: left;
        color: #999;
        border: 1px solid #ccc;
        padding: 9px 14px;
      }

      .submit { display: none; }
    }
  }

  .section-schemes {
    background: asset-url("elementos-izquierda-2-top.svg") top left/200px
        no-repeat,
      asset-url("elementos-derecha-2-top.svg") bottom right/200px no-repeat;

    @media (min-width: $screen-sm-min) {
      background-size: 200px, 200px;
    }
    @media (min-width: $screen-md-min) {
      background-size: 250px, 250px;
    }

    h2 {
      color: $color-orange;
      font-weight: normal;
      text-align: center;
    }

    .schemes {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;

      @media (min-width: $screen-sm-min) {
        flex-direction: row;
        align-items: stretch;
      }

      .arrow-down {
        position: relative;
        left: calc(50% - 15px);
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;

        border-top: 15px solid $color-light-blue;
      }

      .scheme {
        text-align: center;
        width: 100%;
        max-width: 300px;
        margin-bottom: 40px;

        header {
          color: $color-grey;
          font-size: 0.9rem;
          font-style: italic;
          margin-bottom: 18px;
        }

        .scheme-body {
          background: white;
          box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.2);
          border-radius: 20px;

          .initial {
            background: $color-dark-blue;
            color: white;
            padding: 20px 0;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;

            .initial-label {
              font-size: 0.9rem;
              padding-top: 10px;
            }

            .initial-value {
              font-size: 1.3rem;
              font-weight: 600;
              margin-top: 10px;
            }
          }

          .plus {
            background: $color-light-blue;
            color: white;
            font-size: 0.9rem;
            padding: 18px 0;
          }

          .scheme-max-payment {
            font-size: 0.7rem;
            margin-top: 15px;
            font-weight: 200;
            color: #606060;
          }

          .shared-income {
            color: $color-grey;
            line-height: 1.6;
            padding: 10px 20px 20px;
          }
        }
      }
    }

    .scheme-footer {
      font-size: 14px;
      text-align: center;
      padding: 1em 2em 1em 2em;
      color: $color-grey;
    }

    p.payment-options {
      color: $color-grey;
      font-size: 1.1rem;
      line-height: 1.6;
      margin-bottom: 60px;
      text-align: center;
    }
  }
}
