.new-site.makers {
  .section-makers-header {
    background: linear-gradient( rgba(34, 44, 55, 0.9), rgba(34, 44, 55, 0.9) ), image-url('makers-bg.jpg') no-repeat center center;
    background-size: cover;
    padding-bottom: 50px;

    p.subhead { color: #EDF5FC; }
  }

  .section-quotes {
    overflow: hidden;
    text-align: center;
    margin-top: 80px;

    .each-quote {
      overflow: hidden;
      background: #fff;
      border: 1px solid #dddddd;
      padding: 20px;
      margin-bottom: 40px;
      p {
        font-size: 16px;
        text-align: left;
        height: 140px;
        overflow: hidden;
        @media (max-width: $screen-lg-min) {
          height: 100px;
        }
        @media (max-width: $screen-md-min) {
          height: 140px;
        }
        @media (max-width: $screen-sm-min) {
          height: auto;
        }
      }
    }
    .student-data {
      overflow: hidden;
      text-align: left;
      border-top: 1px solid #ff3300;
      margin-top: 15px;
      padding-top: 15px;
      .profile-name {
        display: block;
        font-size: 16px;
      }
      .profile-status {
        display: block;
        font-size: 14px;
        color: #999999;
      }
      .profile-link {
        display: inline-block;
        margin: 5px 0;
        i {
          font-size: 20px;
          margin-right: 10px;
        }
      }

      .profile-img {
        float: left;
        margin-right: 15px;
        width: 80px;
        img {
          width: 100%;
        }
      }
    }
  }
}
