.online-program {
  .full-stack-js {
    background: #1976D2 image-url("top-program-bg.jpg") no-repeat center center;
    background-size: cover;

    .program-header {
      padding-top: 20px;
      padding-bottom: 45px;
      color: #f5f5f2;

      @media (min-width: $screen-md-min) {
        padding-top: 40px;
        padding-bottom: 90px;
      }

      h1 {
        font-size: 62px;
        line-height: 1.2;
        margin-bottom: 40px;
      }

      .program-description {
        font-size: 21px;
        text-align: center;
        margin-bottom: 60px;

        @media (min-width: $screen-md-min) { font-size: 24px; }
      }

      .program-icons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto 60px;
        max-width: 600px;

        .icon {
          color: white;
          font-size: 32px;
          margin: 0 15px;
        }
      }
    }

    .apply-now-btn {
      padding: 15px 40px;
    }
  }

  .section {
    padding: 60px 0;

    h2 {
      color: #333;
      font-weight: normal;
      font-size: 21px;
      margin: 0 0 20px;

      @media (min-width: $screen-md-min) { font-size: 28px; }
    }

    h3 {
      font-size: 18px;
      font-weight: 600;
      margin-top: 0;

      @media (min-width: $screen-md-min) { font-size: 21px; }
    }

    p {
      color: #666;
      font-weight: 400;
      line-height: 1.6;

      @media (min-width: $screen-md-min) { font-size: 18px; }
    }

    .lead {
      color: #666;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.5;
      margin-bottom: 11px;

      @media (min-width: $screen-md-min) { font-size: 21px; }
    }

    &.section-white { background: white; }

    &.section-dark {
      background: #343a40;
      h2, h3, p, .lead { color: #f5f5f2; }
    }
  }

  .mentors-wrapper {
    position: relative;

    .mentors {
      background: #343a40;
      color: white;
      padding: 30px 30px 50px;
      border-radius: 5px;
      margin: 30px auto 0;
      max-width: 450px;

      @media (min-width: $screen-sm-min) {
        position: absolute;
        top: 10px;
        left: 0;
        margin-top: 0;
      }

      .mentors-lead {
        color: #f5f5f2;
        font-size: 14px;
        line-height: 1.6;
        text-align: center;

        @media (min-width: $screen-sm-min) { font-size: 16px; }
      }

      .mentors-list {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
      }

      .mentor {
        margin-top: 40px;
        width: 110px;

        img {
          width: 60px;
          border: 1px solid #ddd;

          @media (min-width: $screen-md-min) {
            width: 80px;
          }
        }

        .mentor-details {
          font-size: 12px;
          margin-top: 15px;

          small { display: block; }
        }
      }
    }
  }

  .section-how-it-works {
    .works-item {
      display: flex;
      margin-top: 40px;

      .works-icon {
        color: #1976D2;
        font-size: 24px;
        margin-right: 15px;
      }
    }
  }

  .section-method {
    h2 { margin-bottom: 40px; }
    p { font-weight: 300; }
    .method-item {
      display: flex;
      margin-bottom: 30px;

      .method-icon {
        color: #f5f5f2;
        font-size: 24px;
        margin-right: 20px;
        margin-top: 5px;
      }
    }

    img {
      margin: 0 auto;
      max-width: 380px;
    }
  }

  .section-duration {

    .price-wrapper {
      margin-top: 30px;
      text-align: center;

      @media (min-width: $screen-md-min) {
        margin-top: 10px;
        text-align: right;
      }

      .price-label {
        color: #f04500;
        font-size: 18px;
        font-weight: bold;
      }

      .price {
        font-size: 24px;
        font-weight: bold;
        margin-top: 5px;
      }

      .price-details {
        font-size: 14px;
        color: #999;
      }
    }

    .duration-option {
      background: #343a40;
      color: #f5f5f2;
      margin: 60px auto 0;
      max-width: 400px;
      border: 1px solid #ddd;
      border-radius: 5px;

      header { padding: 20px 25px; }

      .duration-time {
        color: #f5f5f2;
        font-size: 28px;
        font-weight: normal;
      }

      .commitment {
        color: #9EA6AD;
        font-size: 18px;
      }

      .duration-body {
        background: white;
        color: #666;

        .duration-item {
          padding: 15px 20px 10px;

          .model {
            margin-bottom: 20px;

            h4 {
              font-size: 14px;
              font-weight: bold;
              margin-bottom: 10px;

              @media (min-width: $screen-md-min) { font-size: 16px; }
            }

            p {
              font-size: 14px;

              @media (min-width: $screen-md-min) { font-size: 16px; }
            }
          }
        }

      }
    }
  }

  .section-quotes {
    overflow: hidden;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;

    .each-quote {
      overflow: hidden;
      background: #fff;
      border: 1px solid #dddddd;
      padding: 20px;
      margin-bottom: 40px;
      p {
        color: #555;
        font-size: 16px;
        text-align: left;
        height: 140px;
        overflow: hidden;
        @media (max-width: $screen-lg-min) {
          height: 100px;
        }
        @media (max-width: $screen-md-min) {
          height: 140px;
        }
        @media (max-width: $screen-sm-min) {
          height: auto;
        }
      }
    }

    .student-data {
      overflow: hidden;
      text-align: left;
      border-top: 1px solid #ff3300;
      margin-top: 15px;
      padding-top: 15px;
      .profile-name {
        display: block;
        font-size: 16px;
      }
      .profile-status {
        display: block;
        font-size: 14px;
        color: #999999;
      }
      .profile-link {
        display: inline-block;
        margin: 5px 0;
        i {
          font-size: 20px;
          margin-right: 10px;
        }
      }

      .profile-img {
        float: left;
        margin-right: 15px;
        width: 80px;
        img {
          width: 100%;
          border: 1px solid #ccc;
        }
      }
    }
  }

  .section.section-companies {
    background: white;
    padding-bottom: 100px;

    p.subhead { margin-bottom: 30px; }

    img { margin-top: 60px; }
  }

  .section.section-faq {
    h3 {
      color: #1976D2;
      font-weight: normal;
      line-height: 1.4;
      margin-top: 30px;
    }

    ul {
      padding-left: 35px;

      li {
        color: #555;
        margin-bottom: 7px;
      }
    }
  }

  footer {
    padding-top: 60px;
    overflow: hidden;
    @media (max-width: $screen-md-min) {
      padding-top: 65px;
    }
    .logo-footer {
      text-align: center;
      margin-bottom: 45px;
      margin-top: 35px;
    }
    h4 {
      text-align: center;
      font-size: 24px;
      text-transform: uppercase;
      color: #ff4300;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      margin-bottom: 30px;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 0;
    }
    .social-icons {
      text-align: center;
      svg {
        fill: #1c1c1c;
      }
      li {
        display: inline-block;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .site-links {
      font-size: 18px;
      text-align: center;
      @media (max-width: $screen-lg-min) {
        text-align: center;
      }
      a {
        color: #3b3a3a;
      }
      li {
        margin-bottom: 15px;
        margin-right: 15px;
        display: inline-block;
        @media (max-width: 1310px) {
          display: block;
          margin-right: 0;
        }
        @media (max-width: $screen-lg-min) {
          display: inline-block;
          margin-right: 15px;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .copyright-container {
      padding: 0;
      position: relative;
      margin-top: 100px;
    }
    .copyright {
      text-align: center;
      font-size: 14px;
      color: #a1a1a1;
      padding: 30px 0;
      border-top: solid 1px #ff4300;
      a {
        font-weight: 700;
        color: #a1a1a1;
      }
    }
    .icon-mir-footer {
      position: absolute;
      right: 30px;
      top: 23px;
      @media (max-width: $screen-sm-min) {
        position: relative;
        right: auto;
        top: auto;
        margin-bottom: 30px;
        text-align: center;
      }
    }
  }
}


.new-site {
  .full-stack {
    background: image-url("01interna-programa.jpg") center center;
    background-size: cover;
  }

  .bullets-program {
    text-align: center;
    margin-top: 60px;

    @media (min-width: $screen-sm-min) { text-align: left; }
    @media (min-width: $screen-md-min) { margin-top: 0; }

    ul {
      list-style-type: none;
      @media (max-width: $screen-md-min) {
        padding-left: 0;
      }
    }

    li {
      overflow: hidden;
      margin-bottom: 30px;
    }
    .icon-bullet-program {
      float: left;
      width: 20%;
    }
    .content-bullet-program {
      @media (min-width: $screen-sm-min) {
        float: left;
        width: 80%;
      }
    }
    h2 {
      color: #fff;
      font-family: "Open Sans",sans-serif;
      font-weight: 300;
      margin-bottom: 10px;
      margin-top: 0;
      padding-bottom: 5px;
      text-transform: uppercase;
    }
  }

  .data-program {
    .each-data-program {
      text-align: center;
      border: 1px solid #dddddd;
      border-radius: 4px;
      margin: 0 auto 20px;
      padding: 15px;
      height: 200px;
      max-width: 400px;
      overflow: hidden;
      background: #fff;
      @media (max-width: $screen-md-min) {
        height: auto;
      }

      p {
        font-size: 16px;
      }
    }
    .data-number {
      color: #005e9f;
      display: block;
      font-size: 48px;
    }
  }
  .target-program {
      border-top: solid 1px #dddddd;
  }
  .each-target-program {
    text-align: center;

    p {
      font-weight: 300;
      line-height: 1.6;
      padding: 20px;
    }
  }
  .target-profile {
    font-size: 18px;
  }
  .target-icon {
    width: 90px;
    margin-left: auto;
    margin-right: auto;
  }
  .mentories-program {
    background: image-url("02interna-programa.jpg") center center;
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 0;

    .subhead { color: #fff; }

    .program-title {
      h3 {
        color: #fff;
        font-family: "Karla",sans-serif;
        font-size: 34px;
        font-weight: 700;
        margin-bottom: 50px;
        padding-bottom: 10px;
      }
    }
  }

  .skill-program {
    .feature-program-skill {
      font-size: 30px;
      margin-bottom: 50px;
      text-transform: none;
    }
  }

  .each-learning-program {
    margin-bottom: 30px;

    @media (max-width: $screen-md-min) { margin-bottom: 75px; }
  }

  .learnings-program {
    .technology {
      height: 200px;
      overflow: hidden;
      margin-top: 20px;

      .title-container {
        text-align: center;
        margin-bottom: 10px;
        overflow: hidden;

        @media (min-width: $screen-md-min) { text-align: left; }
      }

      p {
        color: #666;
        font-size: 16px;
        text-align: center;
        margin: 0 auto;
        max-width: 350px;

        @media (min-width: $screen-md-min) {
          font-size: 18px;
          text-align: left;
        }
      }

      h4 {
        float: none;
        font-size: 18px;
        margin-left: 0px;
        margin-top: 7px;

        @media (min-width: $screen-md-min) {
          float: left;
          font-size: 21px;
          margin-left: 10px;
        }
      }

      .icon {
        float: none;
        color: #005e9f;
        font-size: 42px;

        @media (min-width: $screen-md-min) { float: left; }
      }
    }

    .program-module {
      background: white;
      margin-top: 20px;
      border: 1px solid #ddd;

      .module-title {
        padding: 20px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        height: 90px;
      }

      .module-body {
        padding: 15px 20px;
        text-align: left;
        overflow: hidden;
      }

      p {
        color: #666;
        font-size: 16px;
      }

      h4 {
        float: left;
        font-size: 21px;
        margin-left: 15px;
        margin-top: 3px;
        margin-bottom: 0;
        text-align: left;
        margin-left: 10px;

        small {
          display: block;
          font-weight: bold;
          margin-bottom: 5px;
        }
      }

      .icon {
        float: left;
        color: #005e9f;
        font-size: 48px;
      }

      ul {
        font-size: 14px;
        padding-left: 20px;
      }
    }
  }

  .applications-program {
    h4 {
      color: #ff4300;
    }
    .each-application-program {
      margin-bottom: 50px;
      @media (max-width: $screen-md-min) {
        margin-bottom: 100px;
      }
      p {
        font-size: 18px;
      }
    }
  }

  .project-program {
    background: image-url("03interna-programa.jpg") center top;
    background-size: cover;
    padding: 100px 0;

    .program-title {
      h3 {
        color: #fff;
        font-family: "Karla",sans-serif;
        font-size: 34px;
        font-weight: 700;
        margin-bottom: 50px;
        padding-bottom: 10px;
      }
    }
    .subhead {
      color: #fff;
    }
    .btn-main {
      display: inline-block;
      color: #fff;
      width: auto;
      padding: 10px 20px;
      margin-top: 0;

      @media (min-width: $screen-md-min) { margin-top: 50px; }
    }
  }

  .email-program {
    background: #303030;
    border-top: 0;
    padding-bottom: 40px;

    .email {
      padding-bottom: 230px;

      &.form-control { padding-bottom: 10px; }
    }
  }
}
