.new-site.program {
  .header-apply, .header-register {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    padding: 17px 10px 10px;
    z-index: 100;
    box-shadow: 1px 0 7px #666;

    img {
      width: 120px;

      @media (min-width: $screen-sm-min) { width: 160px; }
    }

    .btn-primary {
      float: right;
      font-size: 11px;

      @media (min-width: $screen-sm-min) { font-size: 14px; }
    }
  }

  .program-intro {
    padding-top: 80px;
    padding-bottom: 70px;
    color: #fff;
  }

  .tagline-program {
    text-align: center;
    @media (min-width: $screen-md-min) { text-align: left; }

    h1 {
      text-transform: uppercase;
      margin-top: 0;
      font-size: 48px;

      @media (min-width: $screen-sm-min) { font-size: 48px; }
      @media (min-width: $screen-lg-min) { font-size: 62px; }
    }
    p {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.6;
      margin-bottom: 60px;

      @media (min-width: $screen-md-min) {
        font-size: 21px;
        margin-bottom: 0;
      }

      strong { font-weight: normal; }
    }
    .btn-cta {
      display: inline-block;
      background: #f04500;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      padding: 10px 30px;
      border: solid 1px #f04500;
      border-radius: 3px;
      text-transform: uppercase;
      margin-top: -10px;

      @media (min-width: $screen-md-min) { margin-top: 25px; }
    }
  }

  #form-start-now {
    padding: 20px 25px;
    max-width: 450px;
    margin: 0 auto;

    .has-error .help-block {
      color: white;
      font-weight: normal;
    }

    button[type=submit] {
      padding: 17px 15px;
    }
  }
}
