.new-site {
  // default attributes for a section of a page
  .section {
    padding-bottom: 100px;

    h2 {
      font-family: $font-family-condensed;
      font-size: 32px;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 70px;
      padding: 100px 20px 0;

      @media (min-width: $screen-md-min) {
        font-size: 38px;
      }
    }

    h3 {
      text-align: center;
      font-size: 21px;
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 40px;
    }

    h4 {
      font-size: 24px;
      text-align: center;
      margin-top: 30px;
      a { color: #303030; }
    }

    p {
      color: #303030;
      line-height: 1.6;
      @media (min-width: $screen-md-min) {
        font-size: 18px;
      }
    }

    p.intro-text {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.4em;
      margin: 0;
      margin-bottom: 40px;

      @media (min-width: $screen-sm-min) {
        font-size: 28px;
        margin-bottom: 50px;
      }

      span { color: $brand_secondary; }
    }

    p.subhead {
      color: #295969;
      font-size: 18px;
      margin-top: -30px;
      margin-bottom: 60px;
      text-align: center;

      @media (min-width: $screen-sm-min) {
        font-size: 21px;
        margin-bottom: 90px;
      }
    }
  }

  .section.section-white {
    background: white;

    p.subhead { color: #666; }
  }

  .section.section-transparent {
    h2, h3 { color: white; }
    p, p.subhead { color: white; }
  }

  .section.section-dark {
    background: #303030;

    h2, h3, p.intro-text { color: white; }
    p, p.subhead, ul { color: #ccc; }
  }

  .section.section-bordered {
    border-top: 1px solid darken(#f5f5f2, 15%);
    border-bottom: 1px solid darken(#f5f5f2, 15%);
  }

  .section.section-pitch {
    text-align: center;
    padding: 80px 0 100px;
    font-size: 16px;

    h3 {
      margin: 30px 0 20px;
    }

    .icon {
      display: block;
      color: $brand-primary;
      font-size: 48px;
      margin-top: 40px;
    }
  }

  // allies section of the home and program pages
  .section.section-companies {
    background: white;
    padding-bottom: 100px;

    p.subhead { margin-bottom: 30px; }

    img { margin-top: 60px; }
  }

  // main quote of the home and program pages
  .section-quote {
    background: #f5f5f2;
    border-top: 1px solid darken(#f5f5f2, 15%);
    border-bottom: 1px solid darken(#f5f5f2, 15%);

    p.text {
      margin-top: 40px;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.6;

      @media (min-width: $screen-md-min) {
        margin-top: 60px;
        font-size: 21px;
        padding: 0 35px;
      }

      @media (min-width: $screen-lg-min) {
        margin-top: 60px;
      }
    }

    p.name {
      margin-top: 30px;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 5px;

      @media (min-width: $screen-md-min) {
        margin-top: 40px;
        font-size: 18px;
      }

      @media (min-width: $screen-lg-min) { margin-top: 60px; }
    }

    p.position {
      margin-bottom: 40px;

      // @media (min-width: $screen-md-min) {
      //   margin-bottom: 0px;
      // }
    }

    img {
      width: 100%;
      max-width: 450px;
    }
  }

  .section-mentors {
    .profile-image img { width: 150px; border: 1px solid #f04500; }
    .profile {
      margin-top: 20px;

      h3 small {
        display: block;
        margin-top: 7px;
      }
    }
  }

  // email capture section of the home and program pages
  .section-email {
    position: relative;
    padding-bottom: 100px;

    img {
      width: 100%;
      max-width: 300px;
    }

    h3 {
      text-align: center;
      text-transform: uppercase;
      font-family: 'Karla', sans-serif;
      font-size: 24px;
      margin-top: 40px;
      margin-bottom: 40px;
      font-weight: 700;

      @media (min-width: $screen-sm-min) { font-size: 28px; }
    }

    form {
      margin-top: 40px;

      @media (min-width: $screen-sm-min) { margin-top: 20px; }

      label {
        color: white;
        font-weight: normal;
      }

      .form-control {
        background: #444;
        color: #ccc;
        border-color: #555;
      }
    }

    .btn-main {
      display: inline-block;
      width: initial;
      font-size: 14px;
      font-weight: 600;
      padding: 10px 20px;

      @media (min-width: $screen-sm-min) { font-size: 16px; }
    }

    .thank-web-developer-guide {
      text-align: center;
      margin-top: 40px;

      @media (min-width: $screen-sm-min) { text-align: left; }
    }
    .thank-action {
      margin-top: 20px;

      @media (min-width: $screen-sm-min) { margin-top: 40px; }
    }
  }

  .section-benefits {
    h3 {
      color: #fff;
      font-family: "Karla",sans-serif;
      font-size: 34px;
      font-weight: 700;
      margin-bottom: 50px;
      padding: 100px 0 10px;
    }

    ul {
      margin-bottom: 60px;
      text-align: left;
    }

    li {
      font-size: 18px;
      margin-bottom: 15px;
      padding-left: 15px;
      list-style-image: image-url("bulletMir.png");
    }

    .btn-main {
      background: #f04500 none repeat scroll 0 0;
      border: 1px solid #f04500;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
    }
  }

  .txt-bold {
    font-weight: 700;
  }
  .btn-main {
    background: $brand_primary;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    padding: 10px 0;
    color: white;
    width: 280px;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    &.apply {
      background: #fff;
      margin-top: 30px;
      margin-bottom: 20px;
      border-color: #fff;
      font-weight: 400;
      @media (max-width: $screen-lg-min) {
        margin-top: 10px;
      }
    }
  }

  .financing {
    display: none;
    border: solid 1px #f04500;
    background: #fff;
    margin: 105px 0;
    padding: 30px;
    text-align: center;
    border-radius: 5px;
    .price-one {
      font-size: 42px;
      font-family: open sans;
      font-weight: 600;
      color: #f04500;
    }
    .plus {
      font-size: 42px;
    }
    .valor-total {
      font-size: 22px;
      margin: 30px 0 20px;
    }
    .directo {
      color: #f04500;
    }
    .valor-ahorro {
      font-weight: 600;
      color: #f04500;
    }
    .caption {
      font-size: 14px;
      color: #999;
    }
  }
  .financing-quote {
    margin: 105px 0;
    .more {
      text-align: center;
      margin-top: 35px;
    }
  }

  footer {
    padding-top: 100px;
    overflow: hidden;
    @media (max-width: $screen-md-min) {
      padding-top: 65px;
    }
    .logo-footer {
      text-align: center;
      margin-bottom: 45px;
      margin-top: 35px;
    }
    h4 {
      text-align: center;
      font-size: 24px;
      text-transform: uppercase;
      color: #ff4300;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      margin-bottom: 30px;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 0;
    }
    .social-icons {
      text-align: center;
      svg {
        fill: #1c1c1c;
      }
      li {
        display: inline-block;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .site-links {
      font-size: 18px;
      text-align: center;
      @media (max-width: $screen-lg-min) {
        text-align: center;
      }
      a {
        color: #3b3a3a;
      }
      li {
        margin-bottom: 15px;
        margin-right: 15px;
        display: inline-block;
        @media (max-width: 1310px) {
          display: block;
          margin-right: 0;
        }
        @media (max-width: $screen-lg-min) {
          display: inline-block;
          margin-right: 15px;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .copyright-container {
      padding: 0;
      position: relative;
      margin-top: 100px;
    }
    .copyright {
      text-align: center;
      font-size: 14px;
      color: #a1a1a1;
      padding: 30px 0;
      border-top: solid 1px #ff4300;
      a {
        font-weight: 700;
        color: #a1a1a1;
      }
    }
    .icon-mir-footer {
      position: absolute;
      right: 30px;
      top: 23px;
      @media (max-width: $screen-sm-min) {
        position: relative;
        right: auto;
        top: auto;
        margin-bottom: 30px;
        text-align: center;
      }
    }
  }
}
