.pages-layout {
  // default attributes for a section of a page
  .section {
    padding-bottom: 100px;

    h2 {
      color: $color-dark-blue;
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 1px;
      margin-top: 0;
      margin-bottom: 70px;
      padding: 80px 0 0;

      @media (min-width: $screen-sm-min) { font-size: 2.8rem; }
    }

    h3 {
      font-size: 1rem;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 40px;
    }

    h4 {
      font-size: 0.9rem;
      text-align: center;
      margin-top: 30px;
      a { color: #303030; }
    }

    p {
      color: #303030;
      font-size: 1rem;
      line-height: 1.6;
    }

    p.intro-text {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.4em;
      margin: 0;
      margin-bottom: 40px;

      @media (min-width: $screen-sm-min) {
        font-size: 28px;
        margin-bottom: 50px;
      }

      span { color: $brand_secondary; }
    }

    p.subhead {
      color: #777;
      font-size: 1rem;
      margin-bottom: 40px;

      @media (min-width: $screen-sm-min) {
        font-size: 20px;
        margin-bottom: 70px;
      }
    }
  }

  .section.section-white { background: white; }

  .section.section-transparent {
    h2, h3 { color: white; }
    p, p.subhead { color: white; }
  }

  .section.section-dark {
    background: #303030;

    h2, h3, p.intro-text { color: white; }
    p, p.subhead, ul { color: #ccc; }
  }

  .section.section-bordered {
    border-top: 1px solid darken(#f5f5f2, 15%);
    border-bottom: 1px solid darken(#f5f5f2, 15%);
  }


  // email capture section of the home and program pages
  .section-email {
    position: relative;
    padding-top: 80px;
    padding-bottom: 100px;

    img {
      width: 100%;
      max-width: 300px;

      @media(min-width: $screen-sm-min) { max-width: 400px; }
    }

    h2 { 
      color: $color-dark-blue;
      padding-top: 0;
    }

    p.download {
      color: $color-orange;
      font-size: 1rem;
      margin-top: 40px;

      @media(min-width: $screen-sm-min) { margin-top: 0; }
    }

    p.subhead { margin-bottom: 20px; }

    form {
      margin-top: 20px;
      @media (min-width: $screen-sm-min) { margin-top: 20px; }

      label { font-weight: normal; }
    }

    .btn-main {
      display: inline-block;
      width: initial;
      font-size: 14px;
      font-weight: 600;
      padding: 10px 20px;

      @media (min-width: $screen-sm-min) { font-size: 16px; }
    }

    .thank-web-developer-guide {
      text-align: center;
      margin-top: 40px;

      @media (min-width: $screen-sm-min) { text-align: left; }
    }
    .thank-action {
      margin-top: 20px;

      @media (min-width: $screen-sm-min) { margin-top: 40px; }
    }
  }

  footer.main {
    background: white;
    padding: 20px;
    border-top: 1px solid #ddd;

    .rights {
      color: $color-grey;
      font-size: 0.7rem;
      padding-top: 10px;
      text-align: center;

      @media(min-width: $screen-sm-min) { text-align: left; }
    }

    .social-icons {
      text-align: center;

      img {
        max-width: 40px;
        margin: 0 10px;
      }
    }
  }
}
