<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Top Estudiantes - Activos</h3>
  </div>
  <div class="panel-body top">
    <table class="table">
      <thead>
        <tr>
          <th class="text-center">Pos. #</th>
          <th>Estudiante</th>
          <th class="text-center">Puntos Totales</th>
        </tr>
      </thead>
      <tbody>
        <% @top_active_users.each_with_index do |user, index| %>
          <tr>
            <td class="text-center"><%= index + 1 %></td>
            <td class="user-info">
              <span class="name"><%= link_to full_name(user), admin_user_path(user) %></span>
              <span class="mail"><%= user.email %></span>
            </td>
            <td class="text-center">
              <span class="total_points"><%= user.current_points %></span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>