<%# required: url %>
<%# optional: layout ("box_count", "button_count", "button", "link", "icon_link", or "icon") %>
<% layout ||= "button" %>

<%# In development it will always share de MIR page %>
<% if Rails.env != "production" %>
  <% url = "http://makeitreal.camp" %>
<% end %>

<div class="fb-share-button"
  data-href="<%= url %>"
  data-layout="<%= layout %>">
</div>
