<% if Rails.env.test?%>
  <script>
    window.signUpAnalyticsMock = true;
  </script>
<% end %>
<% if Rails.env.production? %>
  <script>
    ga('send', 'event', { eventCategory: 'signup', eventAction: 'start' });
  </script>

  <!-- Twitter Conversion Code -->
  <script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
  <script type="text/javascript">twttr.conversion.trackPid('l6chg', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
  <noscript>
  <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l6chg&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
  <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l6chg&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
  </noscript>

  <!-- Optimizely Conversion Code -->
  <script>
    window['optimizely'] = window['optimizely'] || [];
    window.optimizely.push(["trackEvent", "signup"]);
  </script>

  <!-- Google Code for Application Conversion Page -->
  <script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 967778155;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "yiC5CJXZ-woQ6768zQM";
  var google_remarketing_only = false;
  /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
  <div style="display:inline;">
  <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/967778155/?label=yiC5CJXZ-woQ6768zQM&amp;guid=ON&amp;script=0"/>
  </div>
  </noscript>
<% end %>
