<%# required: url %>
<%# optional: link_text, text, count_url, data_count(none, vertical, horizontal) %>

<% link_text ||= "Compartir" %>
<% opts = {} %>
<% opts[:url] = url %>
<% opts[:text] = text if defined? text %>
<% count_url ||= url %>
<% data_count ||= "none" %>

<a class="twitter-share-button"
  href='https://twitter.com/intent/tweet<%= "?#{opts.to_query}" unless opts.to_query.blank?  %>'
  data-counturl="<%= count_url %>"
  data-count="<%= data_count %>"
  >
<%= link_text %></a>
