.quiz-attempt {
  margin-bottom: 60px;

  h1 {
    color: #666;
    font-size: 34px;
  }

  .attempt-metrics {
    margin-top: 60px;
    margin-bottom: 30px;

    .metric-value {
      font-size: 38px;
      font-weight: bold;

      &.failed { color: #F20028; }
      &.passed { color: #24BF53; }
    }

    .metric-label {
      color: #999;
      font-size: 14px;
      line-height: 1;
      font-weight: bold;

      .fa {
        color: #303030;
        font-size: 16px;
        margin-left: 5px;
      }
    }
  }

  .question-wrapper {
    background: white;
    margin-top: 40px;
    border: 1px solid #eee;

    &.correct { border-left: 2px solid #24BF53; }
    &.incorrect { border-left: 2px solid #a94442; }

    .question-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 25px;
      color: #999;
      border-bottom: 1px solid #eee;

      .question-type {
        font-family: $font-family-condensed;
        color: #ccc;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
      }

      .question-count {
        font-size: 14px;
      }
    }

    .question-body {
      position: relative;
      padding: 30px;

      .question {
        font-size: 21px;
        font-weight: 300;
        margin-bottom: 30px;

        code { font-size: 18px; }
        ul li {
          font-size: 18px;
          code { font-size: 14px;}
        }
      }

      .answer {
        display: flex;
        padding: 15px 20px;

        .answer-result {
          display: inline-block;
          text-align: center;
          width: 20px;
          margin-right: 10px;
        }
        .answer-text {
          font-weight: normal;
          margin-left: 15px;
          width: 100%;

          p { margin: 0; }
          pre {
            border: none;
            background: transparent;
            padding: 0;
          }
          code { background: transparent; }
        }

        &:nth-child(odd) {
          background: #fafafa;
        }
      }

      .explanation {
        margin-top: 20px;
        font-size: 14px;

        .explanation-text {
          display: none;
          color: #999;
          line-height: 1.6;
          padding: 15px 15px 0;

          pre { font-size: 14px; }
          li { margin-bottom: 4px; }
        }
      }
    }

    .question-footer {
      padding: 20px 30px;
      border-top: 1px solid #eee;
    }


  }
}
