<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= link_to admin_paths_path, class: "link" do %>
        <span class="glyphicon glyphicon-chevron-left"></span>
        Volver
      <% end %>
      <h1>Nuevo Programa</h1>
      <%= render "form" %>
    </div>
  </div>
</div>
