<%# required: own_times, time_zone %>
<div class="table-responsive own-times-container">
  <table id="own-times" class="table">
    <thead>
      <tr>
        <th>Día</th>
        <th>Disponible desde</th>
        <th>Disponible hasta</th>
        <th>Editar</th>
      </tr>
    </thead>
    <tbody>
      <% own_times.each do |pair_programming_time| %>
        <%= render "pair_programming_times/row", pair_programming_time: pair_programming_time, time_zone: time_zone %>
      <% end %>
    </tbody>
  </table>
  <%= link_to new_pair_programming_time_path, class: "btn btn-primary btn-xs", remote: true do %>
    <span class="glyphicon glyphicon-plus"></span>
    <span class="hidden-xs">Agregar horario</span>
  <% end %>
</div>
