<%# required: times, time_zone %>
<% if times.empty? %>
  <p class="text-muted text-center">
    No encontramos horarios.
  </p>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Maker</th>
        <th>Disponible desde</th>
        <th>Disponible hasta</th>
      </tr>
    </thead>
    <tbody>
      <% times.each do |time| %>
        <tr>
          <td><%= time.user.first_name %></td>
          <td><%= time.formatted_start_time(time_zone) %></td>
          <td><%= time.formatted_end_time(time_zone) %></td>
        </tr>

      <% end %>
    </tbody>
  </table>
<% end %>
