<div class="container charge-form">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Registrar Pago</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= form_for @charge, url: { controller: "admin/charges", action: :create } do |f| %>
        <%= render 'form', f: f %>

        <div class="actions text-right">
          <%= f.submit "Registrar Pago", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
