<%# required: user %>
<% unread = user.notifications.unread %>
<% count = unread.count %>
<li class="dropdow">
  <a href="#" class="dropdown-toggle notifications-btn" data-toggle="dropdown">
    <button class="btn <%= notifications_class(user) %>">
      <%= count %>
    </button>
  </a>
  <ul class="dropdown-menu notifications">
    <% if count == 0 %>
      <li class="notification"><p class="text-muted">No tienes notificaciones sin leer</p></li>
    <% else %>
      <% unread.each do |n| %>
        <%= render "notifications/notification_#{n.notification_type}", notification: n %>
      <% end %>
    <% end %>
  </ul>
</li>
