<%# required: notifications %>
<li id="refresh-notifications-container">
  <%= link_to "refresh", notifications_path(last_created_at: notifications.first.created_at.to_datetime.strftime("%Q")),
    remote: true, id: "refresh-notifications", class: "hidden" %>
</li>
<% notifications.each do |n| %>
  <%= render "notifications/notification_#{n.notification_type}", notification: n %>
<% end %>
