<%# required: notification %>

<li class="notification notification-<%=notification.notification_type%>">
  <% if notification.resource_avaliable? %>
    <%= render "notifications/notification_#{notification.notification_type}", notification: notification %>
  <% else %>
    <%= render "notifications/resource_not_available" %>
  <% end %>
</li>
