<%# required: user %>
<% count = user.notifications.unread.count %>
<li id="notifications-widget" class="dropdown">

  <%= link_to mark_as_read_notifications_path, remote: true, method: :put, class: "dropdown-toggle notifications-btn","data-toggle" => "dropdown" do %>
    <%= render "notifications/count", count: count %>
  <% end %>
  <ul id="notifications" class="dropdown-menu notifications">
    <%= render "notifications/notifications", user: user %>
  </ul>
</li>
<%= render "notifications/retrieve_new_script" %>
