<div class="answer-wrapper">
  <div class="question">1. Crear una p치gina Web:</div>
  <div class="answer">
    <%= @test.a1 %>
  </div>
</div>

<div class="answer-wrapper">
  <div class="question">2. Escribir una funci칩n <code>count</code>:</div>
  <div class="answer">
    <pre><code><%= @test.a2 %></code></pre>
  </div>
</div>

<div class="answer-wrapper">
  <div class="question">3. Escribir una funci칩n <code>filter</code>:</div>
  <div class="answer">
    <pre><code><%= @test.a3 %></code></pre>
  </div>
</div>

<div class="answer-wrapper">
  <div class="question">4. Escribir una funci칩n <code>hypotenuse</code>:</div>
  <div class="answer">
    <pre><code><%= @test.a4 %></code></pre>
  </div>
</div>
