<p>Lenguaje: <%= lang_to_human(@test.lang) %></p>
<div class="answer-wrapper">
  <div class="question">1. Escribir una función <code>calcularImpuestos</code>:</div>
  <div class="answer">
    <pre><code><%= @test.a1 %></code></pre>
  </div>
</div>

<div class="answer-wrapper">
  <div class="question">2. Escribir una función <code>asteriscos</code>:</div>
  <div class="answer">
    <pre><code><%= @test.a2 %></code></pre>
  </div>
</div>

<div class="answer-wrapper">
  <div class="question">3. Escribir una función <code>duplicar</code>:</div>
  <div class="answer">
    <pre><code><%= @test.a3 %></code></pre>
  </div>
</div>
