<p>Hola<%= @user.first_name? ? " #{@user.first_name}" : "" %>,</p>

<p><strong>¡<%= genderize("Bienvenido", "Bienvenida", @user) %> a Make it Real!</strong> Estamos muy emocionados de que hagas parte de nuestra comunidad y te agradecemos por haber depositado tu confianza en nosotros.</p>

<p>El primer paso es activar tu cuenta en la plataforma de aprendizaje haciendo click en el siguiente botón:</p>

<div class="button-wrapper">
  <%= link_to "Activar mi cuenta", activate_users_url(token: @user.password_reset_token), class: "button" %>
</div>

<p>Si tienes alguna pregunta o inquietud simplemente responde este correo y con gusto la atenderé.</p>

<p>Cordial saludo,</p>

<p class="signature">Diana Vanegas<br>
makeitreal.camp</p>
