<p>Hola <%= @charge.first_name %>,</p>

<p>La entidad financiera ha rechazado el pago con la siguiente respuesta:</p>

<pre><code><%= @charge.error_message %></code></pre>

<p>Puedes volver a intentar el pago <a href="<%= ENV['HOSTNAME'] %>/courses/nodejs-mongodb/medellin">haciendo click acá</a>.</p>

<p>Si tienes alguna pregunta o inquietud no dudes en comunicarte con nosotros respondiendo este correo. </p>

<p class="signature">
  <strong>Diana Vanegas</strong><br>
  <strong>makeitreal.camp</strong>
</p>
