<p>Hola <%= @charge.first_name %>,</p>

<p>Tu cupo para el curso de <strong>React y React Native</strong> está reservado.</p>

<p>Ten en cuenta que:</p>

<ul>
  <li>El pago del cupo no es reembolsable a menos que, por alguna razón, el curso no se lleve a cabo en la fecha prevista; en ese caso se reembolsará el 100% del dinero.</li>
  <li>Te enviaremos un link de cobro por el valor restante cuando los cupos se hayan llenado. Debes pagar ese valor antes de iniciar el curso.</li>
  <li>Tienes que tener tu propio computador para poder asistir a clases.</li>
  <li>Si no se puede llevar a cabo el curso en la fecha prevista, la devolución del dinero se realizará directamente a tu tarjeta de crédito.</li>
</ul>

<p>Si tienes alguna pregunta o inquietud no dudes en comunicarte con nosotros respondiendo este correo.</p>

<p class="signature">
  <strong>Diana Vanegas</strong><br>
  <strong>makeitreal.camp</strong>
</p>
