<p>Hola<%= @user.first_name? ? " #{@user.first_name}" : "" %>,</p>

<p>¡Gracias por activar tu cuenta! El siguiente paso es leer la <strong>Guía del Estudiante</strong> que se encuentra en el siguiente link:</p>

<p><%= link_to handbook_url, handbook_url %>.</p>

<p>En la guía encontrarás toda la información que necesitas para iniciar el programa.</p>

<p>En las próximas 24 horas tu mentor se comunicará contigo para coordinar la primera mentoría en donde recibirás consejos importantes que te ayudarán a tener éxito en el programa.</p>

<p>Si tienes alguna pregunta o inquietud simplemente responde este correo y con gusto la atenderé.</p>

<p>Cordial Saludo,</p>

<p style="margin-left: 30px;">Diana Vanegas<br>
makeitreal.camp</p>
