<div class="welcome-email" style="max-width: 600px;width: 100%">
  <div class="logo">
    <a href="http://www.makeitreal.camp" target="_blank" class="logo-email" style="color: #ff4300;text-decoration: none;">
      <img src="https://s3.amazonaws.com/makeitreal/email-assets/logoMirEmail.png" alt="Make it Real" style="width:162px;">
    </a>
  </div>

  <div class="content" style="margin-top: 30px; margin-bottom:50px;">
    <p style="color:#515151">Hola<%= @user.first_name? ? " #{@user.first_name}" : "" %>, ¡Bienvenido a Make it Real!</p>
    <p style="color:#515151; margin-bottom: 30px;">Ahora, esto es lo que va a suceder:</p>
    <ol style="color:#515151">
      <li style="color:#515151; margin-bottom: 15px;">Vas a recibir una inivitación vía email para hacer parte de nuestra comunidad en slack.  Slack es el chat que usan todos los estudiantes, ex-estudiantes y mentores de Make it Real y por lo tanto es el principal punto de encuentro de nuestra comunidad. Si no sabes qué es Slack, puedes darte una mejor idea <a href="https://slack.com/getting-started" target="_blank" style="color: #ff4300;text-decoration: none">aquí.</a></li>
      <li style="color:#515151; margin-bottom: 15px;">¿Ya creaste tu cuenta en Slack? Recuerda que si no lo has hecho, no podrás ingresar a nuestra plataforma de aprendizaje.</li>
      <li style="color:#515151; margin-bottom: 15px;">Tu mentor te va a contactar para concretar una videoconferencia de bienvenida y de "primeros pasos" vía Skype o Google Hangouts.</li>
      <li style="color:#515151; margin-bottom: 15px;">Por último te recomendamos que leas nuestra guía para que te pongas en sintonía con nuestra filosofía de enseñanza y aprendizaje: <a href="http://www.makeitreal.camp/handbook" target="_blank" style="color: #ff4300;text-decoration: none">Guía del Estudiante.</a></li>
      <li style="color:#515151">Si tienes dudas, aprovecha y utiliza Slack para contactarnos. Allí estaremos para ti.</li>
    </ol>
  </div>
  
  <p style="color:#515151">Saludos y de nuevo, ¡bienvenido!</p>
  <p>
    <span class="txt-bold" style="font-weight: bold">Equipo Make it Real</span><br>
    <a href="http://www.makeitreal.camp" target="_blank" style="color: #ff4300;text-decoration: none">makeitreal.camp</a>
  </p>
  <div class="mir-icon" style="margin-top: 15px">
    <img src="https://s3.amazonaws.com/makeitreal/email-assets/iconMirEmail.png" alt="Make it Real" style="width:26px;">
  </div>
</div>
