<p>Hola<%= @user.first_name? ? " #{@user.first_name}" : "" %>,</p>

<p>Mi nombre es Juan Gomez y soy uno de los mentores que te guiará en el proceso de aprendizaje para convertirte en <%= genderize("desarrollador", "desarrolladora", @user) %> web.</p>

<p>Me gustaría programar un hangout de bienvenida contigo para darte un introducción al programa y ayudarte a organizar tu plan de estudio de forma que aproveches al máximo todo lo que tenemos por ofrecerte.</p>

<p>Aprender a programar es un proceso que require de disciplina y mucha motivación, es por esto que es importante establecer un horario fijo en el cual vas a estar dedicado al programa. Para ayudarte con esto me gustaría que definiéramos una hora en la que nos podamos reunir todas las semanas durante 5 minutos para revisar tus objetivos, avances y dificultades de forma que tengas el mayor acompañamiento posible de parte de nosotros.</p>

<p>Cuando puedas respóndeme este correo o escríbeme por Slack, diciéndome en qué momento te queda bien realizar el hangout de bienvenida.
</p>

<p>De parte del equipo de Make It Real te deseamos un excelente dia lleno de aprendizajes!</p>

