<p>Hola<%= @user.first_name? ? " #{@user.first_name}" : "" %>,</p>

<p><strong>¡<%= genderize("Bienvenido", "Bienvenida", @user) %> a Make it Real!</strong> Estamos muy emocionados de que hagas parte de nuestra comunidad y te agradecemos por haber depositado tu confianza en nosotros.</p>

<p>Los siguientes pasos para empezar tu aprendizaje son:</p>
<ol>
  <li>Vas a recibir un email (puede que ya lo hayas recibido) para activar tu cuenta en Slack. Sigue las instrucciones. Slack es el chat que utilizamos para interactuar y que estés en contacto con los mentores.</li>
  <li>Ingresa a la plataforma de aprendizaje <a href="http://makeitreal.camp/login" target="_blank">haciendo click acá</a> y completa tus datos.</li>
  <li>Lee nuestra <a href="http://www.makeitreal.camp/handbook" target="_blank">Guía del Estudiante</a> para que te pongas en sintonía con nuestra filosofía de enseñanza y aprendizaje.</li>
  <li>Tu mentor te va a contactar vía Slack para concretar una videoconferencia de bienvenida y de "primeros pasos" vía Skype o Google Hangouts.</li>
</ol>

<p>Si tienes dudas, aprovecha y utiliza Slack para contactarnos. Allí estaremos para ti.</p>

<p>Saludos y de nuevo ¡<%= genderize("bienvenido", "bienvenida", @user) %>!</p>

<p class="signature">
  <strong>Diana Vanegas</strong><br>
  <strong>makeitreal.camp</strong>
</p>
