<p>Hola<%= @user.first_name? ? " #{@user.first_name}" : "" %>,</p>

<p>¡Gracias por hacer parte de Make it real, mas tarde  le llegara una invitación del canal Slack,
 donde podras recibir ayuda ilimitada de mentores y compartir el conocimiento con otros estudiantes. </p>

<p> El siguiente paso es leer la <strong>Guía del Estudiante</strong> que se encuentra en el siguiente link:</p>

<p><%= link_to handbook_url, handbook_url %>.</p>

<p>En la guía encontrarás toda la información que necesitas para iniciar el programa.</p>

<p>Si tienes alguna pregunta o inquietud simplemente responde este correo y con gusto la atenderé.</p>

<p>Cordial Saludo,</p>

<p style="margin-left: 30px;">Diana Vanegas<br>
makeitreal.camp</p>
