<%# required: msg %>
<%# optional: type %>
<div class='alert alert-top  fade in <%= "alert-top-#{type}" if defined? type %>'>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= msg.html_safe %>
</div>
