<div class="actions">
  <% if challenge.pair_programming %><span class="icon-users action action-blue" data-toggle="tooltip" data-placement="bottom" title="Ideal para hacer pair-programming"></span><% end %>
  <% if current_user.is_admin? %>
    <% if !challenge.restricted %><span class="glyphicon glyphicon-heart action action-love" data-toggle="tooltip" data-placement="bottom" title="Gratis"></span><% end %>
    <% if !challenge.published %><span class="glyphicon glyphicon-exclamation-sign action action-warn" data-toggle="tooltip" data-placement="bottom" title="No publicado"></span><% end %>
    <%= link_to '<span class="glyphicon glyphicon-pencil action action-edit"></span>'.html_safe, edit_admin_subject_challenge_path(challenge.subject, challenge) %>
    <%= link_to '<span class="glyphicon glyphicon-remove action action-remove"></span>'.html_safe, admin_subject_challenge_path(challenge.subject, challenge), remote: true, data: { confirm: "Are you sure you want to delete this?" }, method: :delete %>
  <% end %>
</div>
