<% if object.errors.any? %>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h2 class="panel-title">
        
        <%= I18n.t('activerecord.errors.template.header', :count => object.errors.size, :model => object.class) %>
      </h2>
    </div>
    <div class="panel-body">
      <ul>
        <% object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
