<div class="container">
	<div class="row" style="margin:100px">
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#send_email">
          Crear un nuevo template
          </button>
          <%= render "email_templates"%>
	</div>
</div>

