<div class="email-templates-page">
  <div class="container">
    <div class="row" >
      <div class="col-sm-12">
        <div class="email-templates-header">
          <h1>Plantillas de Email</h1>
          <%= link_to '<span class="glyphicon glyphicon-plus"></span> Nueva Plantilla'.html_safe, new_admin_email_template_path, remote: true, class: "btn btn-primary" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <table class="table">
          <thead>
            <tr>
              <th>Título</th>
              <th>Asunto</th>
              <th class="text-right"></th>
            </tr>
          </thead>
          <tbody>
            <%= render @templates %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
