<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1><%=@template.title%></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2" id="show_subject_email">
        <h3>Asunto:</h3> <p class="show_subject"><%=@template.subject%></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h3>Mensaje:</h3>
        <p class="show_body"><%=@template.body%></p>
      </div>
    </div>
    <%=link_to "Volver", admin_email_templates_path, class: "btn_show_email btn btn-primary"%>
</div>
