<%# required: question_attempt %>
<% question = question_attempt.question %>
<% quiz = question.quiz %>
<% course = quiz.course %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p class="question">
        <%= markdown question.text %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= form_for :question_attempt,url: question_attempt_path(question_attempt),
        method: :patch, remote: true,
        html: {class: "open-question-attempt",id: "question-attempt-#{question_attempt.id}"} do |f| %>
        <%= f.text_area :answer %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  (function() {
    var view = new OpenQuestionAttempt({el: "#question-attempt-<%= question_attempt.id %>"})

    $(document).on("page:before-change", function() {
      view.remove();
    });
  })();

</script>
