<%# required: question_attempt %>
<% question = question_attempt.question %>
<% quiz = question.quiz %>
<% subject = quiz.subject %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p class="question">
        <%= markdown question.text %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= form_for :question_attempt, url: "#dummy",
        html: {class: "open-question-attempt"} do |f| %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-xs-2"></th>
              <th class="col-xs-5">Tu Respuesta</th>
              <th class="col-xs-5">Respuesta Correcta</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-xs-2">
                <% if question_attempt.is_correct? %>
                  <span class="text-success glyphicon glyphicon-ok"></span>
                <% else %>
                  <span class="text-danger glyphicon glyphicon-remove"></span>
                <% end %>
              </td>
              <td class="col-xs-5">
                <%= question_attempt.answer %>
              </td>
              <td class="col-xs-5">
                <%= question_attempt.question.correct_answer %>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
