<div class="container quiz-attempt">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @quiz.name %></h1>
    </div>
  </div>

  <% @quiz_attempt.question_attempts.each do |qa| %>
    <div class="row question">
      <div class="col-xs-12">
        <%= render "#{qa.type.demodulize.underscore}", question_attempt: qa %>
      </div>
    </div>
  <% end %>
  <div class="row finish-quiz">
    <hr>
    <div class="col-xs-12">
      <%= button_to "Finalizar quiz y ver resultado", finish_quiz_attempt_path(@quiz_attempt), method: :patch, class: "btn btn-primary" %>
    </div>
  </div>
</div>
