<a name="curriculum"></a>
<div class="section section-curriculum">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Currículo</h2>
        <p class="subhead">En este programa aprenderás las habilidades necesarias para escribir pruebas automatizadas y trabajar en equipos de QA:</p>

        <div class="curriculum-detail">
          <div class="subject">
            <h3>Módulo 1 - Introducción</h3>
            <p>Los conceptos, procesos y estándares que existen en QA, y entenderás cuál el rol del agile tester dentro de Scrum.</p>
          </div>
          <div class="subject">
            <h3>Módulo 2 - Planeación y diseño de pruebas</h3>
            <p>Cómo crear un plan de pruebas, qué probar, cómo priorizar y qué herramientas utilizar.</p>
          </div>
          <div class="subject">
            <h3>Módulo 3 - Git, Github y Jira</h3>
            <p>El papel que juegan estas herramientas y cómo utilizarlas en QA.</p>
          </div>
          <div class="subject">
            <h3>Módulo 4 - JavaScript Avanzado</h3>
            <p>ES6, Programación asincrónica, y otros temas relevantes para la creación de pruebas automatizadas.</p>
          </div>
          <div class="subject">
            <h3>Módulo 5 - Jest</h3>
            <p>Aprenderás a escribir pruebas automatizadas unitarias y de integración con esta librería creada en Facebook, y otras de apoyo para mocking y stubbing.</p>
          </div>
          <div class="subject">
            <h3>Módulo 6 - Cypress</h3>
            <p>Aprenderás escribir pruebas end-to-end con esta herramienta que cada día gana popularidad por su facilidad de uso y flexibilidad.</p>
          </div>
          <div class="subject">
            <h3>Módulo 7 - Integración Continua</h3>
            <p>Hablaremos sobre qué es la integración continua y aprenderás a utilizar Github Actions, CircleCI, Jenkins.</p>
          </div>
          <div class="subject">
            <h3>Módulo 8 - Cucumber.js</h3>
            <p>Trabajaremos con esta herramienta que permite crear pruebas utilizando lenguaje natural basado en escenarios.</p>
          </div>
          <div class="subject">
            <h3>Módulo 9 - Pruebas de seguridad</h3>
            <p>Discutiremos sobre lo que debes probar para mantener las aplicaciones seguras utilizando la guía de OWASP.</p>
          </div>
          <div class="subject">
            <h3>Módulo 10 - Pruebas de carga</h3>
            <p>Veremos herramientas para realizar pruebas de carga y medir el rendimiento de las aplicaciones.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
