<a name="faqs"></a>
<section class="section section-white section-faq">
  <div class="container">
    <h2>Preguntas frecuentes</h2>

    <div class="row">
      <div class="col-sm-6">
        <section class="question">
          <h3>¿Por qué existe Make it Real?</h3>
          <p>Por dos razones principalmente. Por un lado existe una desconexión entre la academia y la industria. Las empresas no están encontrando las personas con los conocimientos que necesitan, pero muchos profesionales siguen sin empleo.</p>
          <p>La segunda razón es que, desafortunadamente, la mayoría de la educación está mal implementada. La clase magistral y las calificaciones son obsoletas. Creemos que es el momento de repensar la educación.</p>
        </section><!--/question -->

        <section class="question">
          <h3>¿Por qué aprender QA?</h3>
          <p>Las empresas invierten cada vez más en la calidad de sus productos digitales porque un error en producción puede ser catastrófico.</p>
          <p>Entre los roles de la programación, QA es quizá el de mayor crecimiento en este momento ofreciendo una oportunidad única para los que quieran tomar este camino.</p>
        </section><!--/question -->
      </div>

      <div class="col-sm-6">
        <section class="question">
          <h3>¿Cuáles son los requisitos?</h3>
          <p>Para el curso necesitas:</p>
          <ul>
            <li>Un computador personal con mínimo 8GB de RAM.</li>
            <li>Conexión a Internet de al menos 5Mbps.</li>
            <li>Conocimientos previos en desarrollo Web (HTTP, HTML, CSS, JavaScript).</li>
          </ul>
        </section><!--/question -->

        <section class="question">
          <h3>¿Cuáles serán mis habilidades al finalizar el programa?</h3>
          <p>Conocerás todos los conceptos, procesos y herramientas que se utilizan en QA, además podrás escribir pruebas automatizadas utilizando librerías de JavaScript.</p>
        </section><!--/question -->
      </div>
    </div>
  </div>
</section>
