<div class="apply-now">
  <div class="top-container">
    <div class="col-md-6 col-md-offset-3">
      <h3>¿Cuánto cuesta el programa?</h3>
      <div class="price now">COP$2'290,000</div>
      <!--div class="price now">COP$2'290,000</div>
      <div class="price-caption">* El descuento aplica hasta el 30 de Septiembre de 2015. Solo disponible en Colombia. Precio en Pesos Colombianos</div>-->
      <h4>¿Qué recibo?</h4>
      <ul>
        <li>Acceso de por vida a Slack (chat) para interactuar con alumnos y mentores. La comunidad estará ahí para apoyarte cuando encuentres un empleo o estés desarrollando tu idea de negocio.</li>
        <li>Acceso por un año a la plataforma (retos, cursos, charlas, y material adicional).</li>
      </ul>
    </div>

    <div class="col-md-4 col-md-offset-4">
      <%= link_to "https://makeitreal.typeform.com/to/KbayyW", class: "btn btn-main" do %>
        ¡Aplica ahora!</a>
        <div class="secret hidden">HcUy6Re2LLBRtj</div>
      <% end %>
    </div>

  </div>

  <div class="icon-mir">
    <%= image_tag("bgIconMir.png", class: "img-responsive") %>
  </div>
</div><!--/apply-now -->
