<div class="section section-dark section-email">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-5 col-md-offset-1 text-center"><%= image_tag "web-developer-guide-book.png" %></div>
      <div class="col-sm-6 col-md-5 text-center">
        <h3>Mantente informado</h3>
        <p>Recibe información de nuestros Bootcamps, talleres y otros eventos. Además, descarga nuestro e-book completamente gratis!</p>
        <%= link_to "Suscribirme y descargar e-book", web_developer_guide_path, class: "btn btn-main" %>
      </div>
    </div>
  </div>
</div><!--/email -->
