<div class="email">
  <div class="top-container">
    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <h3>Manténte Informado</h3>
      <p>Déjanos tu correo para recibir contenido exclusivo e información de eventos y talleres.</p>
    </div>

    <div class="col-md-4 col-md-offset-4">

      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="//camp.us9.list-manage.com/subscribe/post?u=7ceeee60942d89164146c9ddf&amp;id=7c101d0fe8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="form-group">
            <input type="email" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="elcorreo@email.com" required>
            <input type="submit" value="Suscribirme" name="subscribe" id="mc-embedded-subscribe" class="btn btn-main">
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_7ceeee60942d89164146c9ddf_7c101d0fe8" tabindex="-1" value=""></div>
          <div class="clear"></div>
        </form>
      </div>

      <!--End mc_embed_signup-->
    </div>

  </div>
</div><!--/email -->
