<div class="form-group">
  <label for="first_name">Nombre *</label>
  <div class="row">
    <div class="col-xs-6"><input type="text" id="first_name" name="first_name" class="form-control" placeholder="Nombre" required></div>
    <div class="col-xs-6"><input type="text" id="last_name" name="last_name" class="form-control" placeholder="Apellido" required></div>
  </div>
</div>
<div class="form-group">
  <div class="form-group">
    <label for="email">E-mail *</label>
    <input type="email" id="email" name="email" class="form-control" placeholder="Ingresa tu email" required>
  </div>
</div>
<div class="form-group">
  <label for="goal">Selecciona la opción que te describa mejor *</label>
  <select name="goal" id="goal" class="form-control" required>
    <option value=""><< Selecciona >></option>
    <option value="change-career">Quiero cambiar de carrera</option>
    <option value="complement-career">Estudio Sistemas (o algo relacionado) y quiero complementar</option>
    <option value="improve-skills">Quiero actualizar/mejorar mis conocimientos en programación</option>
    <option value="create-products">Soy emprendedor</option>
  </select>
</div>
