<div class="enroll">
  <div class="top-container">

    <div class="col-md-4 col-md-offset-4">
      <%= link_to "https://makeitreal.typeform.com/to/KbayyW", class: "btn btn-main" do %>
        ¡Aplica ahora!</a>
        <div class="secret hidden">HcUy6Re2LLBRtj</div>
      <% end %>
    </div>

  </div>

  <div class="icon-mir">
    <%= image_tag("bgIconMir.png", class: "img-responsive") %>
  </div>
</div><!--/apply-now -->
