<a name="students"></a>
<section class="section section-white section-quotes">
  <div class="container">
    <h2>Testimonios</h2>

    <div class="owl-carousel">
      <div class="quote">
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="quote-image">
              <%= image_tag "people/danilo-galindo.png", alt: "Danilo Galindo", class: "img-circle" %>
            </div>
          </div>
          <div class="col-md-5">
            <div class="quote-data">
              <div class="quote-name">Danilo Galindo</div>
              <div class="quote-position">Data Scientist</div>
              <div class="quote-company">en DataSource</div>
              <div class="quote-text">
                Fue una gran experiencia. Me ayudó a iniciarme a comprender y valorar el poder que tienen los datos. Así mismo, fortalecer las bases para organizar, manipular, predecir y presentar data real
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="quote">
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="quote-image">
              <%= image_tag "people/julio-bertty.png", alt: "Julio Bertty", class: "img-circle" %>
            </div>
          </div>
          <div class="col-md-5">
            <div class="quote-data">
              <div class="quote-name">Julio Bertty</div>
              <div class="quote-position">Analista de Datos</div>
              <div class="quote-text">
                Por medio de Make it Real encontré él camino mas eficiente para adentrarme en este amplio mundo, gracias a excelentes mentores que fomentan el conocimiento con base en su gran experiencia
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="quote">
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="quote-image">
              <%= image_tag "people/daniel-arroyave.png", alt: "Daniel Arroyave", class: "img-circle" %>
            </div>
          </div>
          <div class="col-md-5">
            <div class="quote-data">
              <div class="quote-name">Daniel Arroyave</div>
              <div class="quote-position">Data Scientist</div>
              <div class="quote-company">en DataSource</div>
              <div class="quote-text">
                Make it Real me proporciono las bases fundamentales en Data Science, desde la exploración básica de datos hasta la creación de modelos de machine learning.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
