<a name="curriculum"></a>
<div class="section learnings-program">
  <div class="container">
    <div class="row">
      <div class="col-md-12 program-title title-styled">
        <h2>El currículo</h2>
        <p class="subhead">En este programa aprenderás las habilidades necesarias para extraer, visualizar y analizar información utilizando Python y librerías específicas para este fin. Los módulos que verás son los siguientes:</p>
      </div>
    </div>

    <div class="row technologies">
      <div class="col-sm-12">
        <div class="curriculum-detail">
          <div class="week">
            <header>Módulo 1 <span class="week-title visible-xs-inline">- Introducción y SQL</span></header>
            <div>
              <div class="week-title hidden-xs">Introducción y SQL</div>
              <div class="week-text">Iniciaremos con una introducción a Data Science y aprenderás a utilizar SQL (Structured Query Language) para crear consultas complejas y extraer información de bases de datos.</div>
            </div>
          </div>
          <div class="week">
            <header>Módulo 2 <span class="week-title visible-xs-inline">- Python</span></header>
            <div>
              <div class="week-title hidden-xs">Python</div>
              <div class="week-text">Aprenderás las características, sintaxis, controles de flujo, listas, diccionarios, funciones y librerías de Python.</div>
            </div>
          </div>
          <div class="week">
            <header>Módulo 3 <span class="week-title visible-xs-inline">- Numpy y Jupyter Notebook</span></header>
            <div>
              <div class="week-title hidden-xs">Numpy y Jupyter Notebook</div>
              <div class="week-text">Aprenderás las bases de Numpy, una librería de Python para manipular datos y realizar cálculos estadísticos. Además aprenderás de Jupyter Notebook, una herramienta para crear y compartir documentos con código, ecuaciones, visualizaciones y texto.</div>
            </div>
          </div>
          <div class="week">
            <header>Módulo 4 <span class="week-title visible-xs-inline">- Pandas</span></header>
            <div>
              <div class="week-title hidden-xs">Pandas</div>
              <div class="week-text">Empezarás a aprender de Pandas, una librería estándar de Python que provee de herramientas para manipulación y análisis de datos.</div>
            </div>
          </div>
          <div class="week">
            <header>Módulo 5 <span class="week-title visible-xs-inline">- Pandas</span></header>
            <div>
              <div class="week-title hidden-xs">Pandas</div>
              <div class="week-text">Seguiremos con temas de Pandas como agregación y combinación de información de múltiples marcos de datos (data frames).</div>
            </div>
          </div>
          <div class="week">
            <header>Módulo 6 <span class="week-title visible-xs-inline">- Visualización de datos</span></header>
            <div>
              <div class="week-title hidden-xs">Visualización de datos</div>
              <div class="week-text">Realizarás visualizaciones de datos utilizando librerías como Matplotlib y Seaborn para generar gráficas útiles para el proceso de análisis.</div>
            </div>
          </div>
          <div class="week">
            <header>Módulo 7 <span class="week-title visible-xs-inline">- Machine Learning</span></header>
            <div>
              <div class="week-title hidden-xs">Machine Learning</div>
              <div class="week-text">Conoce y utiliza algoritmos de aprendizaje supervisado como regresión lineal y clasificación (k-Nearest Neighbors, Naives Bayes).</div>
            </div>
          </div>
          <div class="week">
            <header>Módulo 8 <span class="week-title visible-xs-inline">- Machine Learning</span></header>
            <div>
              <div class="week-title hidden-xs">Machine Learning</div>
              <div class="week-text">Continuarémos con otros algoritmos supervisados como regresión logística y árboles de decisión, entre otros.</div>
            </div>
          </div>
          <div class="week">
            <header>Módulo 9 <span class="week-title visible-xs-inline">- Machine Learning</span></header>
            <div>
              <div class="week-title hidden-xs">Machine Learning</div>
              <div class="week-text">Hablaremos de algoritmos de aprendizaje no supervisado, temas más avanzados de Machine Learning y próximos pasos.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
