<a name="curriculum"></a>
<div class="section section-curriculum">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Currículo</h2>
        <p class="subhead">En este programa aprenderás las habilidades necesarias para extraer, visualizar y analizar información utilizando Python y librerías específicas para este fin. Los módulos que verás son los siguientes:</p>

        <div class="curriculum-detail">
          <div class="subject">
            <h3>Módulo 1 - Python</h3>
            <p>Aprenderás las características, sintaxis, controles de flujo, listas, diccionarios, funciones y librerías de Python.</p>
          </div>
          <div class="subject">
            <h3>Módulo 2 - Numpy y Jupyter Notebook</h3>
            <p>Aprenderás las bases de Numpy, una librería de Python para manipular datos y realizar cálculos estadísticos. Además aprenderás de Jupyter Notebook, una herramienta para crear y compartir documentos con código, ecuaciones, visualizaciones y texto.</p>
          </div>
          <div class="subject">
            <h3>Módulo 3 - Pandas</h3>
            <p>Empezarás a aprender de Pandas, una librería estándar de Python que provee de herramientas para manipulación y análisis de datos.</p>
          </div>
          <div class="subject">
            <h3>Módulo 4 - Pandas</h3>
            <p>Seguiremos con temas de Pandas como agregación y combinación de información de múltiples marcos de datos (data frames).</p>
          </div>
          <div class="subject">
            <h3>Módulo 5 - Visualización de datos</h3>
            <p>Realizarás visualizaciones de datos utilizando librerías como Matplotlib y Seaborn para generar gráficas útiles para el proceso de análisis.</p>
          </div>
          <div class="subject">
            <h3>Módulo 6 - Feature Engineering</h3>
            <p>Aprenderás a identificar variables numéricas y categórias, cuantificar datos que faltan, determinar la cardinalidad de las variables categóricas, identificar distribuciones y destacar valores atípicos, entre otros.</p>
          </div>
          <div class="subject">
            <h3>Módulo 7 - Machine Learning</h3>
            <p>Conoce y utiliza algoritmos de aprendizaje supervisado como regresión lineal y clasificación (k-Nearest Neighbors, Naives Bayes).</p>
          </div>
          <div class="subject">
            <h3>Módulo 8 - Machine Learning</h3>
            <p>Continuarémos con otros algoritmos supervisados como regresión logística y árboles de decisión, entre otros.</p>
          </div>
          <div class="subject">
            <h3>Módulo 9 - Machine Learning</h3>
            <p>Hablaremos de algoritmos de aprendizaje no supervisado, temas más avanzados de Machine Learning y próximos pasos.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
