<a name="students"></a>
<section class="section section-quotes" style="padding-bottom: 0;">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="each-quote">
          <p>"Fue una gran experiencia. Me ayudó a iniciarme a comprender y valorar el poder que tienen los datos. Así mismo, fortalecer las bases para organizar, manipular, predecir y presentar data real"</p>
          <div class="student-data">
            <div class="profile-img">
              <%= image_tag "people/danilo-galindo.png", alt: "Danilo Galindo", class: "img-circle" %>
            </div>
            <span class="profile-name txt-bold">Danilo Galindo</span>
            <span class="profile-status">Data Scientist en DataSource</span>
          </div><!--/student-data -->
        </div> <!--/each-quote -->
      </div><!--/col-md-6 -->

      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="each-quote">
          <p>"Por medio de Make it Real encontré él camino mas eficiente para adentrarme en este amplio mundo, gracias a excelentes mentores que fomentan el conocimiento con base en su gran experiencia"</p>
          <div class="student-data">
            <div class="profile-img">
              <%= image_tag "people/julio-bertty.png", alt: "Julio Bertty", class: "img-circle" %>
            </div>
            <span class="profile-name txt-bold">Julio Bertty</span>
            <span class="profile-status">Analista de Datos</span>
          </div><!--/student-data -->
        </div> <!--/each-quote -->
      </div><!--/col-md-6 -->

      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="each-quote">
          <p>"Make it Real me proporciono las bases fundamentales en Data Science, desde la exploración básica de datos hasta la creación de modelos de machine learning."</p>
          <div class="student-data">
            <div class="profile-img">
              <%= image_tag "people/daniel-arroyave.png", alt: "Daniel Arroyave", class: "img-circle" %>
            </div>
            <span class="profile-name txt-bold">Daniel Arroyave</span>
            <span class="profile-status">Data Scientist en DataSource</span>
          </div><!--/student-data -->
        </div> <!--/each-quote -->
      </div><!--/col-md-6 -->
    </div>
  </div>
</section>
