<a name="faqs"></a>
<section class="section section-faq">
  <div class="container">
    <h2>Preguntas frecuentes</h2>

    <div class="row">
      <div class="col-sm-6">
        <section class="question">
          <h3>¿Por qué existe Make it Real?</h3>
          <p>Por dos razones principalmente. Por un lado existe una desconexión entre la academia y la industria. Las empresas no están encontrando las personas con los conocimientos que necesitan, pero muchos profesionales siguen sin empleo.</p>
          <p>La segunda razón es que, desafortunadamente, la mayoría de la educación está mal implementada. La clase magistral y las calificaciones son obsoletas. Creemos que es el momento de repensar la educación.</p>
        </section><!--/question -->

        <section class="question">
          <h3>¿Cuál es la metodología?</h3>
          <p>A pesar de ser un programa online, la metodología es muy similar a la de un curso presencial. En hora de clase te conectas a través de video llamada e interactúas con el mentor y tus compañeros en donde recibirás la lección y ejercicios prácticos para interiorizar los conceptos aprendidos.</p>
        </section><!--/question -->

        <section class="question">
          <h3>¿Cuál es la duración e intensidad?</h3>
          <p>Es un programa de 135 horas, aproximadamente 4 meses de Lunes, Miércoles y Viernes de 6pm a 9pm. Los días festivos se reponen al final.</p>
        </section><!--/question -->
      </div>

      <div class="col-sm-6">
        <section class="question">
          <h3>¿Cuáles son los requisitos?</h3>
          <p>Para sacar el mayor provecho es importante que hayas programado previamente, no importa el lenguaje de programación. Que conozcas conceptos como variables, condicionales, ciclos, arreglos y funciones.</p>
          <p>Si no has programado antes te recomendamos <a href="https://www.youtube.com/watch?v=_uQrJ0TkZlc" target="_blank">este curso gratis de Python</a> (en Inglés).</p>
          <p>Adicionalmente necesitas:</p>
          <ul>
            <li>Computador personal.</li>
            <li>Conexión de Internet de al menos 2Mbps.</li>
            <li>Un sitio tranquilo y sin distracciones en el horario de clase.</li>
            <li>Y muchas ganas de aprender!</li>
          </ul>
        </section><!--/question -->

        <section class="question">
          <h3>¿Cuáles serán mis habilidades al finalizar el programa?</h3>
          <p>Tendrás un panorama general de las herramientas, metodologías y algoritmos que se utilizan para diseñar e implementar proyectos de Data Science en tu trabajo o empresa.</p>
        </section><!--/question -->
      </div>
    </div>
  </div>
</section>
