<a name="curriculum"></a>
<div class="section learnings-program">
  <div class="container">
    <div class="row">
      <div class="col-md-12 program-title title-styled">
        <h2>El currículo</h2>
        <p class="subhead">En este programa aprenderás las habilidades necesarias para extraer, visualizar y analizar información utilizando Python y librerías específicas para este fin. Los temas semana a semana son los siguientes:</p>
      </div>
    </div>

    <div class="row technologies">
      <div class="col-sm-12">
        <table class="table">
          <tbody>
            <tr>
              <td class="curriculum-week">Semana 1</td>
              <td>Introducción y SQL<small>Iniciaremos con una introducción a Data Science y aprenderás a utilizar SQL (Structured Query Language) para crear consultas complejas y extraer información de bases de datos.</small></td>
            </tr>
            <tr>
              <td class="curriculum-week">Semana 2</td>
              <td>Python<small>Aprenderás las características, sintaxis, controles de flujo, listas, diccionarios, funciones y librerías de Python.</small></td>
            </tr>
            <tr>
              <td class="curriculum-week">Semana 3</td>
              <td>Numpy y Jupyter Notebook<small>Aprenderás las bases de Numpy, una librería de Python para manipular datos y realizar cálculos estadísticos. Además aprenderás de Jupyter Notebook, una herramienta para crear y compartir documentos con código, ecuaciones, visualizaciones y texto.</small></td>
            </tr>
            <tr>
              <td class="curriculum-week">Semana 4</td>
              <td>Pandas<small>Empezarás a aprender de Pandas, una librería estándar de Python que provee de herramientas para manipulación y análisis de datos.</small></td>
            </tr>
            <tr>
              <td class="curriculum-week">Semana 5</td>
              <td>Pandas <small>Seguiremos con temas de Pandas como agregación y combinación de información de múltiples marcos de datos (data frames).</small></td>
            </tr>
            <tr>
              <td class="curriculum-week">Semana 6</td>
              <td>Visualización de datos <small>Realizarás visualizaciones de datos utilizando librerías como Matplotlib y Seaborn para generar gráficas útiles para el proceso de análisis.</small></td>
            </tr>
            <tr>
              <td class="curriculum-week">Semana 7</td>
              <td>Machine Learning <small>Conoce y utiliza algoritmos de aprendizaje supervisado como regresión lineal y clasificación (k-Nearest Neighbors, Naives Bayes).</small></td>
            </tr>
            <tr>
              <td class="curriculum-week">Semana 8</td>
              <td>Machine Learning <small>Continuarémos con otros algoritmos supervisados como regresión logística y árboles de decisión, entre otros.</small></td>
            </tr>
            <tr>
              <td class="curriculum-week">Semana 9</td>
              <td>Machine Learning <small>Hablaremos de algoritmos de aprendizaje no supervisado y temas más avanzados de Machine learning que te permitirán seguir profundizando en tus conocimientos.</small></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
