<div class="container">
  <div class="row">
    <div class="faqs clearfix">
      <div class="col-md-8 col-md-offset-2">
        <section class="question">
          <h3>¿Por qué existe Make it Real?</h3>
          <p>Por dos razones principalmente. Por un lado existe una desconexión entre la academia y la industria. Las empresas no están encontrando las personas con los conocimientos que necesitan, pero muchos profesionales siguen sin empleo.</p>
          <p>La segunda razón es que, desafortunadamente, la mayoría de la educación está mal implementada. La clase magistral y las calificaciones son obsoletas. Creemos que es el momento de repensar la educación.</p>
        </section><!--/question -->

        <section class="question">
          <h3>¿Qué hace a Make it Real diferente?</h3>
          <p>Nuestros programas son muy personalizados y prácticos. Uno no aprende a programar viendo videos, uno aprende escribiendo código. Pero también es importante tener el apoyo de una persona con experiencia que lo guíe y le solucione las dudas que vayan surgiendo.</p>
          <p>En <%= link_to "Make it Real", root_path %> unimos lo mejor de la tecnología con lo mejor de la interacción humana para que aprendas de forma efectiva.</p>
        </section><!--/question -->

        <section class="question">
          <h3>¿Cómo puedo saber si Make it Real es para mi?</h3>
          <p>Hemos escrito un blog post completo sobre el tema que puedes encontrar haciendo <a href="http://blog.makeitreal.camp/descubre-si-make-it-real-es-para-ti/" target="_blank">click acá</a>.</p>
        </section><!--/question -->

        <section class="question">
          <h3>¿Quién está detrás de Make it Real?</h3>
          <p>Somos un grupo de emprendedores apasionados por la programación que estamos enfocados en ofrecer la educación de más alta calidad al menor precio posible.</p>
          <p>El fundador y actual CEO es <a href="http://germanescobar.net/" target="_blank">Germán Escobar</a>, un emprendedor con más de 20 años de experiencia en programación; co-fundador de <a href="http://elibom.com/" target="_blank">elibom.com</a>, una empresa con más de 12 años en el mercado y presencia en varios países de latinoamérica.</p>
        </section><!--/question -->

        <section class="question">
          <h3>¿Qué es lo más valioso que aprenderé en Make it Real?</h3>
          <p>En nuestros programas aprenderás las tecnologías con mayor demanda en el mercado, pero quizá lo más valioso que aprenderás en Make it Real es a <strong>aprender</strong>. La tecnología avanza muy rápidamente y hemos diseñado nuestros programas para que puedas buscar, filtrar y analizar información en Internet rápidamente. Esa <strong>capacidad de aprendizaje</strong> es una de las cosas que más valoran las empresas de sus empleados.</p>
        </section><!--/question -->
      </div>
    </div><!--/pitch faqs -->
  </div><!--/row -->
</div><!--/contianer-fluid -->
