<footer class="main">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-sm-push-7">
        <div class="social-icons">
          <a href="https://facebook.com/makeitrealcamp" target="_blank"><%= image_tag "icon-facebook.svg" %></a>
          <a href="https://twitter.com/makeitrealcamp" target="_blank"><%= image_tag "icon-twitter.svg" %></a>
          <a href="http://instagram.com/makeitrealcamp" target="_blank"><%= image_tag "icon-instagram.svg" %></a>
          <a href="https://www.youtube.com/channel/UCcHBDdSPzOaWMsLFyO_HJYw" target="_blank"><%= image_tag "icon-youtube.svg" %></a>
        </div>
      </div>
      <div class="col-sm-7 col-sm-pull-5">
        <div class="rights">
          © Todos los derechos reservados. Make it Real es una marca de La Nueva Educación.
        </div>
      </div>
    </div>
  </div>
</footer>
