<a name="faqs"></a>
<section class="section section-white section-faq">
  <div class="container">
    <h2>Preguntas frecuentes</h2>

    <div class="row">
      <div class="col-sm-6">
        <section class="question">
          <h3>¿Por qué existe Make it Real?</h3>
          <p>Por dos razones principalmente. Por un lado existe una desconexión entre la academia y la industria. Las empresas no están encontrando las personas con los conocimientos que necesitan, pero muchos profesionales siguen sin empleo.</p>
          <p>La segunda razón es que, desafortunadamente, la mayoría de la educación está mal implementada. La clase magistral y las calificaciones son obsoletas. Creemos que es el momento de repensar la educación.</p>
        </section><!--/question -->

        <section class="question">
          <h3>¿Por qué Node.js?</h3>
          <p>JavaScript es el lenguaje más popular y con más demanda de la actualidad.</p>
          <p>Por un lado, es el único lenguaje que entienden los navegadores. Y ahora, con Node.js, es también posible utilizar JavaScript en el servidor para crear todo tipo de aplicaciones (de escritorio, Web y móviles).</p>
        </section><!--/question -->
      </div>

      <div class="col-sm-6">
        <section class="question">
          <h3>¿Cuáles son los requisitos?</h3>
          <p>Para el curso necesitas:</p>
          <ul>
            <li>Un computador personal, preferiblemente con sistema operativo OS X (Mac) o Linux.</li>
            <li>Y muchas ganas de aprender!</li>
          </ul>
        </section><!--/question -->

        <section class="question">
          <h3>¿Es posible ver todos los temas que proponen en el curso?</h3>
          <p>Depende de tus conocimientos previos y tu ritmo de aprendizaje. Pero no te preocupes, igual tendrás acceso a nuestra plataforma de aprendizaje con videos, retos y recursos por 9 meses más después de terminado el curso para que lo termines o profundices lo que desees.</p>
        </section><!--/question -->
      </div>
    </div>
  </div>
</section>
