<a name="students"></a>
<section class="section section-white section-quotes">
  <div class="container">
    <h2>Testimonios</h2>

    <div class="owl-carousel">
      <div class="quote">
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="quote-image">
              <%= image_tag "people/daniel-llano.jpg", alt: "Daniel Llano", class: "img-circle" %>
            </div>
          </div>
          <div class="col-md-5">
            <div class="quote-data">
              <div class="quote-name">Daniel Llano</div>
              <div class="quote-position">Full Stack Web Developer</div>
              <div class="quote-company">en Velum Ventures</div>
              <div class="quote-text">
                Make it Real me abrió un mar de oportunidades laborales como Desarrollador Web y un sin fin de posibilidades de materializar ideas de negocio.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="quote">
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="quote-image">
              <%= image_tag "people/ricardo-rojas.jpg", alt: "Ricardo Rojas", class: "img-circle" %>
            </div>
          </div>
          <div class="col-md-5">
            <div class="quote-data">
              <div class="quote-name">Ricardo Rojas</div>
              <div class="quote-position">Full Stack Web Developer</div>
              <div class="quote-company">en Yuxi Pacific</div>
              <div class="quote-text">
                Cuando encontré Make it Real no dudé en aplicar, es una decisión que ha impactado mi vida de manera positiva, la programación de alguna manera te da poderes, poderes de los buenos.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="quote">
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="quote-image">
              <%= image_tag "people/mixer-gutierrez.jpg", alt: "Mixer Gutierrez", class: "img-circle" %>
            </div>
          </div>
          <div class="col-md-5">
            <div class="quote-data">
              <div class="quote-name">Mixer Gutierrez</div>
              <div class="quote-position">Full Stack Web Developer</div>
              <div class="quote-company">en La Haus</div>
              <div class="quote-text">
                Desarrollar software literalmente te cambia la vida y Make it Real me brindó la oportunidad de entrar a este mundo. Experiencia inolvidable!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
