<a name="faqs"></a>
<section class="section section-white section-faq">
  <div class="container">
    <h2>Preguntas frecuentes</h2>

    <div class="row">
      <div class="col-sm-6">
        <section class="question">
          <h3>¿Qué tiempo debo dedicarle al programa?</h3>
          <p>Necesitarás estar disponible 6 horas semanales para tener clases sincrónicas, por las noches, 2 o 3 veces a la semana y otras 6 horas más que deberás disponer de trabajo autónomo por semana.</p>
        </section><!--/question -->

        <section class="question">
          <h3>¿Cómo obtengo una beca?</h3>
          <p>Tenemos un número limitado de becas del 50% sobre el valor total del programa que entregaremos en el orden en que las personas sean aceptadas. Mientras antes apliques y separes tu cupo, más chances de conseguirla porque es por orden de aplicaciones.</p>
        </section><!--/question -->

        <section class="question">
          <h3>¿Cuánto puedo aspirar a ganar cuando termine el programa?</h3>
          <p>Depende de tus conocimientos previos, de tu nivel de inglés. Sobre todo, la práctica es lo más importante y este programa te dará las bases necesarias para poder luego continuar profundizando.</p>
        </section><!--/question -->

        <section class="question">
          <h3>¿Cuáles son los requisitos para aplicar?</h3>
          <ul>
            <li>Tener mayoría de edad, 18 años cumplidos al momento de la postulación.</li>
            <li>Haber culminado la etapa de Educación Escolar Media.</li>
            <li>Disponer del tiempo para dedicar al programa.</li>
            <li>Contar con un computador personal y conexión a Internet.</li>
          </ul>
        </section><!--/question -->
      </div>

      <div class="col-sm-6">
        <section class="question">
          <h3>¿Cuáles son las condiciones para permanecer becad@?</h3>
          <p>Es muy importante para nosotros el compromiso de las personas que se suman a nuestros programas. Por eso, la beca del 50% se te otorga pero debes asistir a las clases (70% de asistencia) y sobre todo cumplir con los diferentes entregables.</p>
          <p>Si vemos que tus faltas comienzan a aumentar y no cumples con entregables, la beca se desactiva automáticamente y debes pagar el programa completo (Valor USD2000).</p>
        </section><!--/question -->

        <section class="question">
          <h3>¿En qué lugar se dictan las clases?</h3>
          <p>El programa es completamente remoto y las clases se realizan a través de video llamada.</p>
        </section><!--/question -->

        <section class="question">
          <h3>¿Cuáles son los requisitos?</h3>
          <p>Para el curso necesitas:</p>
          <ul>
            <li>Un computador personal, preferiblemente con sistema operativo OS X (Mac) o Linux.</li>
            <li>Y muchas ganas de aprender!</li>
          </ul>
        </section><!--/question -->

        <section class="question">
          <h3>¿Es posible ver todos los temas que proponen en el curso?</h3>
          <p>Depende de tus conocimientos previos y tu ritmo de aprendizaje. Pero no te preocupes, igual tendrás acceso a nuestra plataforma de aprendizaje con videos, retos y recursos por 3 meses más después de terminado el curso para que lo termines o profundices lo que desees.</p>
        </section><!--/question -->
      </div>
    </div>
  </div>
</section>
