<div class="modal fade" id="registration-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="
        " class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Formulario de Registro</h4>
      </div>
      <form id="form-start-now" action="<%= action %>" method="post">
        <div class="modal-body">
          <p>Regístrate para recibir toda la información y precios:  </p>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" id="first-name" name="first-name" class="form-control" placeholder="Nombre">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" id="last-name" name="last-name" class="form-control" placeholder="Apellido">
              </div>
            </div>
          </div>

          <div class="form-group">
            <input type="email" id="email" name="email" class="form-control" placeholder="Email">
          </div>

          <div class="form-group" id="mobile-wrapper">
            <div class="input-group">
              <span class="input-group-addon" id="mobile-code">+57</span>
              <input type="tel" class="form-control" id="mobile" name="mobile" placeholder="Celular">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <button type="submit" class="btn btn-primary btn-lg btn-block">RECIBIR LA INFORMACIÓN</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).on("turbolinks:load", window.initOnsiteProgram);
  $(document).on("turbolinks:load", function() {
    $('.btn-register').on('click', function(e) {
      e.preventDefault();

      $('#registration-modal').modal().on('shown.bs.modal', function (e) {
        $('#first-name').focus();
      });
    });
  });
  $(document).on("turbolinks:click", function() {
    $(document).off("turbolinks:load", window.initMedellinProgramPage);
  });
</script>
