<a name="faqs"></a>
<section class="section section-white section-faq">
  <div class="container">
    <h2>Preguntas frecuentes</h2>

    <div class="row">
      <div class="col-sm-6">
        <section class="question">
          <h3>¿Dónde encuentro los detalles del programa?</h3>
          <p>Para ver los temas y próximas fechas haz click <%= link_to "este enlace", full_stack_online_path %>.</p>
        </section><!--/question -->

        <section class="question">
          <h3>¿Cuánto tengo que pagar y en qué fechas?</h3>
          <p>Debes pagar el 20% del valor del programa diferido a 6 cuotas mensuales de <span class="program-value"></span> cada una.</p>
        </section><!--/question -->

        <section class="question">
          <h3>¿Me ayudarán a encontrar empleo después del programa?</h3>
          <p>Contamos con un servicio para los estudiantes interesados en encontrar empleo al finalizar el programa. Este servicio tiene un costo adicional.</p>
        </section><!--/question -->

        <section class="question">
          <h3>¿Qué ocurre si no paso la prueba del material de preparación?</h3>
          <p>Tendrás una nueva oportunidad en la siguiente versión del programa. Si en el segundo intento no la pasas perderás la oportunidad de obtener la beca.</p>
        </section><!--/question -->
      </div>

      <div class="col-sm-6">
        <section class="question">
          <h3>Cuántas becas tienen disponibles?</h3>
          <p>No tenemos un número exacto pero todas las mujeres seleccionadas van a recibir la beca en el orden en que aplicaron y fueron seleccionadas, para que participen en las próximas versiones del programa.</p>
        </section><!--/question -->

        <section class="question">
          <h3>¿Qué pasa si soy seleccionada y no puedo participar en la versión del programa asginado?</h3>
          <p>Puedes aplazar una vez tu participación. Si no puedes participar en la siguiente versión perderás la oportunidad de obtener la beca.</p>
        </section><!--/question -->
      </div>
    </div>
  </div>
</section>
