<a name="students"></a>
<section class="section section-quotes" style="padding-bottom: 0;">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="each-quote">
          <p>"Make it Real me abrió un mar de oportunidades laborales como Desarrollador Web y un sin fin de posibilidades de materializar ideas de negocio."</p>
          <div class="student-data">
            <div class="profile-img">
              <%= image_tag "people/daniel-llano.jpg", alt: "Daniel Llano", class: "img-circle" %>
            </div>
            <span class="profile-name txt-bold">Daniel Llano</span>
            <span class="profile-status">Full Stack Web Developer en Velum Ventures</span>
            <span class="profile-link">
              <a href="https://co.linkedin.com/in/danielllano" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </span>
            <span class="profile-link">
              <a href="https://github.com/danielllano" target="_blank">
                <i class="fa fa-github"></i>
              </a>
            </span>
          </div><!--/student-data -->
        </div> <!--/each-quote -->
      </div><!--/col-md-6 -->

      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="each-quote">
          <p>"Cuando encontré Make it Real no dudé en aplicar, es una decisión que ha impactado mi vida de manera positiva, la programación de alguna manera te da poderes, poderes de los buenos."</p>
          <div class="student-data">
            <div class="profile-img">
              <%= image_tag "people/ricardo-rojas.jpg", alt: "Ricardo Rojas", class: "img-circle" %>
            </div>
            <span class="profile-name txt-bold">Ricardo Rojas</span>
            <span class="profile-status">Full Stack Web Developer en Yuxi Pacific</span>
            <span class="profile-link">
              <a href="https://www.linkedin.com/in/ricardorojass/" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </span>
            <span class="profile-link">
              <a href="https://github.com/ricardorojass" target="_blank">
                <i class="fa fa-github"></i>
              </a>
            </span>
          </div><!--/student-data -->
        </div> <!--/each-quote -->
      </div><!--/col-md-6 -->

      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="each-quote">
          <p>"Desarrollar software literalmente te cambia la vida y Make it Real me brindó la oportunidad de entrar a este mundo. Experiencia inolvidable!"</p>
          <div class="student-data">
            <div class="profile-img">
              <%= image_tag "people/mixer-gutierrez.jpg", alt: "Mixer Gutierrez", class: "img-circle" %>
            </div>
            <span class="profile-name txt-bold">Mixer Gutierrez</span>
            <span class="profile-status">Full Stack Web Developer en La Haus</span>
            <span class="profile-link">
              <a href="https://github.com/mixergtz" target="_blank">
                <i class="fa fa-github"></i>
              </a>
            </span>
            <span class="profile-link">
              <a href="http://mixergtz.github.io/" target="_blank">
                <i class="fa fa-globe"></i>
              </a>
            </span>
          </div><!--/student-data -->
        </div> <!--/each-quote -->
      </div><!--/col-md-6 -->
    </div>

    <div class="row" style="margin-top: 40px;">
      <div class="col-sm-12">
        <p class="text-center"><a href="/makers">Conoce más opiniones de nuestros estudiantes</a></p>
      </div>
    </div>
  </div>
</section>
