<a name="students"></a>
<section class="section section-white section-quotes">
  <div class="container">
    <h2>Testimonios</h2>

    <div class="owl-carousel">
      <div class="quote">
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="quote-image">
              <%= image_tag "people/ana-maria-sosa.jpg", alt: "Ana María Sosa", class: "img-circle" %>
            </div>
          </div>
          <div class="col-md-5">
            <div class="quote-data">
              <div class="quote-name">Ana María Sosa</div>
              <div class="quote-position">Web UI Developer</div>
              <div class="quote-company">en Globant</div>
              <div class="quote-text">
                Mi invitación para las chicas es que no se rindan, que el camino es largo pero prometedor y que entre más chicas haya en la industria será mejor para todas, porque así podremos compartir y crecer juntas
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="quote">
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="quote-image">
              <%= image_tag "people/ricardo-rojas.jpg", alt: "Ricardo Rojas", class: "img-circle" %>
            </div>
          </div>
          <div class="col-md-5">
            <div class="quote-data">
              <div class="quote-name">Ricardo Rojas</div>
              <div class="quote-position">Full Stack Web Developer</div>
              <div class="quote-company">en Yuxi Pacific</div>
              <div class="quote-text">
                Cuando encontré Make it Real no dudé en aplicar, es una decisión que ha impactado mi vida de manera positiva, la programación de alguna manera te da poderes, poderes de los buenos.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="quote">
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <div class="quote-image">
              <%= image_tag "people/mixer-gutierrez.jpg", alt: "Mixer Gutierrez", class: "img-circle" %>
            </div>
          </div>
          <div class="col-md-5">
            <div class="quote-data">
              <div class="quote-name">Mixer Gutierrez</div>
              <div class="quote-position">Full Stack Web Developer</div>
              <div class="quote-company">en La Haus</div>
              <div class="quote-text">
                Desarrollar software literalmente te cambia la vida y Make it Real me brindó la oportunidad de entrar a este mundo. Experiencia inolvidable!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
