<a name="audience"></a>
<div class="section section-bordered section-white target-audience">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= render "pages/companies2" %>

        <h2>¿A quién está dirigido?</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p class="subhead">Buscamos personas recursivas y motivadas que deseen convertirse en Full Stack Web Developers.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 hidden-xs hidden-sm">
        <div class="audience-quote">
          <p>"En Make it Real se adquieren los conocimientos necesarios para aprovechar las oportunidades del mundo actual."</p>

          <div class="clearfix">
            <div class="audience-quote-img"><%= image_tag "people/alejandro-escobar.jpg", width: 90, class: "img-circle" %></div>
            <div class="audience-quote-person">
              <a href="https://www.linkedin.com/in/alejoescobar/" target="_blank" class="audience-quote-person-name">Alejandro Escobar</a>
              <span>Full Stack Developer en <a href="http://docketwise.com/" target="_blank">Docketwise</a></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 audience-target-details">
        <div style="max-width: 450px; margin: 0 auto;">
          <p class="audience-target-details-intro">Nuestro programa es ideal para personas que:</p>

          <ul>
            <li>Quieren cambiar de carrera.</li>
            <li>Estudiaron Ingeniería de Sistemas, o alguna carrera similar (Electrónica, Mecatrónica, etc.), y desean avanzar su carrera.</li>
            <li>Emprendedores digitales que quieren hacer sus ideas realidad.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
