<a name="audience"></a>
<div class="section target-audience">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= render "pages/companies2" %>

        <h2 class="text-center">Requisitos</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <ol class="reqs-list">
          <li>Ser mujer mayor de 18 años con muchas ganas de aprender y desarrollar software.</li>
          <li>Disponibilidad martes y jueves de 6pm a 9pm por la duración del programa, además de 6 horas de trabajo individual por semana.</li>
          <li>Ser capaz de entender textos en Inglés.</li>
          <li>Contar con un computador personal (Mac/Linux/Windows) de al menos 8GB de memoria RAM y procesador de 1,5GHz.</li>
          <li>Contar con conexión a Internet de al menos 5Mbps.</li>
        </ol>
      </div>
    </div>
  </div>
</div>
