<a name="faqs"></a>
<section class="section section-white section-bordered medellin-faq">
  <div class="container">
    <h2>Preguntas frecuentes</h2>

    <div class="row">
      <div class="col-sm-6">
        <section class="question">
          <h3>¿Por qué existe Make it Real?</h3>
          <p>Por dos razones principalmente. Por un lado existe una desconexión entre la academia y la industria. Las empresas no están encontrando las personas con los conocimientos que necesitan, pero muchos profesionales siguen sin empleo.</p>
          <p>La segunda razón es que, desafortunadamente, la mayoría de la educación está mal implementada. La clase magistral y las calificaciones son obsoletas. Creemos que es el momento de repensar la educación.</p>
        </section><!--/question -->

        <section class="question">
          <h3>¿Por qué Ruby on Rails?</h3>
          <p>Por varias razones. La primera es que no importa con qué tecnología aprendas, el mundo de la programación se mueve muy rápido y en algunos años la mayoría de tecnologías actuales serán obsoletas. El objetivo del programa es que aprendas a aprender.</p>
          <p>Seleccionamos Ruby on Rails porque es un framework muy expresivo, fácil de aprender y con una gran comunidad de desarrolladores en el mundo.</p>
          <p>No tenemos nada en contra de otros lenguajes y frameworks de programación, pero creemos que Rails tiene el balance perfecto entre madurez y facilidad de aprendizaje. Además, una vez que aprendas Rails, tus conocimientos pueden ser rápidamente transferidos a otros frameworks de programación similares en otros lenguajes como Django (Python), Laravel (PHP) o Express.js (Node.js).</p>
        </section><!--/question -->
      </div>

      <div class="col-sm-6">
        <section class="question">
          <h3>¿Cuáles son los requisitos?</h3>
          <p>Para el curso necesitas:</p>
          <ul>
            <li>Un computador personal, preferiblemente con sistema operativo OS X (Mac) o Linux.</li>
            <li>Y muchas ganas de aprender!</li>
          </ul>
        </section><!--/question -->

        <section class="question">
          <h3>¿Es posible ver todos los temas que proponen en el curso?</h3>
          <p>Depende de tus conocimientos previos y tu ritmo de aprendizaje. Pero no te preocupes, igual tendrás acceso a nuestra plataforma de aprendizaje con videos, retos y recursos por 9 meses más después de terminado el curso para que lo termines o profundices lo que desees.</p>
        </section><!--/question -->

        <section class="question">
          <h3>¿Me ayudarán a conseguir empleo?</h3>
          <p>Sí, contamos con una opción adicional de <strong>trabajo garantizado</strong>. Si la tomas seguirás recibiendo asesoría de mentores y cuando termines todo el programa realizarás un simulación de entrevista y tendrás retroalimentación de tu portafolio. Pregunta por esta garantía cuando hables con el asesor educativo.</p>
        </section><!--/question -->
      </div>
    </div>
  </div>
</section>
