<a name="audience"></a>
<div class="section section-bordered section-white target-audience">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>¿A quién está dirigido?</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p class="subhead">Buscamos personas recursivas y motivadas que deseen convertirse en Full Stack Web Developers.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5 col-sm-offset-1 hidden-xs hidden-sm">
        <div class="audience-quote">
          <p>"En Make it Real logré pasar de solo tener ideas de negocio a tener la capacidad de hacerlas realidad."</p>

          <div class="clearfix">
            <div class="audience-quote-img"><%= image_tag "people/juan-felipe-rodriguez.jpg", width: 90, class: "img-circle" %></div>
            <div class="audience-quote-person">
              <a href="https://co.linkedin.com/pub/juan-felipe-rodr%C3%ADguez-cuervo/57/707/427" target="_blank" class="audience-quote-person-name">Juan Felipe Rodriguez</a>
              <span>Co-fundador de <a href="http://quincena.me/" target="_blank">Quincename</a></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 audience-target-details">
        <p class="audience-target-details-intro">Nuestro programa es ideal para personas que:</p>

        <ul>
          <li>Quieren cambiar de carrera.</li>
          <li>Estudiaron Ingeniería de Sistemas, o alguna carrera similar (Electrónica, Mecatrónica, etc.), y desean avanzar su carrera.</li>
          <li>Emprendedores digitales que quieren hacer sus ideas realidad.</li>
        </ul>

        <p class="audience-target-details-alt">¿No puedes atender el curso presencial? Conoce <%= link_to "nuestros programas online", root_path %>.</p>
      </div>
    </div>
  </div>
</div>
