<div class="header-apply">
  <div class="container">
    <%= link_to image_tag("logo-black.png", alt: "Logo Make it Real"), root_path %>
    <a href="#" class="btn btn-primary btn-start-now">¡Comienza Ahora!</a>
  </div>
</div>
