<% btn_text ||= "¡Regístrate!" %>

<div class="header-register">
  <div class="container">
    <%= link_to image_tag("logo-black.png", alt: "Logo Make it Real"), root_path %>
    <button class="btn btn-primary btn-register"><%= btn_text %></a>
  </div>
</div>
