<div class="header-apply">
  <div class="container">
    <%= link_to image_tag("logo-black.png", width: 160, alt: "Logo Make it Real"), root_path %>
    <a href="<%= url %>" class="btn btn-primary">¡Aplica Ahora!</a>
  </div>
</div>
