<div class="header-register">
  <div class="container">
    <%= link_to image_tag("logo-black.png", alt: "Logo Make it Real"), root_path %>
    <button class="btn btn-primary btn-register">¡Regístrate!</a>
  </div>
</div>
