<a name="curriculum"></a>
<div class="section section-curriculum">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Currículo</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="program-module">
          <div class="module-title">
            <h4>Aprendizaje con mentor<small>10 días</small></h4>
          </div>
          <div class="module-body">
            <p>Aprenderás los conceptos fundamentales del lenguaje de programación JavaScript, mientras escribes código acompañado por un mentor experimentado. Este curso te permitirá desarrollar las habilidades básicas para iniciar el programa <%= link_to "Desarrollo Web Full Stack", full_stack_online_path, target:"_blank" %> <p>
            <h5>Módulo 1</h5>
            <p>Primeros pasos con JavaScript</p>

            <h5>Módulo 2</h5>
            <p>Tipos y operadores</p>

            <h5>Módulo 3</h5>
            <p>Variables</p>

            <h5>Módulo 4</h5>
            <p>Condicionales</p>

            <h5>Módulo 5</h5>
            <p>Ciclos</p>

            <h5>Módulo 6</h5>
            <p>Arreglos</p>

            <h5>Módulo 7</h5>
            <p>Strings (cadenas de texto)</p>

            <h5>Módulo 8</h5>
            <p>Funciones</p>

            <h5>Módulo 9</h5>
            <p>Objetos literales</p>

            <h5>Módulo 10</h5>
            <p>Introducción a ECMAScript 2015(ES6)</p>
          </div>
        </div>

        <div class="program-module">
          <div class="module-title">
            <h4>Trabajo autónomo<small>10 días</small> </h4>
          </div>
          <div class="module-body">
            <p>Tendrás acceso a los ejercicios que te permitirán fortalecer tus conocmientos de JavaScript, para que los resuelvas de forma individual o grupal junto con otros participantes del curso.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
