<a name="curriculum"></a>
<div class="section section-curriculum">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Currículo</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="program-module">
          <div class="module-title">
            <h4>Aprendizaje con mentor<small>4 días</small></h4>
          </div>
          <div class="module-body">
            <p>Aprenderás los conceptos fundamentales de HTML y CSS, los lenguajes que te permiten crear la estructura y agregar estilos a interfaces gráficas de páginas web y aplicaciones <%= link_to "Desarrollo Web Full Stack", top_path, target:"_blank" %> <p>
            
            <h5>Módulo 1</h5>
            <p>Cómo definir y crear la estructura de un documento HTML</p>

            <h5>Módulo 2</h5>
            <p>Etiquetas HTML, que son y para qué sirven</p>

            <h5>Módulo 3</h5>
            <p>Formularios con HTML</p>

            <h5>Módulo 4</h5>
            <p>Introducción a CSS</p>

            <h5>Módulo 5</h5>
            <p>El modelo de caja, qué es y para qué sirve</p>

            <h5>Módulo 6</h5>
            <p>Fondos, posicionamiento y selectores</p>

            <h5>Módulo 7</h5>
            <p>Bordes, sombras, gradientes</p>

            <h5>Módulo 8</h5>
            <p>Media Queries</p>
          </div>
        </div>

        <div class="program-module">
          <div class="module-title">
            <h4>Trabajo autónomo<small>6 días</small> </h4>
          </div>
          <div class="module-body">
            <p>Tendrás acceso a los ejercicios que te permitirán fortalecer tus conocmientos de HTML y CSS, para que los resuelvas de forma individual o grupal junto con otros participantes del curso.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
