<a name="faqs"></a>
<section class="section section-white section-faq">
  <div class="container">
    <h2>Preguntas frecuentes</h2>

    <div class="row">
      <div class="col-sm-6">
        <section class="question">
          <h3>¿Por qué existe Make it Real?</h3>
          <p>Por dos razones principalmente. Por un lado existe una desconexión entre la academia y la industria. Las empresas no están encontrando las personas con los conocimientos que necesitan, pero muchos profesionales siguen sin empleo.</p>
          <p>La segunda razón es que, desafortunadamente, la mayoría de la educación está mal implementada. La clase magistral y las calificaciones son obsoletas. Creemos que es el momento de repensar la educación.</p>
        </section><!--/question -->

        <section class="question">
          <h3>¿Por qué JavaScript?</h3>
          <p>JavaScript es el lenguaje más popular y con más demanda de la actualidad.</p>
          <p>Por un lado, es el único lenguaje que entienden los navegadores. Y ahora, con Node.js, es también posible utilizar JavaScript en el servidor para crear todo tipo de aplicaciones (de escritorio, Web y móviles).</p>
        </section><!--/question -->
      </div>

      <div class="col-sm-6">
        <section class="question">
          <h3>¿Cuáles son los requisitos?</h3>
          <p>Para el curso necesitas:</p>
          <ul>
            <li>Un computador personal, preferiblemente con sistema operativo OS X (Mac) o Linux.</li>
            <li>Y muchas ganas de aprender!</li>
          </ul>
        </section><!--/question -->

        <section class="question">
          <h3>¿Cómo es la dinámica del curso?</h3>
          <p>Durante 10 días, uno de nuestros instructores hará una clase diaria en vivo, de manera virtual. Sólo debes conectarte en el enlace que compartiremos contigo.</p>
        </section><!--/question -->

        <section class="question">
          <h3>¿El curso es gratuito?</h3>
          <p>Si. En Make It Real estamos comprometidos con la reactivación económica y la MisionTic 2022 promovida por el <a href="https://www.misiontic2022.gov.co/portal/" target="_blank">Ministerio de Tecnologías de la Información y las Comunicaciones</a>, por eso estamos apoyando el desarrollo de capacidades en desarrollo de software sin costo.</p>
        </section><!--/question -->
      </div>
    </div>
  </div>
</section>
