<a name="faqs"></a>
<section class="section section-white section-faq">
  <div class="container">
    <h2>Preguntas frecuentes</h2>

    <div class="row">
      <div class="col-sm-6">
        <section class="question">
          <h3>¿Por qué existe Make it Real?</h3>
          <p>Por dos razones principalmente. Por un lado existe una desconexión entre la academia y la industria. Las empresas no están encontrando las personas con los conocimientos que necesitan, pero muchos profesionales siguen sin empleo.</p>
          <p>La segunda razón es que, desafortunadamente, la mayoría de la educación está mal implementada. La clase magistral y las calificaciones son obsoletas. Creemos que es el momento de repensar la educación.</p>
        </section><!--/question -->

        <section class="question">
          <h3>¿Por qué HTML y CSS?</h3>
          <p>Todas las interfaces de páginas y aplicaciones web necesitan de HTML para poder edefinir su estructura y de CSS para agregar estilos</p>
          <p>Si quieres convertirte en desarrollador/a web, necesitas saber HTML y CSS, es por esto que son las tecnologías más demandadas junto con JavaScript, según la encuesta de desarrolladores de Stackoverflow - 2021 - </p>
        </section><!--/question -->
      </div>

      <div class="col-sm-6">
        <section class="question">
          <h3>¿Cuáles son los requisitos?</h3>
          <p>Para el curso necesitas:</p>
          <ul>
            <li>Un computador personal, preferiblemente con sistema operativo OS X (Mac) o Linux.</li>
            <li>Y muchas ganas de aprender!</li>
          </ul>
        </section><!--/question -->

        <section class="question">
          <h3>¿Cómo es la dinámica del curso?</h3>
          <p>Durante 4 días, uno de nuestros instructores hará una clase diaria en vivo, de manera virtual. Sólo debes conectarte en el enlace que compartiremos contigo.</p>
        </section><!--/question -->

        <section class="question">
          <h3>¿El curso es gratuito?</h3>
          <p>Si. En Make It Real estamos comprometidos con la reactivación económica y la inserción laboral promovida por <a href="https://innpulsacolombia.com/" target="_blank">Innpulsa Colombia</a>.</p>
        </section><!--/question -->
      </div>
    </div>
  </div>
</section>
