<a name="curriculum"></a>
<div class="section section-curriculum">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Currículo</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="program-module">
          <div class="module-title">
            <h4>Aprendizaje con mentor<small>6 días</small></h4>
          </div>
          <div class="module-body">
            <p>Aprenderás los conceptos fundamentales del lenguaje de programación Python, mientras escribes código acompañado por un mentor experimentado. Este curso te permitirá desarrollar las habilidades básicas para iniciar el programa <%= link_to "Data Science", data_science_online_path, target:"_blank" %> <p>
            <h5>Módulo 1</h5>
            <p>Primeros pasos con Python</p>

            <h5>Módulo 2</h5>
            <p>Condicionales</p>

            <h5>Módulo 3</h5>
            <p>Ciclos</p>

            <h5>Módulo 4</h5>
            <p>Listas</p>

            <h5>Módulo 5</h5>
            <p>Diccionarios y Sets</p>

            <h5>Módulo 6</h5>
            <p>Funciones</p>

            <h5>Módulo 7</h5>
            <p>Clases</p>

            <h5>Módulo 8</h5>
            <p>Introducción a Data Science</p>
          </div>
        </div>

        <div class="program-module">
          <div class="module-title">
            <h4>Trabajo autónomo<small>6 días</small> </h4>
          </div>
          <div class="module-body">
            <p>Tendrás acceso a los ejercicios que te permitirán fortalecer tus conocmientos de Python, para que los resuelvas de forma individual o grupal junto con otros participantes del curso.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
