<div class="quote">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-5">
        <%= image_tag "people/sebastian-zapata.jpg", width: "100%" %>
      </div>
      <div class="col-sm-7 text-center">
        <p class="text">No se trata simplemente de escribir código, <a href="/">Make It Real</a> es un camino que va directo a transformar la manera en que aprendemos, vivimos y trabajamos cada día. Ha sido una de las experiencias mas intensas y productivas de toda mi vida.</p>
        <p class="name">Sebastían Zapata Mardini</p>
        <p class="position">Full Stack Ruby on Rails Developer y co-fundador de <a href="http://kaizendevs.co/" target="_blank">KaizenDevs</a></p>
      </div>
    </div>
  </div>
</div>
