<section class="section-quote">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-5 text-center">
        <%= image_tag "people/sebastian-zapata.png" %>
      </div>
      <div class="col-sm-7 text-center">
        <p class="text">No se trata simplemente de escribir código, <a href="/">Make It Real</a> es un camino que va directo a transformar la manera en que aprendemos, vivimos y trabajamos cada día. Ha sido una de las experiencias mas intensas y productivas de toda mi vida.</p>
        <p class="name">Sebastían Zapata Mardini</p>
        <p class="position">Software Development Engineer en <a href="https://www.zillow.com/" target="_blank">Zillow Group</a></p>
      </div>
    </div>
  </div>
</section>
