<a name="curriculum"></a>
<div class="section learnings-program">
  <div class="container">
    <div class="row">
      <div class="col-md-12 program-title title-styled">
        <h2>El currículo</h2>
        <p class="subhead">Nuestro programa está dividido en tres fases: preparación, presencial y online. La fase de preparación tiene una duración de 3 semanas, <strong>la fase presencial 9 semanas</strong> y la fase online 9 meses.</p>
      </div>
    </div>

    <div class="row technologies">
      <div class="col-sm-12">
        <div class="program-module">
          <div class="module-title">
            <h4>Fase de preparación <small>3 semanas - 35 a 50 horas</small></h4>
          </div>
          <div class="module-body">
            <p>Recibirás el contenido inicial que deberás estudiar por tu cuenta.</p>

            <p>Aprenderás sobre los conceptos básicos del desarrollo Web, las herramientas principales que se utilizan como el editor de texto, la línea de comandos, Git y Github. También aprenderás sobre HTML y CSS para la creación de páginas Web y JavaScript como lenguaje de programación.</p>
          </div>
        </div>

        <div class="program-module">
          <div class="module-title">
            <h4>Fase presencial <small>9 semanas - 135 horas</small></h4>
          </div>
          <div class="module-body">
            <p>Aprenderás a crear aplicaciones Web con Node.js, MongoDB y React. Además, tendrás acceso a nuestra plataforma de aprendizaje en donde podrás reforzar los conocimientos aprendidos en clase.</p>

            <h5>Semana 1</h5>
            <p>Repasaremos lo que aprendiste en la fase preparatoria: conceptos básicos, el editor de texto, la línea de comandos, Git (el sistema de control de versiones) y Github. También realizarás ejercicios prácticos de programación utilizando JavaScript.</p>

            <h5>Semana 2</h5>
            <p>Continuaremos con JavaScript (ES6) utilizando Node.js.</p>

            <h5>Semana 3</h5>
            <p>Iniciaremos con Express, una librería de Node.js para hacer aplicaciones Web que te va permitir aprender el protocolo HTTP (Hypertext Transfer Protocol) muy bien. HTTP que es el protocolo más importante que debe conocer un programador Web.</p>

            <h5>Semana 4</h5>
            <p>Aprenderás sobre MongoDB, la base de datos no relacional más popular de la actualidad, y cómo acceder a ella desde Node.js.</p>

            <h5>Semana 5</h5>
            <p>Seguiremos con temas de Express y MongoDB como asociaciones, validaciones, recursos REST, formularios, autenticación, despliegue de una aplicación en Heroku.</p>

            <h5>Semana 6</h5>
            <p>Aprenderás de jQuery y AJAX: instalación de jQuery, manipulación del DOM, escuchar eventos, plugins, JSON y realizar peticiones a servidores remotos con AJAX.</p>

            <h5>Semana 7</h5>
            <p>Aprenderás sobre React: virtual DOM, JSX, componentes, formulario, peticiones HTTP, entre otros.</p>

            <h5>Semana 8</h5>
            <p>Continuaremos con React construyendo un proyecto y aprendiendo sobre el manejo del estado.</p>

            <h5>Semana 9</h5>
            <p>En la última semana hablaremos sobre temas avanzados como pruebas automatizadas y creación de API's.</p>
          </div>
        </div>

        <div class="program-module">
          <div class="module-title">
            <h4>Fase online <small>9 meses</small> </h4>
          </div>
          <div class="module-body">
            <p>Vas a seguir teniendo acceso a la plataforma para que continues tu aprendizaje y profundices los temas que más te interesen.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
