<div class="modal fade" id="registration-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="header">
        <div class="header-image"> <span class="icon icon-nodejs header-icon"></span></div>
        <div class="header-info">
          <h3>Separación cupo</h3>
          <p class="price">$500,000 <small>COP</small></p>
        </div>
      </div>

      <div class="header-step">
        <div class="header-step-1 active"></div>
        <div class="header-step-2"></div>
      </div>

      <form id="registration-form" action="/billing/charges" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

        <div class="modal-body">
          <div class="step-1">
            <p>Ingresa los datos del estudiante:</p>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" id="first-name" name="charge[first_name]" class="form-control" placeholder="Nombre">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" id="last-name" name="charge[last_name]" class="form-control" placeholder="Apellido">
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="email" id="email" name="charge[email]" class="form-control" placeholder="Email" data-epayco="card[email]">
            </div>
          </div>

          <div class="step-2" style="display: none;">
            <div class="invoice-data">
              <p class="instructions">Ingresa los datos para la elaboración de la factura:</p>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="text" id="invoice-name" name="charge[customer_name]" class="form-control" placeholder="Nombre o empresa" readonly="readonly">
                    <div class="help-block"><a href="#" class="clean-invoice">Facturar a otra persona o empresa</a></div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="customer-id-type-value">C.C.</span> <span class="caret"></span></button>
                        <ul class="dropdown-menu customer-id-type-dropdown">
                          <li><a href="#">CC</a></li>
                          <li><a href="#">CE</a></li>
                          <li><a href="#">Nit</a></li>
                          <li><a href="#">PPN</a></li>
                          <li><a href="#">SSN</a></li>
                          <li><a href="#">DNI</a></li>
                          <li><a href="#">Otro</a></li>
                        </ul>
                      </div><!-- /btn-group -->
                      <input type="text" id="customer-id" name="charge[customer_id]" class="form-control" placeholder="No. Identificación">
                      <input type="hidden" id="customer-id-type" name="charge[customer_id_type]" value="CC">
                    </div><!-- /input-group -->
                  </div>
                </div>
              </div>

              <div class="form-group">
                <input type="email" id="invoice-email" name="charge[customer_email]" class="form-control" placeholder="Email" readonly="readonly">
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <select class="form-control" id="country" name="charge[customer_country]">
                      <option value="" selected>País de residencia *</option>
                      <option value="AR" data-code="54">Argentina</option>
                      <option value="BO" data-code="591">Bolivia</option>
                      <option value="CL" data-code="56">Chile</option>
                      <option value="CO" data-code="57">Colombia</option>
                      <option value="CR" data-code="506">Costa Rica</option>
                      <option value="EC" data-code="593">Ecuador</option>
                      <option value="SV" data-code="503">El Salvador</option>
                      <option value="ES" data-code="34">España</option>
                      <option value="US" data-code="1">Estados Unidos</option>
                      <option value="GT" data-code="502">Guatemala</option>
                      <option value="HN" data-code="504">Honduras</option>
                      <option value="MX" data-code="52">México</option>
                      <option value="NI" data-code="505">Nicaragua</option>
                      <option value="PA" data-code="507">Panamá</option>
                      <option value="PY" data-code="595">Paraguay</option>
                      <option value="PE" data-code="51">Perú</option>
                      <option value="PR" data-code="1">Puerto Rico</option>
                      <option value="DO" data-code="1">República Dominicana</option>
                      <option value="UY" data-code="598">Uruguay</option>
                      <option value="VE" data-code="58">Venezuela</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group" id="mobile-wrapper">
                    <div class="input-group">
                      <span class="input-group-addon" id="mobile-code">+00</span>
                      <input type="tel" class="form-control" id="mobile" name="charge[customer_mobile]" placeholder="Número móvil">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" id="invoice-address" name="charge[customer_address]" class="form-control" placeholder="Dirección">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default back">&lt;&lt; Atrás</button>
          <button type="button" class="btn btn-primary btn-lg next">Continuar</button>
          <button type="button" class="btn btn-primary btn-lg finish" style="display: none;">FINALIZAR</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
