<div class="modal fade" id="registration-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="
        " class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Formulario de Registro</h4>
      </div>
      <form id="form-register" action="<%= action %>" method="post">
        <div class="modal-body">
          <p>Inscríbete al curso gratuito y recibe los detalles en tu correo:</p>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" id="first-name" name="first-name" class="form-control" placeholder="Nombre">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" id="last-name" name="last-name" class="form-control" placeholder="Apellido">
              </div>
            </div>
          </div>

          <div class="form-group">
            <input type="email" id="email" name="email" class="form-control" placeholder="Email">
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <select class="form-control" id="country" name="country">
                  <%= countries_options %>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" id="mobile-wrapper">
                <div class="input-group">
                  <span class="input-group-addon" id="mobile-code"></span>
                  <input type="tel" class="form-control" id="mobile" name="mobile" placeholder="Móvil">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="docType" id="docType-label">Tipo documento</label>
                <select id="docType" class="form-control" name="docType">
                  <option value="">Selecciona</option>
                  <option value="CC">CC</option>
                  <option value="CE">CE</option>
                  <option value="DNI">DNI</option>
                  <option value="Pasaporte">Pasaporte</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="docNumber" id="docNumber-label">Número documento</label>
                <input type="text" id="docNumber" name="docNumber" class="form-control">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="birthday" id="birthday-label">Fecha de nacimiento</label>
                <input type="text" id="birthday" name="birthday" class="form-control" placeholder="dd/mm/aaaa" data-datetimepicker="true">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="gender" id="gender-label">Género</label>
                <select id="gender" class="form-control" name="gender">
                  <option value="">Selecciona</option>
                  <option value="male">Hombre</option>
                  <option value="female">Mujer</option>
                  <option value="other">Otro</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <button type="submit" class="btn btn-primary btn-lg btn-block">Inscribirme al curso</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).on("turbolinks:load", window.initProgramPage);
  $(document).on("turbolinks:load", function() {
    $('.btn-register').on('click', function(e) {
      e.preventDefault();

      $('#registration-modal').modal().on('shown.bs.modal', function (e) {
        $('#first-name').focus();
      });
    });
  });
  $(document).on("turbolinks:click", function() {
    $(document).off("turbolinks:load", window.initProgramPage);
  });
</script>
