<div class="modal fade" id="registration-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="
        " class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Formulario de Registro</h4>
      </div>
      <form id="form-register" action="<%= action %>" method="post">
        <div class="modal-body">
          <p>Regístrate para recibir toda la información y precios:</p>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" id="first-name" name="first-name" class="form-control" placeholder="Nombre">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" id="last-name" name="last-name" class="form-control" placeholder="Apellido">
              </div>
            </div>
          </div>

          <div class="form-group">
            <input type="email" id="email" name="email" class="form-control" placeholder="Email">
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <select class="form-control" id="country" name="country">
                  <%= countries_options %>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group" id="mobile-wrapper">
                <div class="input-group">
                  <span class="input-group-addon" id="mobile-code"></span>
                  <input type="tel" class="form-control" id="mobile" name="mobile" placeholder="Móvil">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="birthday" id="birthday-label" name="birthday">Fecha de nacimiento</label>
                <input type="text" id="birthday" name="birthday" class="form-control" placeholder="dd/mm/aaaa" data-datetimepicker="true">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="gender" id="gender-label">Género</label>
                <select id="gender" class="form-control" name="gender">
                  <option value="">Selecciona</option>
                  <option value="male">Hombre</option>
                  <option value="female">Mujer</option>
                  <option value="other">Otro</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <select class="form-control" id="source" name="source">
              <option value="" selected>¿Cómo te enteraste de nosotros?</option>
              <option value="google">Google</option>
              <option value="facebook">Facebook/Instagram</option>
              <option value="blog">Blog de Make It Real</option>
              <option value="youtube">YouTube</option>
              <option value="recommendation">Recomendación de un conocido</option>
              <option value="event">Evento/Webinar</option>
              <option value="other">Otro</option>
            </select>
          </div>
        </div>

        <div class="modal-footer">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <button type="submit" class="btn btn-primary btn-lg btn-block">RECIBIR LA INFORMACIÓN</button>
        </div>
      </form>
    </div>
  </div>
</div>
