<a name="curriculum"></a>
<div class="section section-curriculum">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Currículo</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="program-module">
          <div class="module-title">
            <h4>Fase nivelación <small>1 semana</small> </h4>
          </div>
          <div class="module-body">
            <p>Ruby: las características, sintaxis, controles de flujo, arreglos, hashes, funciones, excepciones y librerías del lenguaje.</p>
          </div>
        </div>

        <div class="program-module">
          <div class="module-title">
            <h4>Fase principal <small>9 semanas</small></h4>
          </div>
          <div class="module-body">
            <p>Aprenderás a crear el backend de aplicaciones Web con Ruby on Rails y PostgreSQL. Además, tendrás acceso a nuestra plataforma de aprendizaje en donde podrás reforzar los conocimientos aprendidos en clase.</p>

            <h5>Módulo 1</h5>
            <p>Programación Orientada por Objetos: clases, objetos, métodos, atributos de clase, herencia, polimorfismo y módulos.</p>

            <h5>Módulo 2</h5>
            <p>PostgreSQL: aprenderás sobre bases de datos relacionales y SQL.</p>

            <h5>Módulo 3</h5>
            <p>Ruby on Rails: instalación, arquitectura, creación de proyectos, rutas, controladores, modelos, recursos REST, entre otros.</p>

            <h5>Módulo 4</h5>
            <p>Active Record: Consultas, asociaciones, validaciones, scopes, callbacks, migraciones.</p>

            <h5>Módulo 5</h5>
            <p>Autenticación, carga de archivos (Active), Web Sockets (ActionCable), background jobs (ActiveJob), despliegue con Heroku.</p>

            <h5>Módulo 6</h5>
            <p>Pruebas automatizadas unitarias, de integración y pruebas en paralelo.</p>
          </div>
        </div>

        <div class="program-module">
          <div class="module-title">
            <h4>Fase online <small>3 meses</small> </h4>
          </div>
          <div class="module-body">
            <p>Vas a seguir teniendo acceso a la plataforma para que continues tu aprendizaje y profundices los temas que más te interesen.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
