<a name="faqs"></a>
<section class="section section-white section-faq">
  <div class="container">
    <h2>Preguntas frecuentes</h2>

    <div class="row">
      <div class="col-sm-6">
        <section class="question">
          <h3>¿Por qué existe Make it Real?</h3>
          <p>Por dos razones principalmente. Por un lado existe una desconexión entre la academia y la industria. Las empresas no están encontrando las personas con los conocimientos que necesitan, pero muchos profesionales siguen sin empleo.</p>
          <p>La segunda razón es que, desafortunadamente, la mayoría de la educación está mal implementada. La clase magistral y las calificaciones son obsoletas. Creemos que es el momento de repensar la educación.</p>
        </section><!--/question -->

        <section class="question">
          <h3>¿Por qué Ruby on Rails?</h3>
          <p>Ruby on Rails porque es un framework muy expresivo, fácil de aprender y con una gran comunidad de desarrolladores en el mundo.</p>
          <p>Además, los desarrolladores que trabajan con Ruby on Rails están en alta demanda por las empresas con muy buenos salarios.</p>
        </section><!--/question -->
      </div>

      <div class="col-sm-6">
        <section class="question">
          <h3>¿Cuáles son los requisitos?</h3>
          <p>Para el curso necesitas:</p>
          <ul>
            <li>Un computador personal con mínimo 8GB de RAM.</li>
            <li>Conexión a Internet de al menos 5Mbps.</li>
            <li>Conocimientos previos en desarrollo Web.</li>
          </ul>
        </section><!--/question -->

        <section class="question">
          <h3>¿Es posible ver todos los temas que proponen en el curso?</h3>
          <p>Depende de tus conocimientos previos y tu ritmo de aprendizaje. Pero no te preocupes, igual tendrás acceso a nuestra plataforma de aprendizaje con videos, retos y recursos por 3 meses más después de terminado el curso para que lo termines o profundices lo que desees.</p>
        </section><!--/question -->
      </div>
    </div>
  </div>
</section>
