<div class="new-site reserve-seat-page">
  <%= render "layouts/navbar/pages_dark", hide_login: true %>

  <div class="container wrapper">
    <div class="row">
      <div class="col-md-6">
        <div class="alert alert-info">¡<strong>No contamos con más cupos disponibles</strong> por el momento, muchas gracias por tu interés! Síguenos en redes sociales para conocer las próximas convocatorias.</div>
        
      </div>
      <div class="col-md-6">
        <div class="audience-quote">
          <p>"Poder ser parte de Make It Real fue una oportunidad increíble, definitivamente fue la formación que necesitaba en el momento adecuado para continuar creciendo profesionalmente. Totalmente recomendado para quienes estén interesadas en el mundo de la programación, es una academia excelente con gran acompañamiento durante todo el proceso de aprendizaje."</p>

          <div class="clearfix">
            <div class="audience-quote-img"><%= image_tag "people/sara-del-valle.jpg", width: 80, class: "img-circle" %></div>
            <div class="audience-quote-person">
              <a href="https://www.linkedin.com/in/saradelvallerestrepo/" target="_blank" class="audience-quote-person-name">Sara Del Valle Restrepo</a>
              <span>Software Engineer en <a href="http://docketwise.com/" target="_blank">Wizeline</a></span>
            </div>
          </div>
        </div>

        <div class="faq">
          <h2>Preguntas frecuentes</h2>
          <div class="question">
            <h3>¿Qué formas de pago aceptan?</h3>
            <p>Puedes pagar con tarjeta de crédito o débito (PSE). También por consignación o transferencia.</p>
          </div>
          <div class="question">
            <h3>Si separo mi cupo y no puedo tomar el bootcamp ¿me devuelven el dinero?</h3>
            <p>El valor del cupo no es reembolsable a menos de que por alguna razón el bootcamp no se lleve a cabo en la fecha prevista. Si vas a separar tu cupo te recomendamos que estés segura que lo puedes tomar.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  new SeatView();
</script>
