<div class="new-site faq">
  <%= render "layouts/navbar/pages_white", hide_login: true %>
  <div class="section section-dark section-faq-header">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <h2>Preguntas Frecuentes</h2>
        </div>
      </div><!--/row -->
    </div><!--/container -->
  </div><!--/pitch faq -->

  <%= render "faqs" %>

  <%= render "capture_email" %>

  <%= render "footer" %>

</div><!--/new-site -->
