<div class="new-site faq">
  <%= render "layouts/navbar/pages_white", hide_login: true %>
  <div class="section section-dark section-faq-header">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <h2>Preguntas Frecuentes</h2>
        </div>
      </div><!--/row -->
    </div><!--/container -->
  </div><!--/pitch faq -->

  <div class="container-fluid">
    <div class="row">
      <div class="container">
        <div class="faqs">
          <div class="col-md-8 col-md-offset-2">
            <section class="question">
              <h3>¿Por qué existe Make it Real?</h3>
              <p>Por dos razones principalmente. Por un lado existe una desconexión entre la academia y la industria. Las empresas no están encontrando las personas con los conocimientos que necesitan, pero muchos profesionales siguen sin empleo.</p>
              <p>La segunda razón es que, desafortunadamente, la mayoría de la educación está mal implementada. La clase magistral y las calificaciones son obsoletas. Creemos que es el momento de repensar la educación.</p>
            </section><!--/question -->

            <section class="question">
              <h3>¿Qué hace a Make it Real diferente?</h3>
              <p>Nuestros programas son muy personalizados y prácticos. Uno no aprende a programar viendo videos, uno aprende practicando. Pero también es importante tener el apoyo de una persona con experiencia que lo guíe y le solucione las dudas que vayan surgiendo.</p>
              <p>En <%= link_to "Make it Real", root_path %> unimos lo mejor de la tecnología con lo mejor de la interacción humana.</p>
            </section><!--/question -->

            <section class="question">
              <h3>¿A quién está dirigido?</h3>
              <p>Nuestros programas están dirigidos a personas que han empezado por su cuenta, ya sea porque están estudiando o estudiaron algo relacionado con Ingeniería de Sistemas, o han aprendido por su propia cuenta con cursos online y/o presenciales.</p>
            </section><!--/question -->

            <section class="question">
              <h3>¿Puedo aplicar si nunca he programado?</h3>
              <p>Nuestra recomendación es que empieces por tu propia cuenta antes de invertir en acelerar tu aprendizaje. Es por eso que hemos creado <a href="http://aprendedesarrolloweb.com/?utm_source=faq&utm_medium=web&utm_campaign=Make%20it%20Real" target="_blank">un curso completamente gratis</a> para que descubras si este mundo realmente te interesa.</p>
            </section><!--/question -->
          </div>
        </div><!--/pitch faqs -->
      </div>

      <%= render "footer" %>
    </div><!--/row -->
  </div><!--/contianer-fluid -->



</div><!--/new-site -->
