<div class="new_site">
  <%= render "navigation" %>

  <div class="program-intro">
    <div class="container">
      <div class="row">
        <div class="col-md-8 tagline-program">
          <h1>Desarrollador Web Full Stack en Ruby on Rails</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, nesciunt?</p>
          <a href="">Aplica ahora</a>
        </div><!--/tagline-program -->

        <div class="col-md-4 bullets-program">
          <ul>
            <li>
              <div class="icon-bullet-program">
                ícono 1
              </div>
              <div class="content-bullet-program">
                <h2>Crea aplicaciones reales</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis harum laboriosam tempora!</p>
              </div>
            </li>
            <li>
              <div class="icon-bullet-program">
                ícono 2
              </div>
              <div class="content-bullet-program">
                <h2>Mentores Experimentados</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis harum laboriosam tempora!</p>
              </div>
            </li>
            <li>
              <div class="icon-bullet-program">
                ícono 3
              </div>
              <div class="content-bullet-program">
                <h2>Horario Flexible</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis harum laboriosam tempora!</p>
              </div>
            </li>
          </ul>
        </div><!--/bullets-program -->

      </div><!--/row -->
    </div><!--/container -->
  </div><!--/program-intro -->


  <div class="data-program">
    <div class="container">
      <div class="row">

      <div class="col-md-3 each-data-program">
        <span class="data-number">100</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum nihil quod accusantium fuga cumque dolores!</p>
      </div>

      <div class="col-md-3 each-data-program">
        <span class="data-number">100</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum nihil quod accusantium fuga cumque dolores!</p>
      </div>

      <div class="col-md-3 each-data-program">
        <span class="data-number">100</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum nihil quod accusantium fuga cumque dolores!</p>
      </div>

      <div class="col-md-3 each-data-program">
        <span class="data-number">100</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum nihil quod accusantium fuga cumque dolores!</p>
      </div>
        
      </div><!--/row -->
    </div><!--/container -->
  </div><!--/data-program -->



  <div class="target-program">
    <div class="container">
      <div class="row">
        <div class="col-md-12 target-title-program">
          <h2>¿A quién está dirigido?</h2>
          <p class="subhead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, officiis?</p>
        </div>

        <div class="col-md-4 each-target-program">
          <div class="row">
            <div class="col-md-3">imagen</div>
            <div class="col-md-9">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel debitis similique recusandae molestiae totam pariatur deleniti optio autem animi ad!</div>
          </div>
        </div>

        <div class="col-md-4 each-target-program">
          <div class="row">
            <div class="col-md-3">imagen</div>
            <div class="col-md-9">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel debitis similique recusandae molestiae totam pariatur deleniti optio autem animi ad!</div>
          </div>
        </div>

        <div class="col-md-4 each-target-program">
          <div class="row">
            <div class="col-md-3">imagen</div>
            <div class="col-md-9">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel debitis similique recusandae molestiae totam pariatur deleniti optio autem animi ad!</div>
          </div>
        </div>
        
      </div><!--/row -->
    </div><!--/container -->
  </div><!--/target-program -->


  <div class="feature-program mentories-program">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mentories-title-program">
          <h2>Mentorías uno a uno</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed expedita vero architecto ut nobis incidunt aliquam cupiditate eius soluta, porro a placeat id, provident.</p>
        </div>
        
      </div><!--/row -->
    </div><!--/container -->
  </div><!--/mentories-program -->


  <div class="feature-program learnings-program">
    <div class="container">
      <div class="row">

      <div class="col-md-12 learnings-title-program">
        <h2>Lo que aprenderás en el programa</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure corporis libero, atque?</p>
      </div>

      <div class="col-md-4 each-learning-program">
        <div class="learning-icon">
          learning icon
        </div>
        <h3>Autonomía</h3>
      </div><!--/each-learning-program -->

      <div class="col-md-4 each-learning-program">
        <div class="learning-icon">
          learning icon
        </div>
        <h3>Solución de problemas</h3>
      </div><!--/each-learning-program -->

      <div class="col-md-4 each-learning-program">
        <div class="learning-icon">
          learning icon
        </div>
        <h3>Comunicación</h3>
      </div><!--/each-learning-program -->
        
      </div><!--/row -->
    </div><!--/container -->
  </div><!--/learnings-program -->


  <div class="applications-program">
    <div class="container">
      <div class="row">

        <div class="col-md-12 applications-title-program">
          <h2>Construye aplicaciones reales</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure corporis libero, atque?</p>
        </div>

        <div class="col-md-4 each-application-program">
          <div class="image-application-program">
            imagen
          </div>
          <h3>Aplicación uno</h3>
        </div>

        <div class="col-md-4 each-application-program">
          <div class="image-application-program">
            imagen
          </div>
          <h3>Aplicación dos</h3>
        </div>

        <div class="col-md-4 each-application-program">
          <div class="image-application-program">
            imagen
          </div>
          <h3>Aplicación tres</h3>
        </div>

        <div class="col-md-4 each-application-program">
          <div class="image-application-program">
            imagen
          </div>
          <h3>Aplicación cuatro</h3>
        </div>

        <div class="col-md-4 each-application-program">
          <div class="image-application-program">
            imagen
          </div>
          <h3>Aplicación cinco</h3>
        </div>

        <div class="col-md-4 each-application-program">
          <div class="image-application-program">
            imagen
          </div>
          <h3>Aplicación seis</h3>
        </div>

      </div><!--/row -->
    </div><!--/container -->
  </div><!--/applicationss-program -->


  <div class="project-program">
    <div class="container">
      <div class="row">

        <div class="col-md-12 project-title-program">
          <h2>Tu proyecto personal</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, voluptate rem, molestiae dolorum totam suscipit laudantium magnam illo nihil id ab eius. Repellendus, sequi, provident.</p>
          <a href="">Conoce los proyectos de nuestros makers</a>
        </div>
        
      </div><!--/row -->
    </div><!--/container -->
  </div><!--/project-program -->


  <div class="price-program">
    <div class="container">
      <div class="row">
        

        <div class="col-md-12 price-title-program">
          <h2>Precio</h2>
        </div>



      </div><!--/row -->
    </div><!--/container -->
  </div><!--/price-program -->





 


  


  <div class="container-fluid">
    <div class="row">
      <%= render "footer" %>
    </div>
  </div>

</div><!--/new_site -->
