<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <p>
        Estamos trabajando en crear la mejor guía para que aproveches al máximo el programa.
      </p>
    </div>
  </div>
</div>
