<div class="home">
  <div class="jumbo">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
          <h1>EL <span style="color: #f8da4a">INICIO</span> QUE CAMBIARÁ TU VIDA PARA SIEMPRE</h1>

          <p class="lead">Aprende los fundamentos necesarios para convertirte en desarrollador(a) Web con este <strong>curso gratis</strong> que te guiará a través del mejor contenido online y retos de programación especialmente diseñados para maximizar tu aprendizaje.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <%= form_for @user, html: { class: "form-inline start-form" } do |f| %>
            <div class="form-group">
              <%= f.email_field :email, class: "form-control input-lg", placeholder: "Email" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, class: "form-control input-lg", placeholder: "Contraseña" %>
            </div>
            <%= f.submit "Empieza ahora!", class: "btn btn-primary btn-lg" %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <span class="glyphicon glyphicon-menu-down more"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p>No importa si quieres aplicar al Bootcamp presencial de Make it Real o no, queremos darte la oportunidad de que empieces a aprender a programar por tu cuenta, y que descubras si este mundo realmente te apasiona.</p>

        <p>Make it Real Start es un <strong>curso gratis</strong> en el que aprenderás los fundamentos necesarios para convertirte en desarrollador, o desarrolladora, Web. También son los fundamentos con los que esperamos que apliques si estás interesado en el Bootcamp presencial.</p>

        <p>El curso está dividido en dos módulos: HTML/CSS y Ruby. Cada módulo tiene una introducción, links a recursos online que hemos curado, retos de programación que te forzarán a buscar información de otras fuentes, y un quiz final para que te auto-evalues y sigas aprendiendo. Gran parte de aprender a programar es aprender a buscar en Google, y adaptar los resultados al código que estés escribiendo.</p>

        <p>Esperamos que este curso sea el inicio de un viaje que te lleve a cumplir el sueño de crear tus propias aplicaciones, ya sea para encontrar un empleo con mejores condiciones y retos más interesantes, o creando/consolidando tu propia empresa.</p>
      </div>
    </div>
  </div>
</div>
