<div class="home">
  <div class="jumbo">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
          <h1>EL <span style="color: #f8da4a">INICIO</span> QUE CAMBIARÁ TU VIDA PARA SIEMPRE</h1>

          <p class="lead">Aprende los fundamentos necesarios para convertirte en desarrollador(a) Web con este <strong>curso online gratis</strong> que te guiará a través del mejor contenido y retos de programación especialmente diseñados para maximizar tu aprendizaje.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <%= link_to '<i class="fa fa-github"></i> Ingresa con Github'. html_safe, '/auth/github', class: "btn btn-primary btn-lg" %>
          <%= link_to '<i class="fa fa-facebook-square"></i> Ingresa con Facebook'.html_safe, '/auth/facebook', class: "btn btn-primary btn-lg", id: "sign-in-facebook" %>
          <span class="create-account"><%= link_to "¿No tienes ninguno de los dos?", signup_path %></span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <span class="glyphicon glyphicon-menu-down more"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">

        <div class="q">
          <header>¿Qué es Make it Real Start?</header>
          <p>Es un curso online <strong>completamente gratis</strong> para que empieces a aprender a programar por tu propia cuenta y a tu propio ritmo. Hemos seleccionado los mejores recursos online y diseñado retos de programación para que aprendas mientras los solucionas.</p>
        </div>

        <div class="q">
          <header>¿Qué voy a aprender en Make it Real Start?</header>
          <p>Primero, aprenderás sobre la mentalidad que se requiere para aprender a programar. Luego aprenderás <strong>HTML</strong> (el lenguaje de marcado que se utiliza para crear páginas Web) y <strong>CSS</strong> (el lenguaje que les da el formato). Por último aprenderás <strong>Ruby</strong>, un lenguaje de programación flexible y expresivo (ideal para aprender a programar) que está siendo usado para crear aplicaciones como Twitter, Groupon, y Make it Real Start ;)</p>
        </div>

        <div class="q">
          <header>¿En qué se diferencia de otras iniciativas similares?</header>
          <p>En este curso encontrarás embebida la filosofía <a href="http://makeitreal.camp">Make it Real</a>: <strong>aprender haciendo</strong>. La mayoría de cursos de programación fracasan porque se enfocan en el contenido y en guiar a los estudiantes a la solución de los problemas que plantean. En Make it Real Start hemos seleccionado el mejor contenido online para que aprendas a programar y lo combinamos con retos para que maximices tu aprendizaje.</p>
        </div>

        <div class="q">
          <header>¡Existe algún requisito?</header>
          <p>No. Pero sí una advertencia: la mayoría de recursos está en Inglés. Es preferible si al menos lo entiendes escrito. Pero si no, no te preocupes, puedes usar el traductor del navegador de ser necesario.</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="q">
          <header>¿Cuánto tiempo debo dedicar para completarlo?</header>
          <p>El que sea necesario. Especialmente si este es tu primer acercamiento con la programación, te aconsejamos empezar despacio. No importa cuánto te tome. Aprende a tu propio ritmo. Nuestra recomendación es que le dediques al menos 30 minutos al día. <strong>Pero lo más importante no es el tiempo, es que lo hagas todos los días</strong>.</p>
        </div>

        <div class="q">
          <header>¿Quién está detrás de esto?</header>
          <p><a href="http://makeitreal.camp/">Make it Real</a> es un Bootcamp inmersivo y presencial de programación en Bogotá y Medellín, diseñado para entrenar en 12 semanas a los desarrolladores Web que el mercado necesita ahora. Puedes encontrar más información haciendo <a href="http://makeitreal.camp/">click acá</a>.</p>
        </div>

        <div class="q">
          <header>¿Por qué lo están haciendo?</header>
          <p>Porque estamos comprometidos con una misión: <strong>mejorar la calidad de vida de las personas a través de la tecnología y la educación</strong>. Queremos darle, a la mayor cantidad de personas, la oportunidad de empezar a aprender a programar y conocer los fundamentos que se requieren para convertirse en desarrollador(a) Web.</p>

          <p>Por otro lado, creemos que las personas deben empezar a aprender despacio para no frustrarse. Una vez se tienen ciertos conocimientos el proceso se puede acelerar en un Bootcamp como <a href="http://makeitreal.camp/">Make it Real</a>, pero no antes. Los fundamentos que aprenderás en este curso son los fundamentos mínimos con los que esperamos que apliquen los interesados en nuestro Bootcamp presencial.</p>
        </div>
      </div>
    </div>
  </div>
</div>
