<div class="new-site job-guarantee">
  <%= render "layouts/navbar/pages_white", hide_login: true %>
  <div class="section section-dark section-job-header">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <h2>Trabajo Garantizado</h2>
        </div>
      </div><!--/row -->
    </div><!--/container -->
  </div><!--/pitch faq -->

  <div class="container job-guarantee-body">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <p>En Make it Real ofrecemos una garantía de trabajo a los estudiantes que terminen el programa de <strong>Full Stack con Ruby on Rails</strong> bajo los siguientes requerimientos y términos:</p>

        <h3>Requerimientos</h3>
        <ul>
          <li>Ser elegible para trabajar en Colombia por al menos un año después de terminar el programa.</li>
          <li>Ser mayor de edad.</li>
          <li>Tener disponibilidad de trasladarse a Bogotá o Medellín (alguno de los dos) de ser necesario.</li>
          <li>Haber completado todos los retos y proyectos en la plataforma con al menos un 90% del puntaje en los proyectos.</li>
          <li>Haber completado el programa en máximo 12 meses desde la fecha de ingreso.</li>
          <li>Haber programado al menos una entrevista de prueba con alguno de los mentores entre los siguientes 30 días después de completar el programa.</li>
          <li>Haber enviado su hoja de vida y portafolio a su mentor en los siguientes 30 días calendario después de completar el programa y haber realizado las modificaciones en los siguientes 30 días calendario después de haber recibido la retroalimentación.</li>
          <li>Mantenerse al día en todos sus pagos en caso de haber financiado el programa.</li>
        </ul>

        <h3>Términos</h3>
        <ul>
          <li>El egresado deberá demostrar que ha aplicado a las ofertas que se le han mencionado y otras similares de los partners de empleo.</li>
          <li>El egresado lleva un seguimiento de todas las aplicaciones que ha realizado con fecha, contacto de la empresa y cualquier comunicación que envíe o reciba de la empresa.</li>
          <li>Si el egresado rechaza alguna oferta de trabajo debe especificar la razón.</li>
          <li>El egresado podrá rechazar una oferta únicamente si el salario mensual es de menos del 50% de la matrícula que ha cancelado o los honorarios que recibirá son de menos del valor de la matrícula que canceló.</li>
          <li>El egresado responde las comunicaciones de Make it Real en un tiempo máximo de 72 horas.</li>
          <li>El egresado debe comunicar a Make it Real cualquier cambio de correo electrónico o número móvil.</li>
          <li>Si el egresado no recibe una propuesta de trabajo bajo estos lineamientos en los 6 siguientes meses después de terminar el programa se le reembolsará el 100% del pago de su matricula menos los costos de la transacción.</li>
          <li>El egresado deberá solicitar su reembolso explícitamente via email a info@makeitreal.camp y tendrá un plazo de 30 días calendario después de terminados los seis (6) meses.</li>
          <li>El reembolos se pagará en Pesos Colombianos.</li>
          <li>Make it Real no es responsable si el egresado pierde su trabajo por cualquier razón.</li>
        </ul>

      </div>
    </div>
  </div>

  <%= render "footer" %>

</div><!--/new-site -->
