<div class="new_site">
  <%= render "navigation" %>
  


  <div class="container-fluid">
    <div class="row">






      <%= render "apply_now" %>
      <%= render "footer" %>
    </div><!--/row -->
  </div><!--/contianer-fluid -->



</div><!--/new_site -->
