<div class="new-site job-guarantee">
  <%= render "layouts/navbar/pages_white", hide_login: true %>
  <div class="section section-dark section-job-header">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <h2>Política de Privacidad</h2>
        </div>
      </div><!--/row -->
    </div><!--/container -->
  </div><!--/pitch faq -->

  <div class="container job-guarantee-body">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <p>Tu privacidad es muy importante para nosotros. Este documento provee información acerca de la información personal que solicitamos y/o recolectamos, y la forma en que se maneja y se utiliza esa información.</p>

        <h3>Información que recolectamos</h3>
        <p>La siguiente es la información que solicitamos y/o recolectamos de los usuarios en nuestro sitio Web:</p>
        <ul>
          <li>Información del uso que el usuario le da al sitio Web como patrones de navegación, clicks y tiempos de estadía, entre otros.</li>
          <li>Información que el usuario provee a la hora de registrarse, ya sea para solicitar información o descargar contenido. Esta información incluye nombres, apellidos, país de residencia, teléfono y correo electrónico, entre otros.</li>
          <li>Información que los estudiantes ingresan en la plataforma de aprendizaje como soluciones, comentarios, repositorios, etc.</li>
          <li>Cualquier otra información que los usuarios nos envíen a través de la plataforma, correo electrónico o chat.</li>
        </ul>

        <h3>Uso de la información</h3>
        <p>La información que recolectamos y solicitamos a los usuarios es utilizada para:</p>
        <ul>
          <li>Brindar información y asesoría académica a las personas interesadas en nuestros programas.</li>
          <li>Brindar acceso a la plataforma de aprendizaje a nuestros estudiantes.</li>
          <li>Analizar comportamientos, tendencia y modo de uso de nuestro sitio Web y plataforma de aprendizaje.</li>
          <li>Enviar cuentas y facturas a los estudiantes.</li>
          <li>Recaudar los pagos de los estudiantes.</li>
          <li>Enviar información de nuevos programas, cursos, talleres y cualquier otro contenido que creamos relevante para el usuario, ya sea con fines de mercadeo o informativos.</li>
        </ul>

        <p>Adicionalmente, es posible que debamos revelar la información de nuestros usuarios cuando la ley así lo exija o mediante orden judicial.</p>

        <h3>Seguridad de la información</h3>
        <p>Usamos todos los métodos razonables para proteger la información de nuestros usuarios. Sin embargo, ningún sistema es impenetrable y por esta razón no podemos garantizar la completa seguridad de la información.</p>
        <p>Nuestros servidores se encuentran sobre la infrastructura de empresas reconocidas como <a href="https://heroku.com">Heroku</a>, <a href="https://digitalocean.com">Digital Ocean</a> y <a href="https://aws.amazon.com">Amazon Web Services</a>, entre otras. En lo posible, seguimos todas las recomendaciones y mejores prácticas de seguridad en cuanto al manejo de la información.</p>
        <p>Es posible que la información que los usuarios proporcionen pueda ser interceptada durante la transmisión de datos a los servidores y es por eso que siempre recomendamos el uso del protocolo seguro HTTPS.</p>

        <h3>Contacto</h3>
        <p>Si tienes cualquier pregunta sobre esta política de privacidad no dudes en comunicarte con nosotros al siguiente correo electrónico: <a href="mailto:info@makeitreal.camp">info@makeitreal.camp</a></p>
      </div>
    </div>
  </div>

  <%= render "footer" %>

</div><!--/new-site -->
