$('#web-developer-guide-form').replaceWith('<p class="thank-web-developer-guide"><strong>¡Muchas gracias! Tu libro va en camino</strong> En unos minutos recibirás un correo con el link de descarga. Esperamos que lo disfrutes y lo aproveches al máximo!</p><div class="thank-action text-center"><a href="#programs" class="btn btn-main">Conoce nuestros programas</a>');
