  <div class="home">
  <section class="section thank-you">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <header class="text-center title"><h1>¡Gracias por aplicar a Make it Real!</h1></header>
          <div class="col-sm-8 col-sm-offset-2 text-center">
            <p class="p">Revisaremos tu aplicación y si tu perfil cumple con los requerimientos necesarios para tener éxito en nuestro programa, te contactaremos. Aprovecha este tiempo para darle una mirada a las preguntas frequentes y no olvides seguir nuestro <a href="http://blog.makeitreal.camp" target="_blank">blog</a> y compartir este proyecto con otras personas apasionadas por la programación.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 text-center">
        <div class="sn">
          <a href="https://facebook.com/makeitrealcamp" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/makeitrealcamp" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="https://plus.google.com/106312898224365278368" rel="publisher" target="_blank"><i class="fa fa-google-plus"></i></a>
          <a href="http://instagram.com/makeitrealcamp" target="_blank"><i class="fa fa-instagram"></i></a>
          <a href="https://www.youtube.com/channel/UCcHBDdSPzOaWMsLFyO_HJYw" target="_blank"><i class="fa fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </section>


   <section class="section faq inverted inverted-remote">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <header class="text-center title">Preguntas Frecuentes</header>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="q">
            <header>¿Qué hace a Make it Real diferente?</header>
            <p>Make it Real es un programa muy estructurado, apoyado de mentores y una comunidad de estudiantes que trabajan de la mano, pero con la flexibilidad horaria y la dedicación que más te convenga.</p>
            <p>Hemos diseñado cuidadosamente el programa para que aprendas las habilidades que se requieren para convertirte en Desarrollador Web y puedas construir y desplegar aplicaciones complejas y robustas.</p>
          </div>

          <div class="q">
            <header>¿Cuánto tiempo debo dedicar?</header>
            <p>Lo mínimo que debes dedicar para completarlo en un año es 15 a 20 horas por semana. Sin embargo, si le dedicas 80 horas a la semana podrías completarlo en 3 meses o antes. Tu decides.</p>
          </div>

          <div class="q">
            <header>¿Me van a ayudar a encontrar empleo?</header>
            <p>Es posible que publiquemos algunas ofertas para los alumnos más avanzados pero no hay ninguna garantía. Es cierto que la demanda de programadores sigue creciendo, así que entre más duro trabajes por crear tu portafolio, más probable es que consiguas un empleo.</p>
          </div>

          <div class="q">
            <header>¿Por qué están haciendo esto?</header>
            <p>Porque creemos que el sistema de educación formal no se ha adaptado a las necesidades del mundo actual. Queremos mostrar que existen mejores formas de aprender a programar que ingresar a una universidad y que los títulos no son la única forma de conseguir trabajo.</p>
            <p>Pero nuestra mayor motivación es que más gente aprenda a programar y mejore su calidad de vida. La programación nos permite trabajar desde donde queramos y en la mayoría de casos en horarios flexibles. Eso abre muchas posibilidades para viajar, compartir en familia, y lo más importante: intentar mejorar el mundo.</p>
          </div>

          <div class="q">
            <header>¿Por qué un programa virtual y no presencial?</header>
            <p>Son varias las razones así que hemos escrito un <a href="http://blog.makeitreal.camp/2015/06/12/por-que-programa-virtual/">post completo</a> explicándolas.</p>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="q">
            <header>¿Cómo sé si este programa es para mi?</header>
            <p>El primer paso es iniciar con el curso de preparación. Aunque no tendrás acceso al chat para preguntarle a los mentores e interactuar con otros estudiantes, es una buena forma de conocer la metodología.</p>
            <p>Además, si sientes que el programa no es para ti y cancelas dentro de los primeros 15 días, recibirás un reembolso completo. Si cancelas después, recibirás un reembolso parcial según tu avance en la plataforma. Cero riesgo.</p>
          </div>

          <div class="q">
            <header>¿Cuáles son los requerimientos?</header>
            <p>Lo único que necesitas es un computador (con cualquier sistema operativo) y una buena conexión a Internet para ver los videos. <strong>Una advertencia</strong>: la mayoría de recursos están en Inglés. Es preferible si al menos lo entiendes escrito. Pero si no, no te preocupes, puedes usar un traductor si es necesario y buscar otros recursos por tu cuenta.</p>
          </div>

          <div class="q">
            <header>¿Qué pasa si no lo completo durante el año?</header>
            <p>El objetivo es que lo completes. Pero si por alguna razón no lo puedes hacer deberás pagar mensualmente para mantener activa la plataforma. Aún no hemos definido el costo.</p>
            <p>Nuestra recomendación es que pienses bien si le puedes dedicar el tiempo antes de tomar la decisión.</p>
          </div>

          <div class="q">
            <header>¿Por qué Ruby on Rails?</header>
            <p>Por varias razones. La primera es que no importa con qué tecnología aprendas, el mundo de la programación se mueve muy rápido y en algunos años la mayoría de tecnologías actuales serán obsoletas. El objetivo del programa es que aprendas a aprender.</p>
            <p>Seleccionamos Ruby on Rails porque es un framework muy expresivo, fácil de aprender y con una gran comunidad de desarrolladores en el mundo.</p>
            <p>No tenemos nada en contra de otros lenguajes y frameworks de programación, pero creemos que Rails tiene el balance perfecto entre madurez y facilidad de aprendizaje. Además, una vez que aprendas Rails, tus conocimientos pueden ser rápidamente transferidos a otros frameworks de programación similares en otros lenguajes como Django (Python), Laravel (PHP) o Express.js (Node.js).</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section footer inverted">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div>© Todos los derechos reservados. Make it Real es una marca de <a href="http://lanuevaeducacion.co" target="_blank">La Nueva Educación SAS</a>.</div>
          <div>
            <%= image_tag('whatsapp.png', style: "width: 25px") %> +57 (319) 227-6976
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<%= render "utils/sign_up_analytics" %>