<div class="new-site thank-you">
  <%= render "layouts/navbar/pages_white" %>
  <section class="section section-dark thank-you-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <header class="text-center title"><h2>¡Felicitaciones!</h2></header>
          <p class="subhead">Tu cupo para el curso de preparación está reservado. Recuerda que inicia el 27 de Septiembre de 2021. Puedes agregar el evento al calendario de Google haciendo click en el siguiente botón:</p>
          <p class="text-center" style="margin: 20px 0 40px;"><a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=dm45ZDlybnZudm01dGUwdnJvb2xjMzdpOGpfMjAyMTA5MjdUMjMzMDAwWiBtYWtlaXRyZWFsLmNhbXBfMmtjcGd1NjMxcXMzdDhjZGJiaXNndThrY2dAZw&amp;tmsrc=makeitreal.camp_2kcpgu631qs3t8cdbbisgu8kcg%40group.calendar.google.com&amp;scp=ALL" class="add-to-calendar"><i class="fa fa-calendar"></i> Agregar a mi calendario</a></p>
        </div>
      </div>
      <div class="col-sm-12 text-center">
        <div class="sn">
          <a href="https://facebook.com/makeitrealcamp" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/makeitrealcamp" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="http://instagram.com/makeitrealcamp" target="_blank"><i class="fa fa-instagram"></i></a>
          <a href="https://www.youtube.com/channel/UCcHBDdSPzOaWMsLFyO_HJYw" target="_blank"><i class="fa fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </section>

  <%= render "footer" %>
  <%= render "utils/sign_up_analytics" %>
</div>
