<div class="new-site thank-you">
  <%= render "layouts/navbar/pages_white" %>
  <section class="section section-dark thank-you-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <header class="text-center title"><h2>¡Felicitaciones!</h2></header>
          <p class="subhead">Este curso ha finalizado pero aún puedes acceder a las clases y ejercicios haciendo click en el siguiente botón:</p>
          <p class="text-center" style="margin: 20px 0 40px;"><a target="_blank" href="https://github.com/makeitrealcamp/preparacion-top-dec-2021" class="add-to-calendar">Ir al curso</a></p>
        </div>
      </div>
      <div class="col-sm-12 text-center">
        <div class="sn">
          <a href="https://facebook.com/makeitrealcamp" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/makeitrealcamp" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="http://instagram.com/makeitrealcamp" target="_blank"><i class="fa fa-instagram"></i></a>
          <a href="https://www.youtube.com/channel/UCcHBDdSPzOaWMsLFyO_HJYw" target="_blank"><i class="fa fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </section>

  <%= render "footer" %>
  <%= render "utils/sign_up_analytics" %>
</div>
