<div class="new-site thank-you">
  <%= render "layouts/navbar/pages_white" %>
  <section class="section section-dark thank-you-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <header class="text-center title"><h2>¡Muchas gracias!</h2></header>
          <p class="subhead">Aplicación recibida. En los próximos días recibirás un correo con nuestra respuesta y los siguientes pasos. Mientras tanto te invitamos a conocer nuestro <a href="http://blog.makeitreal.camp" target="_blank">blog</a> y a unirte a nuestras redes sociales:</p>
        </div>
      </div>
      <div class="col-sm-12 text-center">
        <div class="sn">
          <a href="https://facebook.com/makeitrealcamp" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/makeitrealcamp" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="https://plus.google.com/106312898224365278368" rel="publisher" target="_blank"><i class="fa fa-google-plus"></i></a>
          <a href="http://instagram.com/makeitrealcamp" target="_blank"><i class="fa fa-instagram"></i></a>
          <a href="https://www.youtube.com/channel/UCcHBDdSPzOaWMsLFyO_HJYw" target="_blank"><i class="fa fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </section>

  <%= render "footer" %>
  <%= render "utils/sign_up_analytics" %>
</div>
