<p>Hola Germán,</p>

<p><strong><%= "#{@first_name} #{@last_name}" %></strong> ha enviado la prueba técnica del programa Innóvate Perú.</p>

<p>Cordial Saludo,</p>

<p class="signature">Plataforma de Aprendizaje<br>
makeitreal.camp</p>
