<%# required: question_attempt %>
<% question = question_attempt.question %>
<% quiz = question.quiz %>
<% subject = quiz.subject %>

<div class="question"><%= simple_markdown question.text %></div>
<%= f.text_area :answer, class: "form-control" %>
