.admin-challenges {
  .secondary {
    display: block;
    color: #999;
  }

  .challenge-users {
    padding-left: 25px;
  }

  .challenge-effectiveness {
    padding-left: 25px;
  }

  .challenge-average {
    padding-left: 70px;
  }
}
