// Place all the styles related to the admin/email_templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-email-template{
  .container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .email-templates-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f04500;

    .btn-new-email-template{
      display: flex;
      align-items: center;
    }

    .new-template-glyphicon{
      margin-right: 3px;
    }
  } 

  .email-table{
    margin-top: 65px;

    .body-email-template td{
      background-color: white;
      vertical-align: middle;

      .title-email{
        color: #f04500;
        font-size: 25px;
        vertical-align: middle;
      }

      .message-email{
        color:#999;
        vertical-align: middle !important;
        padding-top: 15px;
      }

      .body-email{
        color: #999;
        vertical-align: middle !important;
      }

      .glyphicon-hand-right{
        vertical-align: middle !important;
      }
    }
  } 
}
.show-email{
  #show-subject-email{
    display: flex;
  }

  .show-subject{
    border: solid 2px #DFD7E0;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 5px;
    padding: 7px;
  }

  .show-body{
    border: solid 2px #DFD7E0;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 5px;
    padding: 15px;
  }

  .btn-show-email{
    float: right;
    margin-right: 200px;
    margin-top: 10px;
  }

}
.modal-email-template{
}