<% breadcrumb :project_solutions, @project %>

<div class="container-fluid project_solutions">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <h2>Soluciones para <%= @project.name %></h2>
        <p>Ayúdale a los demás a mejorar sus soluciones dándoles tu opinión</p>
      </div>
    </div>
  </div>
  <div class="row">
    <% unless @own_project_solution.nil? %>
      <%= render "project_solutions/project_box", solution: @own_project_solution, own_solution: true %>
    <% end %>
    <% @project_solutions.each do |solution| %>
      <%= render "project_solutions/project_box", solution: solution %>
    <% end %>

  </div>
</div>
