<%# require: resource %>
<div class="col-sm-8 col-sm-offset-2 expand text-center external">
  <h1><%= resource.title %></h1>
  <p><%= resource.description %></p>
  <a href="<%= open_subject_resource_path(resource.subject, resource) %>" target="_blank" class="btn btn-secondary">
    Haz click acá para abrirlo &nbsp;
    <span class="glyphicon glyphicon-new-window"></span>
  </a>
</div>
