<% breadcrumb :resource, @resource %>

<div class="resource-page expand">
  <div class="container-fluid expand overflow">
    <div class="row expand">
      <%= render "resources/#{@resource.type}_resource", resource: @resource %>
    </div>
  </div>
</div>

<div id="finished-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Recursos finalizados</h4>
      </div>
      <div class="modal-body">
        Este es el último recurso.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="resource-page-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6">
        <%= link_to "<span class='glyphicon glyphicon-arrow-left'></span> <span class='hidden-xs'>Volver a #{@resource.subject.name}</span>".html_safe, @resource.subject, class: "btn btn-link" %>
      </div>
      <div class="col-xs-6 text-right">
        <div class="finish">
          <% if @resource.self_completable? %>
            <%= link_to "<span class='glyphicon glyphicon-ok'></span> <span class='hidden-xs'>Completar y Continuar</span>".html_safe, subject_resource_completion_path(subject_id: @resource.subject.id, resource_id: @resource.id), class: "btn btn-primary", method: :post %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
