<div class="container resource-page">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <%= link_to "<span class='glyphicon glyphicon-arrow-left'></span> Volver a #{@resource.course.name}".html_safe, @resource.course %>
      <h1><%= @resource.title %></h1>

      <%= markdown @resource.content %>
    </div>
  </div>
</div>