countries = {
  MX: {
    code: "MX",
    country: "México",
    currency: "MXN",
    culturePayment: "$350",
    scheme2Cost: "$37,044",
    scheme3Cost: "$102,900",
    scheme4Cost: "$102,900",
    scheme5Cost: "$102,900",
    scheme1Ceil: "$144,060",
    scheme1CeilStipend: "$158,301"
    scheme2Ceil: "$123,480",
    scheme4InstallmentFee: "$3087",
    scheme4Installments: "8",
    scheme5InstallmentFee: "$20,580",
    scheme5Installments: "5",
    scheme4Ceil: "$123,480",
    salaryRange: "$23,025",
    socialCondition: "categoría socioeconómica Media Baja o menor",
    residency: "mexicano(a)",
  },
  CO: {
    code: "CO",
    country: "Colombia",
    currency: "COP",
    culturePayment: '$50,000',
    scheme2Cost: "$7.5M",
    scheme3Cost: "$19.5M",
    scheme4Cost: "$19.5M",
    scheme5Cost: "$19.5M",
    scheme1Ceil: "$27.3M",
    scheme1CeilStipend: "$30.5M"
    scheme2Ceil: "$23.4M",
    scheme4InstallmentFee: "$585.000",
    scheme4Installments: "8",
    scheme5InstallmentFee: "$3M",
    scheme5Installments: "5",
    scheme4Ceil: "$14.5M",
    salaryRange: "$5.7M",
    socialCondition: "estrato 3 o menor",
    residency: "colombiano(a)"
  },
  PE: {
    code: "PE",
    country: "Perú",
    currency: "PEN",
    culturePayment: 'S/ 56',
    scheme2Cost: "S/ 6,750",
    scheme3Cost: "S/ 18,750",
    scheme4Cost: "S/ 18,750",
    scheme5Cost: "S/ 18,750",
    scheme1Ceil: "S/26,250",
    scheme1CeilStipend: "S/ 29,364"
    scheme2Ceil: "S/ 22,500",
    scheme4InstallmentFee: "S/563",
    scheme4Installments: "8",
    scheme5InstallmentFee: "S/3,750",
    scheme5Installments: "5",
    scheme4Ceil: "S/18,750",
    salaryRange: "S/4,000",
    socialCondition: "NSE C,D,E",
    residency: "peruano(a)"
  },
  CR: {
    code: "CR",
    country: "Costa Rica",
    currency: "CRC",
    culturePayment: '₡ 11,985',
    scheme2Cost: "₡ 1,152,000",
    scheme3Cost: "₡ 3,200,000",
    scheme4Cost: "₡ 3,200,000",
    scheme5Cost: "₡ 3,200,000",
    scheme1Ceil: "₡ 4,480,000",
    scheme1CeilStipend: "₡ 5,011,000"
    scheme2Ceil: "₡ 3,840,000",
    scheme4InstallmentFee: "₡ 96,000",
    scheme4Installments: "8",
    scheme5InstallmentFee: "₡ 640,000",
    scheme5Installments: "5",
    scheme4Ceil: "₡ 3,200,000",
    salaryRange: "₡ 900,000",
    socialCondition: "C3, D, E",
    residency: "costarricense",
    currencySymbol: "₡"
  },
  CL: {
    code: "CL",
    country: "Chile",
    currency: "CLP",
    culturePayment: '$ 11,985',
    scheme2Cost: "$ 1,438,200",
    scheme3Cost: "$ 3,995,000",
    scheme4Cost: "$ 3,995,000",
    scheme5Cost: "$ 3,995,000",
    scheme1Ceil: "$ 5,593,000",
    scheme1CeilStipend: "$ 6,256,490"
    scheme2Ceil: "$ 4,794,000",
    scheme4InstallmentFee: "$ 119,850",
    scheme4Installments: "8",
    scheme5InstallmentFee: "$ 799,000",
    scheme5Installments: "5",
    scheme4Ceil: "$ 5,593,000",
    salaryRange: "$ 1,150,000",
    socialCondition: "C3, D, E",
    residency: "chileno(a)"
  },
  other: {
    country: "",
    currency: "usd",
    culturePayment: '$15',
    scheme2Cost: "$2,500",
    scheme3Cost: "$5,000",
    scheme4Cost: "$5,000",
    scheme5Cost: "$5,000",
    scheme1Ceil: "$7,000",
    scheme1CeilStipend: "$7,300"
    scheme2Ceil: "$3,500",
    scheme4InstallmentFee: "$315",
    scheme4Installments: "8",
    scheme5InstallmentFee: "$1,000",
    scheme5Installments: "5",
    scheme4Ceil: "$4,800",
    salaryRange: "$1,300",
    socialCondition: "estrato 3 o menor",
    residency: "colombiano(a), mexicano(a), chilen(a), peruano(a), costarricense"
  }
}

class TopProgramView extends Backbone.View
  el: '.innovate-program'

  initialize: ->
    $('.overlay').html('<div class="top-loading"><div class="loader">Loading...</div></div>').show()
    $.getJSON("//ipinfo.io?token=dbb0f38cf907e8")
      .done((response) =>
        country_code = response.country
        country_code = "other" if country_code != "CO" and country_code != "MX"
        @fill_data(country_code)
      ).fail(() =>
        @fill_data("other")
      )

  fill_data: (country_code) ->
    country = countries[country_code]
    window.country = country

    $('.overlay').hide()
    currency = country.currency
    window.currency = currency

    @.$("[data-holder='scheme-1-currency']").html(currency)
    @.$("[data-holder='scheme-2-value']").html("#{country.scheme2Cost} #{currency}")
    @.$("[data-holder='scheme-3-value']").html("#{country.scheme3Cost} #{currency}")
    @.$("[data-holder='scheme-4-value']").html("#{country.scheme4Cost} #{currency}")
    @.$("[data-holder='salary-range']").html("#{country.salaryRange} #{currency}")
    @.$("[data-holder='culture-payment']").html("#{country.culturePayment} #{currency}")
    @.$("[data-holder='ceil-scheme-1']").html("#{country.scheme1Ceil} #{currency}")
    @.$("[data-holder='ceil-scheme-1-stipend']").html("#{country.scheme1CeilStipend} #{currency}")
    @.$("[data-holder='ceil-scheme-2']").html("#{country.scheme2Ceil} #{currency}")
    @.$("[data-holder='ceil-scheme-4']").html("#{country.scheme4Ceil} #{currency}")
    @.$("[data-holder='scheme-4-value']").html("#{country.scheme4Cost} #{currency}")
    @.$("[data-holder='scheme-4-installment-fee']").html("#{country.scheme4InstallmentFee} #{currency}")
    @.$("[data-holder='scheme-4-installments']").html("#{country.scheme4Installments}")
    @.$("[data-holder='scheme-5-installment-fee']").html("#{country.scheme5InstallmentFee} #{currency}")
    @.$("[data-holder='scheme-5-installments']").html("#{country.scheme5Installments}")
    @.$("[data-holder='social-condition']").html("#{country.socialCondition}")
    @.$("[data-holder='residency']").html(country.residency)
    @.$("[data-holder='country']").html(country.country)

  events: ->
    "click .apply-now-btn": "show_registration"
    "click .back": "reset_scheme_options"

  show_registration: ->
    new TopRegistrationView(@country_code, @currency)

class TopRegistrationView extends Backbone.View
  el: '#application-modal'

  initialize: (@country, @currency) ->
    @render()

  render: ->
    $(@el).on('shown.bs.modal', =>

    ).modal()

  events: ->
    "click .accept-terms-btn": "accept_terms"
    "click .verification-back-btn": "navigate_back_to_enter_email"
    "click .application-step-btn": "application_next_step"
    "change #country": "change_country_code"
    "change #format": "show_scheme_options"
    "change #payment-method-fulltime": "show_can_work_full_time"
    "change #payment-method-partime": "show_can_work_part_time"
    "click .submit": "submit_form"

  accept_terms: (e) ->
    @.$('.accept-terms-step .form-group, .accept-terms-step .checkbox').removeClass('has-error')

    valid = true
    valid = false if !@checkbox_is_selected($('#terms'))

    if valid
      @show_enter_email()

  show_enter_email: () ->
    @.$('.accept-terms-step').hide()
    @.$('.enter-email-step').show()
    @.$('#top_invitation_email').focus()

  navigate_back_to_enter_email: () -> 
    @.$('.verification-step').remove()   
    @.$('.enter-email-step').show()

  application_next_step: () ->
    @.$('.application-1 .form-group').removeClass('has-error')

    valid = true
    valid = false if !@input_text_is_valid($('#first-name'))
    valid = false if !@input_text_is_valid($('#last-name'))
    valid = false if !@input_text_is_valid($('#birthday'))
    valid = false if !@input_text_is_valid($('#gender'))
    valid = false if !@input_text_is_valid($('#country'))
    valid = false if !@input_text_is_valid($('#mobile'))
    valid = false if !@input_text_is_valid($('#format'))
    valid = false if !@input_text_is_valid($('#payment-method-partime')) && !@input_text_is_valid($('#payment-method-fulltime'))

    if valid
      @show_application_questions()

  show_application_questions: -> 
    @.$('.application-1').hide()
    @.$('.application-2').show()
    @.$('.application-step-btn').hide()
    @.$('.submit').show()

  submit_form: ->
    @.$('.application-2 .form-group').removeClass('has-error')

    valid = true
    valid = false if !@input_text_is_valid($('#goal'))
    valid = false if !@input_text_is_valid($('#experience'))
    valid = false if !@input_text_is_valid($('#additional'))

    if valid
      @.$('.finish').attr('disabled', true)
      @.$('#application-form')[0].submit()

  change_country_code: ->
    country = $('#country').val()
    if (country != "")
      @.$('#mobile-code').html('+' + $('#country option:selected').data('code'))
      $('#mobile').focus()
    else
      @.$('#mobile-code').html('+00')

  input_text_is_valid: (field, message) ->
    if field.val().replace(/\s+/, '').length == 0
      field.closest('.form-group').addClass('has-error')
      return false
    return true

  checkbox_is_selected: (field, message) ->
    if !field.is(':checked')
      field.closest('.checkbox').addClass('has-error')
      return false
    return true

  reset_scheme_options: ->
    @.$('#format').val("")
    @.$('#payment-method-fulltime').val("")
    @.$('#fulltime-scheme').hide()
    @.$("#stipendCheckBox").prop("checked", false)
    @.$('#payment-method-partime').val("")
    @.$('#partime-scheme').hide()
    @.$('#stipend').hide()
    @.$('#can-work').hide()

  show_scheme_options: (e) ->
    @show_full_time_options(e.currentTarget);
    @show_part_time_options(e.currentTarget);

  show_full_time_options: (elem) ->
    if (elem.value == "format-full")
      @.$('#payment-method-fulltime').val("")
      @.$('#payment-method-partime').val("")
      @.$('#stipend').hide()
      @.$('#fulltime-scheme').show()
      @.$("#stipendCheckBox").prop("checked", false)
    else
      @.$('#fulltime-scheme').hide()

  show_part_time_options: (elem) ->
    if (elem.value == "format-partial")
      @.$('#payment-method-partime').val("")
      @.$('#payment-method-fulltime').val("")
      @.$('#stipend').hide()
      @.$('#can-work').hide()
      @.$("#stipendCheckBox").prop("checked", false)
      @.$('#partime-scheme').show()
    else
      @.$('#partime-scheme').hide()

  show_can_work_full_time: (e) ->
    elem = e.currentTarget
    if(elem.value == "scheme-1")
      @.$('#can-work').show()
      @.$('#stipend').show()
    else if (elem.value == "scheme-2")
      @.$('#can-work').show()
      @.$('#stipend').hide()
      @.$("#stipendCheckBox").prop("checked", false)
     else
      @.$('#can-work').hide()
      @.$('#stipend').hide()
      @.$("#stipendCheckBox").prop("checked", false)

  show_can_work_part_time: (e) ->
    elem = e.currentTarget
    if(elem.value == "scheme-1")
      @.$('#can-work').show()
    else
      @.$('#can-work').hide()

window.TopProgramView = TopProgramView
