.charge-page {
  margin-bottom: 80px;
  padding-top: 30px;

  p {
    line-height: 1.6;
  }

  .charge-wrapper {
    background: white;
    border: 1px solid #ddd;
    margin-top: 30px;

    .alert {
      margin-bottom: 0;
    }

    .charge-body {
      padding: 30px 50px;

      .charge-amount {
        font-size: 21px;
      }

      .invoice-data { margin: 40px 0 0 30px }
      .info-group {
        margin-bottom: 10px;

        label { width: 200px; }
      }
    }

    h1 {
      font-family: $font-family-sans-serif;
      font-weight: normal;
      margin: 0;
      font-size: 24px;
    }

    h3 {
      font-size: 18px;
      margin-bottom: 25px;
      margin-top: 30px;
      font-weight: 600;
    }

    .field {
      margin-bottom: 20px;

      .field-label {
        display: block;
        color: #f04500;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
      }

      .field-value {
        color: #333;
        font-size: 18px;
      }

      .field-value-small {
        display: block;
        color: #666;
      }
    }
  }
}
