<div class="form-group git-repo">
  <p>Ingresa la ruta al repositorio de Github con tu solución:</p>
  <div class="input-group input-group-lg">
    <span class="input-group-addon" id="basic-addon1">https://github.com/</span>
    <%= text_field_tag :repository, @solution.repository, class: "form-control", placeholder: "usuario/repositorio" %>
  </div>
</div>