<div class="form-group git-repo">
  <p>Ingresa el número del pull request:</p>
  <div class="input-group input-group-lg">
    <span class="input-group-addon" id="basic-addon1">github.com/makeitrealcamp/students/pull/</span>
    <%= text_field_tag :pull_request, @solution.pull_request, class: "form-control", placeholder: "# Pull Request" %>
  </div>
</div>
