<%= render layout: "message" do %>
  <div class="box-body">
    <p><strong>¡Asistencia confirmada!</strong> Tu asistencia ya ha sido confirmada, si tienes alguna pregunta o inquietud de tu proceso escríbenos a <a href="mailto:info@makeitreal.camp">info@makeitreal.camp</a>.</p>
  </div>
<% end %>
