<%= render layout: "message" do %>
  <div class="box-body">
    <p><strong>¡Prueba técnica enviada!</strong> Tu prueba ya ha sido enviada, si tienes alguna pregunta o inquietud de tu proceso escríbenos a <a href="mailto:info@makeitreal.camp">info@makeitreal.camp</a>.</p>
  </div>
<% end %>
