<%= render layout: "message" do %>
  <div class="box-body">
    <p>¡Lo sentimos! No encontramos el registro asociado. Asegúrate de haber copiado bien la URL. Si el problema persiste escríbenos a <a href="mailto:info@makeitreal.camp">info@makeitreal.camp</a> para ayudarte.</p>
  </div>
<% end %>
