<%= render layout: "message" do %>
  <div class="box-body">
    <p><strong>¡Hemos confirmado tu asistencia al curso gratuito de aspirantes top!</strong> En los próximos días te contactaremos.</p>
  </div>
<% end %>
