<%= render layout: "message" do %>
  <div class="box-body">
    <p><strong>¡Prueba técnica enviada!</strong> En los próximos días nuestro equipo estará revisando la prueba y pronto te contactaremos.</p>
  </div>
<% end %>
