<!-- <div> 
    <% @body.split("\n").each do |phrase| %>
       <% if phrase == "\r" %>
        <br>
      <% else %>
        <p> <%= phrase %> </p>
      <% end %>  
     <% end %>  
</div>
 -->

 <div> <%= @body %></div>