@import "bootstrap-sprockets";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "theme";
@import "bootstrap";
@import "base"; // has the standard styles
@import "codemirror";
@import "solarized";
@import "pygments";
@import "pages";
@import "sessions";
@import "users";
@import "courses";
@import "challenges";
@import "resources";
@import "comments";
@import "admin/dashboard";
@import "admin/solutions";

html.turbolinks-progress-bar::before {
  background-color: #C74238 !important;
  height: 5px !important;
}

.expand { height: 100%; }
.overflow { overflow-y: scroll; }

.navbar { margin-bottom: 0; }

.navbar-brand {
  position: relative;
  margin-top: -6px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  span.camp {
    display: block;
    font-size: 13px;
    line-height: 0.5;
    text-align: right;
  }

  span.start {
    display: inline-block;
    position: absolute;
    font: 24px/1 "Open Sans Condensed", sans-serif;
    opacity: 0.8;
    border-left: 2px solid white;
    padding: 2px 12px;
    top: 28px;
    left: 125px;
  }
}

.navbar-nav > li > a.avatar {
  padding-top: 9px;
  padding-bottom: 5px;

  img {
    width: 55px;
    border: 2px solid rgba(255, 255, 255, 0.6);
  }
}

.content-wrapper {
  margin-top: -70px;
  padding-top: 90px;
}

.action {
  color: white;
  font-size: 13px;
  padding: 4px;
  border-radius: 5px;
  opacity: 0.4;

  &:hover { opacity: 1; }
  &.action-add { background: #2A79A6; }
  &.action-edit { background: #2A79A6; }
  &.action-remove { background: #C74238; }
  &.action-warn { background: #E3A214; }
}

.alert-top {
  @extend .alert;

  text-align: center;
  border-radius: 0;
  padding: 7px 15px;
  margin-top: -20px;
}

.alert-top-notice {
  @extend .alert-success;
}

.alert-top-error {
  @extend .alert-danger;
}

.CodeMirror pre {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.field_with_errors .form-control {
  border-color: #a94442;
}

.tooltip-inner {
  font-size: 14px;
  white-space: nowrap;
}
