@import "bootstrap-sprockets";
@import "theme";
@import "bootstrap";
@import "pages";

.expand { height: 100%; }

.navbar-brand {
  position: relative;
  margin-top: -6px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  span.camp {
    display: block;
    font-size: 13px;
    line-height: 0.5;
    text-align: right;
  }

  span.start {
    display: inline-block;
    position: absolute;
    font: 24px/1 "Open Sans Condensed", sans-serif;
    opacity: 0.8;
    border-left: 2px solid white;
    padding: 2px 12px;
    top: 28px;
    left: 125px;
  }
}

.navbar-nav > li > a.avatar {
  padding-top: 9px;
  padding-bottom: 5px;

  img {
    width: 55px;
    border: 2px solid rgba(255, 255, 255, 0.6);
  }
}
