$grid-float-breakpoint: 810px;
@import "bootstrap-sprockets";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "icomoon";
@import "theme";
@import "bootstrap";
@import "base"; // has the standard styles
@import "codemirror";
@import "monokai";
@import "pygments";
@import "pages";
@import "sessions";
@import "users";
@import "dashboard";
@import "courses";
@import "challenges";
@import "resources";
@import "comments";
@import "projects";
@import "project_solutions";
@import "forms";
@import "content_navigation";
@import "phases";
@import "profiles";
@import "points";
@import "alerts";
@import "navbar";
@import "notifications";
@import "admin/dashboard";
@import "admin/solutions";
@import "admin/badges";
@import "admin/project_solutions";
@import "quizer/quiz_attempt";

html, body{

  @media (max-width: $screen-sm-max) {
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
  }
}

html.turbolinks-progress-bar::before {
  background-color: #C74238 !important;
  height: 5px !important;
}

.expand { height: 100%; }
.overflow { overflow-y: auto; }

.breadcrumb {
  background-color: $body-bg;
  margin-top: -15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  padding-left: 20px;
}

.content-wrapper {
  margin-top: -141px;
  padding-top: 171px;
  &.no-scroll {
    overflow: hidden;
  }
}

.action {
  color: white;
  font-size: 13px;
  padding: 4px;
  border-radius: 5px;
  opacity: 0.4;

  &:hover { opacity: 1; }
  &.action-add { background: #2A79A6; }
  &.action-edit { background: #2A79A6; }
  &.action-remove { background: #C74238; }
  &.action-warn { background: #E3A214; }
  &.action-love { background: #AF38C7;}
  &.action-blue { background: #2A79A6; }
}

.CodeMirror pre {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.field_with_errors .form-control {
  border-color: #a94442;
}

.tooltip-inner {
  font-size: 14px;
}

.video-wistia {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
// Source: https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
.video-wrapper {
  margin-top: 15px;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 15px;
  height: 0;
  z-index: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.banner {
  position: relative;
  text-align: center;
  padding: 25px;

  p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;

    strong { font-weight: normal; }
  }

  .banner-loading {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #303030;
    opacity: 0.6;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -35px;
      margin-left: -27px;
    }
  }
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: white;
}

img.avatar {
  width: 40px;
}

.title-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

code {
  color: #313630;
  background-color: #E9E9E3;
}

.hightlighted {
  border-style: solid;
  border-color: #FC441D;
  border-width: 3px;
}

.margin-bottom {
  margin-bottom: 20px;
}

@media (min-width: $screen-sm-min) {
  .pull-right-sm {
    float: right;
  }
  .pull-left-sm {
    float: left;
  }
}
@media (min-width: $screen-md-min) {
  .pull-right-md {
    float: right;
  }
  .pull-left-md {
    float: left;
  }
}
@media (min-width: $screen-lg-min) {
  .pull-right-lg {
    float: right;
  }
  .pull-left-lg {
    float: left;
  }
}
