.artificial-tutor-chat {
  display: flex;
  flex-direction: column; 
  position: fixed; 
  bottom: 10px; 
  right: 10px; 
  width: 90%;
  height: 90vh; 
  background-color: white; 
  border: 1px solid #ccc;
  z-index: 1000;

  @media(min-width: $screen-sm-min) { 
    width: 500px;
  }

  &.hide {
    display: none;
  }

  header.main {
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 7px;
    border-bottom: 1px solid #ccc;
    .close span { 
      font-size: 2rem;
    }
  }

  .messages {
    flex: 1; 
    padding: 20px; 
    overflow-y: auto;

    .message {
      margin-bottom: 20px;

      header {
        .role {
          font-weight: bold; 
          font-size: 0.75rem; 
          margin-bottom: 5px;
        }
      }

      .text {
        font-size: 0.8rem;

        pre { font-size: 0.8rem; }
      }
    }
  }

  .input {
    padding: 10px 30px 10px 10px;

    .tutor-typing {
      display: none;
      color: #999;
      font-size: 0.8rem;
      font-style: italic;
      margin-bottom: 7px;
    }

    #chat-input {
      display: block;
      font-size: 0.8rem;
      border: 1px solid #ccc;
      padding: 6px 10px;
      min-height: 35px;
      width: 100%;
    }
  }
}

.robo-tutor {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1001;
  cursor: pointer;

  img {
    width: 80px;
  }
}