h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 28px;
  margin-bottom: 20px;

  @media (min-width: $screen-sm-min) {
    font-size: 38px;
    margin-bottom: 30px;
  }
}

h2 {
  font-size: 21px;
  margin-bottom: 15px;

  @media (min-width: $screen-sm-min) {
    font-size: 24px;
    margin-bottom: 20px;
  }
}