h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 700;

  @media (min-width: $screen-sm-min) {
    font-size: 42px;
    margin-bottom: 30px;
  }
}

h2 {
  font-size: 21px;
  margin-bottom: 15px;
  font-weight: 700;

  @media (min-width: $screen-sm-min) {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.overlay{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $zindex-navbar+1;
  background-color: rgba(35, 43, 51, 0.7);
}

.help-block { font-size: 14px; }

.btn {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  padding: 10px 15px;

  @include transition(background 0.4s ease);
}

.btn-primary {
  &:hover, &:active, &:focus {
    background: $brand-secondary;
  }
}

.btn-secondary {
  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-default-border);

  &:hover {
    background: $brand-primary;
    text-decoration: none;
  }
}

.btn-xs {
  padding: 4px 5px;
  font-size: 12px;
  line-height: 1;
}

.label-secondary {
  @include label-variant($brand-secondary);
}
