h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 34px;
  margin-bottom: 20px;
  font-weight: 700;

  @media (min-width: $screen-sm-min) {
    font-size: 42px;
    margin-bottom: 30px;
  }
}

h2 {
  font-size: 21px;
  margin-bottom: 15px;
  font-weight: 700;

  @media (min-width: $screen-sm-min) {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.overlay{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $zindex-navbar+1;
  background-color: rgba(35, 43, 51, 0.7);
}

.help-block { font-size: 14px; }
.btn-action {
  font-size: 16px;
  border: 0;
  padding: 10px 15px;
  background: #f04500;
  color: #fff;
  border-radius: 3px;
  font-weight: 600;
  font-family: "Open Sans",sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  -webkit-transition: background 0.6s ease;
  -moz-transition: background 0.6s ease;
  -o-transition: background 0.6s ease;
  transition: background 0.6s ease;
  &:hover {
    background: #005e9f;
    text-decoration: none;
    color: #fff;
  }
}
.btn-go-to {
  font-size: 16px;
  border: 0;
  padding: 10px 15px;
  background: #005e9f;
  color: #fff;
  border-radius: 3px;
  font-weight: 600;
  font-family: "Open Sans",sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  -webkit-transition: background 0.6s ease;
  -moz-transition: background 0.6s ease;
  -o-transition: background 0.6s ease;
  transition: background 0.6s ease;
  &:hover, &:focus {
    background: #f04500;
    text-decoration: none;
    color: #fff;
  }
}
.btn-cancel, .btn-preview {
  font-size: 16px;
  border: 0;
  padding: 10px 15px;
  background: #cac9c9;
  color: #878787;
  border-radius: 3px;
  font-weight: 600;
  font-family: "Open Sans",sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  -webkit-transition: background 0.6s ease;
  -moz-transition: background 0.6s ease;
  -o-transition: background 0.6s ease;
  transition: background 0.6s ease;
  &:hover, &:focus {
    background: #e2e1e1;
    color: #878787;
    text-decoration: none;
  }
}
