.challenge-page {
  h1 {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 32px;
    margin-bottom: 25px;
  }

  .solution {
    .nav-tabs {
      margin-left: -1px;

      li.active a {
        color: #839496;
        background: #002b36;
      }
    }

    .tab-content {
      margin-top: -44px;
      padding-top: 44px;
      margin-bottom: -60px;
      padding-bottom: 60px;
    }
  }

  .CodeMirror {
    height: 100%;
    padding: 10px;
    box-shadow: none !important;
  }

  .solution-buttons {
    margin-top: 10px;
  }
}

#notification-modal .icon {
  font-size: 62px;
  padding: 0;
  margin-bottom: 0;
}

.new-challenge-page {
  h1 {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 32px;
    margin-bottom: 25px;
    margin-top: 0;
  }

  .right {
    margin-top: -60px;
    padding-top: 107px;

    .right-content {
      .evaluation-tab.active a {
        color: white;
        background: #002b36;
      }

      .evaluation-wrapper {
        margin-top: -52px;
        padding-top: 51px;

        .CodeMirror {
          height: 100%;
          padding: 10px;
          box-shadow: none !important;
        }
      }

      .files-wrapper {
        margin-top: -72px;
        padding-top: 51px;

        .files {
          margin-top: 30px;

          .nav-tabs li {
            position: relative;

            a { padding-right: 30px; }

            &.active a {
              color: #839496;
              background: #002b36;
            }

            .remove-file-btn {
              position: absolute;
              top: 7px;
              right: 10px;
              color: #839496;
              font-size: 21px;
              font-weight: bold;
              text-decoration: none;
              cursor: pointer;

              &:hover { color: #333; }
            }

            &.active .remove-file-btn:hover { color: white; }
          }

          #editors-panel {
            margin-top: -52px;
            padding-top: 51px;

            .CodeMirror {
              height: 100%;
              padding: 10px;
              box-shadow: none !important;
            }
          }
        }

        .new-file-btn {
          text-align: center;
          margin-top: 60px;
        }
      }
    }
  }

  .action-buttons {
    margin-top: 10px;
  }

}