.challenge-page {
  .tooltip > .tooltip-inner {
    position: fixed;
  }

  .instructions {
    position: relative;

    .actions {
      position: absolute;
      top: 0px;
      right: 10px;
    }

    .instructions-text { padding-bottom: 60px; }

    p, li {
      font-size: 18px;
      line-height: 1.6;
    }
    .highlight { margin: 20px 0; }

    img {
      max-width: 100%;
      border: 1px solid #eee;
      padding: 5px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .accept-text {
    font-size: 21px;
    font-weight: 300;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .solution {
    .nav-tabs {
      margin-left: -1px;

      li.active a {
        color: #839496;
        background: #272822;
      }
    }

    .tab-content {
      margin-top: -44px;
      padding-top: 44px;
      margin-bottom: -60px;
      padding-bottom: 60px;
    }
  }

  .CodeMirror {
    height: 100%;
    padding: 10px;
    box-shadow: none !important;
  }

  .solution-buttons {
    margin-top: 10px;
  }

  .git-repo {
    p { margin-bottom: 15px; font-size: 18px;}
  }
}

.notification-modal .icon {
  font-size: 62px;
  padding: 0;
  margin-bottom: 0;
}

.new-challenge-page {
  h1 {
    margin-top: 0;
  }

  .right {
    margin-top: -60px;
    padding-top: 107px;

    .right-content {
      .evaluation-tab.active a {
        color: white;
        background: #272822;
      }

      .evaluation-wrapper {
        margin-top: -52px;
        padding-top: 51px;

        .CodeMirror {
          height: 100%;
          padding: 10px;
          box-shadow: none !important;
        }
      }

      .files-wrapper {
        margin-top: -72px;
        padding-top: 51px;

        .files {
          margin-top: 30px;

          .nav-tabs li {
            position: relative;

            a { padding-right: 30px; }

            &.active a {
              color: #839496;
              background: #272822;
            }

            .remove-file-btn {
              position: absolute;
              top: 7px;
              right: 10px;
              color: #839496;
              font-size: 21px;
              font-weight: bold;
              text-decoration: none;
              cursor: pointer;

              &:hover { color: #333; }
            }

            &.active .remove-file-btn:hover { color: white; }
          }

          #editors-panel {
            margin-top: -52px;
            padding-top: 51px;

            .CodeMirror {
              height: 100%;
              padding: 10px;
              box-shadow: none !important;
            }
          }
        }

        .new-file-btn {
          text-align: center;
          margin-top: 60px;
        }
      }
    }
  }

  .action-buttons {
    margin-top: 10px;
  }

  .checkbox {
    margin-bottom: 20px;
    label {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

#zoom-modal .modal-dialog img {
  border: 1px solid #eee;
  padding: 5px;
  max-width: 100%;
}

.solution-eval {
  position:absolute;
  top: 50px;
  left: 50%;
  color: white;
  width: 600px;
  margin-left: -300px;
  border: 1px solid #999;
  border-radius: 10px;
  background: rgba(35, 43, 51, 0.2);

  .solution-eval-header {
    font-size: 21px;
    text-align: center;
    padding: 10px 20px;
    border-bottom: 1px solid #999;
  }

  .solution-eval-body {
    font-size: 18px;
    font-weight: 300;
    padding: 30px 20px 40px;;
    text-align: center;

    h3 {
      font-size: 24px;
      margin-bottom: 5px;
    }
    p { margin-bottom: 0; }
    p.em { font-size: 21px; }

    .row {
      margin: auto;
      border-bottom: solid 1px #999; border-top: solid 1px #999;
      padding: 20px;
    }

    .points_needed_for_next_level {
      color: #999;
    }
  }

  .solution-eval-footer {
    text-align: center;
    padding: 0px 20px 25px;
  }

  .icon {
    display: block;
    color: #42C0FF;
    font-size: 68px;
    margin-bottom: 20px;
  }

  .btn-transparent {
    color: white;
    background: transparent;
    border: 1px solid #ccc;

    &:hover { background: #232B33; }
  }

  .btn-success {
    color: #42C0FF;
    background: transparent;
    border: 1px solid #42C0FF;

    &:hover { background: #232B33; }
  }
}

.challenge-discussion {
  h1 {
    color: #303030;
    font-size: 38px;
  }

  // Source: https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
  .video-wrapper {
    margin-top: 15px;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 15px;
    margin-bottom: 40px;
    height: 0;
    z-index: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .text-wrapper {
    color: #303030;
    margin-bottom: 40px;

    p { margin-bottom: 18px; }

    p, li {
      line-height: 1.6;

      @media (min-width: $screen-sm-min) { font-size: 18px; }
    }

    .well {
      background: white;
      font-size: 18px;
    }

    .highlight { margin: 20px 0; }

    img {
      max-width: 100%;
      border: 1px solid #eee;
      padding: 5px;
    }
  }
}
