.comments {
  .comment-form {
    .nav-tabs li {
      font-size: 14px;

      &.active > a { background: white; }
    }

    .tab-content {
      background: white;
      padding: 15px;
      border: 1px solid #ddd;
      border-top: none;

      textarea { font-size: 14px; }
    }

    .comment-form-actions {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      background: white;
      border: 1px solid #ddd;
      border-top: none;
      margin-top: -1px;
      padding: 0 15px 15px;

      a { font-size: 14px; }
    }
  }

  .response-comment-form {
    background: white;
    border: 1px solid #ddd;
    margin-top: 20px;
    padding: 10px;

    textarea { font-size: 14px; }
  }

  .comment-list {
    margin-bottom: 60px;

    .comment {
      background: white;
      border: 1px solid #ddd;
      margin-top: 20px;

      .comment-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        border-bottom: 1px solid #ddd;

        .comment-user {
          display: flex;
          align-items: center;

          img {
            height: 40px;
            margin-right: 12px;
          }
          .comment-name {
            font-size: 14px;
            font-weight: 600;
          }
          .comment-date {
            color: #999;
            font-size: 14px;
          }
        }

        .comment-actions a {
          color: #ccc;
          font-size: 13px;
        }
      }

      .comment-body {
        color: #666;
        font-size: 14px;
        line-height: 1.6;
        padding: 10px 15px;

        #comment-input { font-size: 14px; }

        pre { font-size: 14px; }
        .response a { font-size: 14px; }
      }
    }

    .responses-to-comment {
      padding-left: 25px;
    }
  }
}
