.courses-page {
  margin-bottom: 60px;

  blockquote {
    font-size: 16px;
    font-style: italic;
    text-align: center;
    border: none;
    margin-top: 5px;
    margin-bottom: 20px;

    @media (min-width: $screen-sm-min) { 
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 50px;
    }

    .author {
      color: #999;
      font-size: 16px;
    }
  }

  .course {
    position: relative;
    background: #fafafd;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;

    .actions {
      position: absolute;
      top: 7px;
      right: 7px;

      span {
        color: white;
        font-size: 13px;
        padding: 4px;
        border-radius: 5px;
        opacity: 0.4;

        &:hover { opacity: 1; }
        &.edit { background: #2A79A6; }
        &.remove { background: #C74238; }
      }
    }

    .title {
      color: #333;
      font-size: 21px;
      font-weight: normal;
      text-align: center;
      margin-bottom: 20px;
    }

    p {
      font-weight: 300;
      margin-bottom: 15px;

      @media (min-width: $screen-sm-min) {
        line-height: 1.6;
        margin-bottom: 30px;
      }
    }

    .info {
      margin-bottom: 20px;
      color: #999;

      span {
        display: block;
        font-size: 14px;
        text-align: center;
      }

      .info-item-value {
        font-size: 16px;
        font-weight: bold;

        @media (min-width: $screen-sm-min) { font-size: 18px; }
      }
    }
  }
}

.course-page {
  .header {
    position: relative;
    margin-bottom: 30px;

    p {
      color: #333;
      font-size: 18px;
      font-weight: 300;

      strong { font-weight: normal; }

      @media (min-width: $screen-sm-min) {
        font-size: 21px;
      }
    }

    .actions {
      position: absolute;
      top: 10px;
      right: 7px;

      .edit-course-btn {
        opacity: 0.4;
        &:hover { opacity: 1; }
      }
    }
  }

  .section-header {
    margin-bottom: 20px;
    h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    p { 
      color: #333;
      font-weight: 300;
    }
  }

  .resources {

    table {
      font-weight: 300;
      line-height: 1.6;
      margin-top: -15px;

      td {
        padding: 15px 0px 20px;
        margin-bottom: 20px;
        border-top: none;
        border-bottom: 1px solid #eee;
      }

      td.resource-info {
        a {
          font-size: 16px;
          font-weight: normal;
          text-decoration: none;

          @media (min-width: $screen-sm-min) {
            font-size: 18px;
          }
        }

        span.glyphicon-new-window {
          font-size: 13px;
          text-decoration: none;
          margin-top: -2px;
          opacity: 0.8;
        }

        .description {
          color: #999;
          font-size: 14px;

          @media (min-width: $screen-sm-min) { font-size: 16px; }
        }
      }

      td.resource-additional {
        width: 60px;
        text-align: right;

        span { display: block; }
        .resource-status {
          color: #ddd;
          font-size: 18px;
          text-decoration: none;
          cursor: pointer;

          &:hover { color: #28B038; }
          &.completed { color: #28B038; }
        }

        .time-estimate {
          color: #666;
          font-size: 13px;
          margin-top: 10px;
        }

      }
    }
  }

  .challenges {
    margin-bottom: 40px;

    .challenge {
      position: relative;
      background: #fafafc;
      border: 1px solid #eee;
      border-radius: 5px;
      margin-bottom: 20px;

      .actions {
        position: absolute;
        top: 5px;
        right: 63px;
      }

      .challenge-title {
        font-size: 16px;
        opacity: 0.6;
        padding: 15px 10px;

        @media (min-width: $screen-sm-min) {
          font-size: 18px;
          padding: 15px 20px;
        }

        a { text-decoration: none; }
      }

      .challenge-status {
        float: right;
        padding: 10px 15px;
        color: #ddd;
        font-size: 24px;
        border-left: 1px solid #eee;
      }

      &.completed {
        .challenge-title { opacity: 1; }
        .challenge-status {
          background: #28B038;
          color: white;
        }
      }
    }
  }
}