.course-page {
  .header {
    position: relative;
    margin-bottom: 30px;

    h1 {
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 38px;
      margin-bottom: 15px;
    }

    p {
      color: #333;
      font-size: 21px;
      font-weight: 300;

      strong { font-weight: normal; }
    }

    .actions {
      position: absolute;
      top: 20px;
      right: 7px;
    }
  }

  h2 {
    font-size: 24px;
    margin-bottom: 25px;
  }

  .resources {

    table {
      font-weight: 300;
      line-height: 1.6;
      margin-top: -15px;

      td {
        padding: 15px 0px 20px;
        margin-bottom: 20px;
        border-top: none;
        border-bottom: 1px solid #eee;
      }

      td.resource-info {
        a {
          font-size: 18px;
          font-weight: normal;
          text-decoration: none;
        }

        span.glyphicon-new-window {
          font-size: 13px;
          text-decoration: none;
          margin-top: -2px;
          opacity: 0.8;
        }

        .description {  color: #999; }
      }

      td.resource-additional {
        width: 60px;
        text-align: right;

        span { display: block; }
        .resource-status {
          color: #ddd;
          font-size: 18px;
          text-decoration: none;
          cursor: pointer;

          &:hover { color: #28B038; }
          &.completed { color: #28B038; }
        }

        .time-estimate {
          color: #666;
          font-size: 13px;
          margin-top: 10px;
        }

      }
    }
  }

  .challenges {
    margin-bottom: 40px;

    .challenge {
      position: relative;
      background: #fafafc;
      border: 1px solid #eee;
      border-radius: 5px;
      margin-bottom: 20px;

      .actions {
        position: absolute;
        top: 5px;
        right: 63px;
      }

      .challenge-title {
        font-size: 18px;
        opacity: 0.6;
        padding: 15px 20px;

        a { text-decoration: none; }
      }

      .challenge-status {
        float: right;
        padding: 10px 15px;
        color: #ddd;
        font-size: 24px;
        border-left: 1px solid #eee;
      }

      &.completed {
        .challenge-title { opacity: 1; }
        .challenge-status {
          background: #28B038;
          color: white;
        }
      }
    }
  }
}