blockquote {
  font-size: 16px;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  border: none;
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: white;
  padding: 40px;

  @media (min-width: $screen-sm-min) {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .author {
    color: #999;
    font-size: 16px;
  }
}

.courses-page {
  .phase-name {
    display: inline-block;
    position: relative;
    background-color: $body-bg;
    color: #666;
    font-size: 14px;
    font-weight: bold;
    bottom: -10px;
    left: 10px;
    padding: 0 5px;
  }
  .phase {
    border-top: 1px solid #ccc;
    padding: 30px 10px 20px;
  }
  .course {
    background: white;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 30px;
    cursor: pointer;

    .course-title {
      font-size: 21px;
      font-weight: normal;
      margin-top: 0;
      margin-bottom: 20px;
    }

    .info {
      span {
        display: block;
        font-size: 14px;
        text-align: center;
      }

      .info-item-value { font-size: 18px; }
    }
  }
}

.phase-page {
  margin-bottom: 20px;

  .new-course-btn {
    margin-top: -20px;
    margin-bottom: 20px;
  }

  .course {
    position: relative;
    background: white;
    border: 1px solid #ddd;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1px;
    width: 100%;

    @media (min-width: $screen-sm-min) { width: 600px; }

    .actions {
      position: absolute;
      top: 7px;
      right: 7px;

      span {
        color: white;
        font-size: 13px;
        padding: 4px;
        border-radius: 5px;
        opacity: 0.4;

        &:hover { opacity: 1; }
        &.edit { background: #2A79A6; }
        &.remove { background: #C74238; }
      }
    }

    .title {
      color: #333;
      font-size: 30px;
      font-weight: 300;
      text-align: center;
      margin-bottom: 20px;
      font-family: 'Open Sans Condensed', sans-serif;
    }

    p {
      font-weight: 300;
      margin-bottom: 15px;

      @media (min-width: $screen-sm-min) {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 30px;
      }
    }

    .info {
      margin-bottom: 20px;
      color: #999;

      span {
        display: block;
        font-size: 14px;
        text-align: center;
      }

      .info-item-value {
        font-size: 21px;

        @media (min-width: $screen-sm-min) { font-size: 24px; }
      }
    }
  }

  .course-divider {
    position:relative;
    margin-top: -1px;
    z-index: 1;

    div {
      background: white;
      width: 10px;
      height: 30px;
      margin: 0 auto;
      border-right: 1px solid #ddd;
      border-left: 1px solid #ddd;
    }
  }
}

.course-page {
  margin-bottom: 60px;

  .header {
    position: relative;
    margin-bottom: 30px;

    p {
      color: #333;
      font-size: 18px;
      font-weight: 300;

      strong { font-weight: normal; }

      @media (min-width: $screen-sm-min) {
        font-size: 21px;
      }
    }

    .actions {
      position: absolute;
      top: 10px;
      right: 25px;

      .edit-course-btn {
        opacity: 0.4;
        &:hover { opacity: 1; }
      }
    }

    .course-header {
      padding: 10px 30px;
      border: 1px solid #ddd;
      background: white;

      span {
        font-weight: bold;
        color: #999;
        display: block;
        margin-bottom: 5px;
      }
    }
  }

  .nav-tabs > li {
    &.active > a { background: white; }
    > a {
      font-size: 25px;
      font-family: 'Open Sans Condensed',sans-serif;
    }
  }

  .nav-tabs {
    li {
      text-align: center;
      width: 25%;
    }
    .glyphicon {
      margin-right: 7px;
    }
  }


  .tab-content {
    background: white;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius: 5px;
  }

  .tab-exp {
    color: #999;
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 30px;
  }

  .section-header {
    margin-bottom: 20px;
    h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      color: #333;
      font-weight: 300;
    }
  }

  .resources {
    margin-bottom: 40px;

    .new-resource-btn { margin-top: 20px; }
    .resources-list { padding-top: 40px; }

    table {
      font-weight: 300;
      line-height: 1.6;

      td {
        padding: 15px 20px 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ddd;
        background: white;
      }

      td.resource-info {
        a {
          font-size: 18px;
          font-weight: normal;
          text-decoration: none;

          @media (min-width: $screen-sm-min) {
            font-size: 21px;
          }
        }

        span.glyphicon-new-window {
          font-size: 13px;
          text-decoration: none;
          margin-top: -2px;
          opacity: 0.8;
        }

        .description {
          color: #666;
          font-size: 16px;
          line-height: 1.6;
          margin-top: 10px;

          @media (min-width: $screen-sm-min) { font-size: 18px; }
        }
      }

      td.resource-own{
        .label-mir {
          background: #272727;
          border-radius: 50%;
          height: 35px;
          display: inline-block;
          width: 35px;
        }

        .icon-container {
          width: 14px;
          margin: 5px auto 0;
        }
      }
      td.resource-additional {
        width: 110px;
        text-align: right;

        span { display: block; }
        .resource-status {
          color: #ddd;
          font-size: 18px;
          text-decoration: none;
          cursor: pointer;

          &:hover { color: #28B038; }
          &.completed { color: #28B038; }
        }

        .time-estimate {
          color: #666;
          font-size: 13px;
          margin-top: 10px;
        }

        .resource-tag {
          font-weight: normal;
          margin-top: 10px;
          padding: 7px;
          display: inline-block;

          &.tutorial {
            @extend .label-info;
          }
          &.reading {
            @extend .label-primary;
          }
          &.video_tutorial {
            @extend .label-success;
          }
          &.documentation {
            @extend .label-warning;
          }
          &.blog_post {
            background: #009999;
          }
          &.game {
            background: #6633cc;
          }

          i {
            font-size: 1.2em;
            margin-right: 5px;
            &.reading {
              @extend .fa-book;
            }
            &.video_tutorial {
              @extend .fa-file-video-o;
            }
            &.documentation {
              @extend .fa-file-text-o;
            }
            &.game {
              @extend .fa-gamepad;
            }
            &.blog_post {
              @extend .fa-pencil-square-o;
            }
            &.tutorial {
              @extend .fa-wrench;
            }
          }
        }
      }
    }
  }

  .projects {
    margin-bottom: 40px;
    .new-project-btn { margin-top: 20px; }
    .projects-list { padding-top: 40px; }
    .project-locked {
      .project-title { color: #A1A1A1; }
    }
    .project {
      position: relative;
      background: #fafafa;
      border: 1px solid #eee;
      border-radius: 5px;
      margin-bottom: 20px;
      cursor: pointer;

      .actions {
        position: absolute;
        top: 5px;
        right: 72px;
      }

      .project-title {
        font-size: 21px;
        font-weight: 300;
        padding: 15px 10px;

        @media (min-width: $screen-sm-min) {
          font-size: 28px;
          padding: 15px 20px;
        }

        a {
          color: #ccc;
          text-decoration: none;
        }

        &:hover {
          .project-title a { color: #303030; }
        }
      }

      .btn-project-go {
        float: right;
        padding: 15px 20px;
        color: #ddd;
        font-size: 28px;
        border-left: 1px solid #eee;
        background: #427A9E;
        color: white;
      }

      .btn-project-locked {
        float: right;
        padding: 15px 20px;
        color: #ddd;
        font-size: 28px;
        border-left: 1px solid #eee;
        background: #f5f5f5;
        color: #c8c8c8;
      }


      .project-title a { color: #303030; }

      &.over { border-top: 2px dashed #999; }
    }
  }

  .quizzes {
    padding-top: 20px;
    .quiz-title {
      min-height: 80px;
      padding: 20px 0;
      background-color: #FAFAFA;
      border-style: solid;
      border-width: 1px;
      border-color: #E5E5E5;
      margin-bottom: 20px;
    }
    .score-box {
      background-color: #F04500;
      font-size: 35px;
      font-family: 'Open Sans Condensed';
      color: white;
      padding: 0 20px;
      max-width: 150px;
      text-align: center;
    }
  }

  .challenges {
    margin-bottom: 40px;

    .new-challenge-btn { margin-top: 20px; }

    .challenges-list { padding: 40px 0; }

    .challenge {
      position: relative;
      background: #fafafa;
      border: 1px solid #eee;
      border-radius: 5px;
      margin-bottom: 20px;
      cursor: pointer;

      .actions {
        position: absolute;
        top: 5px;
        right: 77px;
      }

      .challenge-title {
        font-size: 21px;
        font-weight: 300;
        padding: 15px 10px;

        @media (min-width: $screen-sm-min) {
          font-size: 28px;
          padding: 15px 20px;
        }

        a, span {
          color: #303030;
          text-decoration: none;
        }

        &:hover {
          .challenge-title a { color: #303030; }
        }
      }

      .challenge-status {
        float: right;
        padding: 15px 20px;
        color: #ddd;
        font-size: 28px;
        border-left: 1px solid #eee;
      }

      &.completed {
        .challenge-status {
          background: #28B038;
          color: white;
        }
      }
      &.restricted {
        .challenge-title span { color: #ccc; }
      }
      &.over { border-top: 2px dashed #999; }
    }
  }
}

.course-form-page {
  h1 {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 38px;
    margin-bottom: 15px;
  }
}

#questions-modal {
  .option-alert {
    border-radius: 0;
    margin-bottom: 0;
  }

  p {
    font-size: 21px;
    font-weight: 300;
    margin: 20px 0 40px;
  }

  .part-1 {
    text-align: center;

    .form-group {
      margin: 15px 0 30px;
      padding: 0 10px;
      text-align: center;

      .form-control {
        display: inline-block;
        max-width: 300px;
      }
    }
  }

  .radio-group {
    position: relative;
    input[type="radio"] {
      position: absolute;
      top: 0;
      left: 20px;
    }
    label { padding-left: 20px; }
  }

  .multiple-option {
    text-align: center;

    .answers {
      display: inline-block;
      text-align: left;
      margin-bottom: 30px;
    }
    .form-group {
      padding-left: 20px;

      label {
        font-size: 18px;
        font-weight: 300;
        margin-left: 10px;
      }
    }
  }

  .back { float: left; }
}
