.navbar li.apply a {
  color: white;
  padding: 10px 15px;
  margin-top: 20px;

  &:hover, &:active, &:focus {
    color: white;
    background: $brand_primary !important;
  }
}

.navbar-default {
  margin-bottom: 0;
}

.navbar-brand {
  position: relative;
  margin-top: -8px;
  margin-right: 10px;
}

.navbar-nav > li > a.avatar {
  padding-top: 9px;
  padding-bottom: 5px;

  img {
    width: 55px;
    border: 2px solid rgba(255, 255, 255, 0.6);
  }
}

.navbar-transparent, .navbar-transparent-white, .navbar-white, .navbar-dark {
  font-size: 16px;
  margin-bottom: 0;

  .nav > li > a:hover, .nav > li > a:focus {
    background: transparent;
  }

  .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background: transparent;
    color: $brand_primary;
  }

  .dropdown-menu .divider { margin: 15px 0; }

  .dropdown-menu > .program-menu-divider {
    margin-top: -28px;

    span {
      background: white;
      color: #999;
      font-size: 11px;
      font-weight: bold;
      padding: 0 10px;
      margin-left: 10px;
    }
  }

  .navbar-nav > li > a {
    padding-left: 13px;
    padding-right: 13px;
  }

  .icon-menu {
    display: block;
    float: left;
    margin-right: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 32px;
  }

  .text-menu {
    display: block;
    float: left;
    font-size: 14px;
    margin-top: 7px;
  }

  .navbar-toggle {
    .icon-bar {
      background: $brand_primary;
    }
  }

  .dropdown-menu a {
    color: #666;
    padding: 5px 15px;
    width: 280px;
    overflow: hidden;
    @media (max-width: $screen-sm-min) {
      width: 100%;
    }
  }
}

.navbar-transparent, .navbar-dark {
  padding: 20px 0;

  a {
    color: white;
  }
  .active {
    a {
      color: #ff4300;
    }
    .icon-menu {
      color: #ff4300;
      svg {
        fill: #ff4300;
      }
    }
  }

  .open > .dropdown-menu {
    background: white;
  }

  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: transparent;
  }
}

.navbar-transparent-white, .navbar-white {
  padding: 15px 0;

  a {
    color: #303030;
  }
  .active {
    a {
      color: #ff4300;
    }
    .icon-menu {
      color: #ff4300;
      svg {
        fill: #ff4300;
      }
    }
  }
}

.navbar-white { background: #fff; }

.navbar-dark { background: #303030; }
