.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  position: relative;
  margin-top: -13px;
}

.navbar-nav > li > a.avatar {
  padding-top: 9px;
  padding-bottom: 5px;

  img {
    width: 55px;
    border: 2px solid rgba(255, 255, 255, 0.6);
  }
}
