.navbar {
  .notifications-btn {
    padding-bottom: 15px;
    padding-top: 18px;
    border-right: 1px solid #1f1f1f;
    border-left: 1px solid #1f1f1f;
    .btn {
      background: #303030;
      border-radius: 20%;
      color: #fff;
    }
  }
}

.notifications {
  width: 400px;
  padding-bottom: 0px;
  max-height: 540px;
  overflow-y: scroll;
  .notification {
    background-color: white;
    padding: 20px 20px;
    border-bottom: 1px black solid;
    .comment-link {
      text-decoration: none;
    }
  }
  .no-more-notifications,.see-more-notifications {
    padding: 10px 20px;
    background-color: white;
    color: grey !important;
  }
  .see-more-notifications {
    background-color: white;
    a {
      color: $link-color !important;
      text-decoration: underline;
    }
  }
}
