@import "pages/video_bg";
@import "pages/sections";
@import "pages/home";
@import "pages/programs";
@import "pages/front_end_bootcamp";
@import "pages/full_stack_onsite";
@import "pages/online_programs";
@import "pages/makers";
@import "pages/faq";
@import "pages/scholarships";
@import "pages/thanks";
@import "pages/web_developer_guide";
@import "pages/job_guarantee";
@import "pages/react_redux";

.new-site {
  a, button {
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }
}
