.home {
  line-height: 1.6;

  .main {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), asset-url('home02.png') no-repeat center top;
    background-size: cover;
    color: white;
    min-height: 400px;
  }

  .main-nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 5px 0 3px;

    @media (min-width: $screen-md-min) { padding: 10px 0 5px; }
  }

  .main-nav .brand {
    width: 140px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;

    @media (min-width: $screen-md-min) { width: 200px; }
  }

  .main-nav .nav {
    display: inline-block;
    list-style-type: none;
    padding-top: 2px;
    margin-bottom: 0;

    @media (min-width: $screen-md-min) { padding-top: 5px; }

    li {
      float: left;

      a {
        color: white;
        font-weight: bold;
        font-size: 14px;
        margin: 0 5px;
        padding: 5px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;

        @media (min-width: $screen-md-min) {
          font-size: 18px;
          margin: 0 10px;
        }
      }
    }

    li.start a {
      display: none;
      background: #F04500;
      color: white;
      padding: 3px 8px;

      @media (min-width: $screen-md-min) {
        border-radius: 3px;
        padding: 5px 15px;
      }

      &:hover { background: darken(#F04500, 5%); }
    }
  }

  .main-nav.navbar-shrink {
    background-color: rgba(28, 28, 28, 0.8);

    .brand {
      width: 120px;

      @media (min-width: $screen-md-min) { width: 160px; }
    }
  }

  .main .leading {
    font: 32px/1.1 $font-family-condensed;
    text-align: center;
    padding: 80px 20px 0;
    opacity: 0.9;

    @media (min-width: $screen-sm-min) {
      font-size: 48px;
      line-height: 1.1;
      padding-top: 160px;
      padding-left: 0;
      padding-right: 0;
    }

    @media (min-width: $screen-md-min) { font-size: 58px; }

    @media (min-width: $screen-lg-min) { font-size: 64px; }
  }

  .main .sub-leading {
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;

    @media (min-width: $screen-sm-min) {
      font-size: 21px;
    }

    @media (min-width: $screen-md-min) {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.6;
    }

    a { color: white; }
  }

  .main .btn-main {
    font-size: 16px;
    padding: 7px 30px;
    background: #F04500;
    border-color: #F04500;
    border-radius: 3px;

    @media (min-width: $screen-sm-min) {
      font-size: 24px;
      padding: 7px 30px;
    }

    small {
      display: block;
      font-size: 11px;

      @media (min-width: $screen-sm-min) { font-size: 16px; }
    }
  }


  .main .sn {
    text-align: center;
    margin-top: 30px;

    @media (min-width: $screen-md-min) { margin-top: 40px; }

    i {
      display: inline-block;
      color: white;
      font-size: 14px;
      margin: 0 5px;
      opacity: 0.8;
      border: 2px solid white;
      border-radius: 5px;
      padding: 7px;
      width: 30px;
      weight: 30px;

      @media (min-width: $screen-sm-min) {
        font-size: 18px;
        border: 3px solid white;
        margin: 0 10px;
        width: 40px;
        weight: 40px;
        border-radius: 10px;
      }

      @media (min-width: $screen-md-min) { font-size: 21px; }

      &:hover { opacity: 1; }
    }
  }

  .main .more {
    font-size: 34px;
    margin-top: 80px;
    margin-bottom: 20px;
    opacity: 0.8;
    cursor: pointer;

    &:hover { opacity: 1; }
  }

  .section {
    padding-top: 40px;
    padding-bottom: 40px;

    @media (min-width: $screen-md-min) {
      padding-top: 60px;
      padding-bottom: 80px;
    }

    &.inverted { background-color: #303030; }
  }

  .inverted {
    color: white;
    p, .title { color: white; }
  }

  .title {
    color: #303030;
    font: bold 21px $font-family-condensed;
    margin-bottom: 20px;

    @media (min-width: $screen-md-min) { font-size: 28px; }
  }

  .what-is-it {
    .p {
      margin-top: 30px;
      @media (min-width: $screen-md-min) { font-size: 18px; }
    }
  }

  .thank-you {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), asset-url('home02.png') no-repeat center top;
    background-size: cover;
    color: white;
    h1 {
      color: #fff;
    }
    .p {
      @media (min-width: $screen-md-min) { font-size: 18px; }
    }
    .sn {
      margin-top: 15px;
      a {
        font-size: 22px;
        margin-right: 15px;
      }
    }
  }

  .info {
    .technology {
      margin-top: 30px;
      @media (min-width: $screen-md-min) { margin-top: 40px; }

      .icon { float: left; font-size: 42px; padding-top: 5px; }
      .alt { line-height: 1; font-size: 48px; }
      > div {
        padding-left: 70px;
      }

      header {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 10px;

        @media (min-width: $screen-md-min) {
          font-size: 21px;
          margin-bottom: 14px;
        }
      }

      p {
        font-size: 14px;

        @media (min-width: $screen-md-min) { font-size: 16px; }
      }
    }
  }

  .screenshots {
    .box {
      margin-top: 80px;
      header {
        color: #303030;
        font-size: 21px;
        margin-top: 14px;
        margin-bottom: 14px;

        @media (min-width: $screen-md-min) { font-size: 24px; }
      }

      p {
        @media (min-width: $screen-md-min) { font-size: 18px; }
      }

      img {
        width: 100%;
        border: 1px solid #ccc;
      }
    }
  }

  .method {
    .box {
      margin-top: 40px;
      font-size: 16px;
      line-height: 1.6;

      @media (min-width: $screen-md-min) { font-size: 18px; }

      header {
        color: #DCEFFA;
        font-size: 21px;
        margin-bottom: 30px;
        text-align: center;
        line-height: 1.4;

        span {
          color: #52BFFA;
          display: block;
          font-size: 24px;
        }
      }
    }
  }

  .social-proof {
    @media (min-width: $screen-md-min) { padding-bottom: 40px; }

    .carousel-inner {
      height: 370px;

      @media (min-width: $screen-sm-min) { height: 300px; }
      @media (min-width: $screen-md-min) { height: 400px; }
    }

    .carousel-control {
      color: #303030;
      background-image: none;
    }

    .quote {
      display: block;
      overflow: hidden;
      min-height: 100px;
      padding: 20px 10px 60px;

      @media (min-width: $screen-md-min) { padding: 20px 160px 100px; }
      .text {
        font-size: 18px;
        line-height: 1.4;
        font-weight: 300;
        margin-bottom: 20px;
        text-align: center;

        @media (min-width: $screen-md-min) {
          font-size: 24px;
          margin-bottom: 60px;
        }

        span {
          font-size: 16px;
          margin: 0 5px;
          @media (min-width: $screen-md-min) { font-size: 21px; }
        }
      }

      .source {
        text-align: center;
        padding: 0 30px;

        @media (min-width: $screen-md-min) { padding: 0; }

        > div {
          display: inline-block;
          max-width: 400px;
        }
        img {
          width: 80px;
          height: 80px;

          @media (min-width: $screen-md-min) {
            float: left;
            width: 120px;
            height: 120px;
          }
        }
        .credentials {
          @media (min-width: $screen-md-min) {
            text-align: left;
            padding-left: 150px;
          }

          h4 {
            font-size: 18px;
            @media (min-width: $screen-md-min) { font-size: 21px; }
          }

          p {
            font-size: 14px;
            @media (min-width: $screen-md-min) { font-size: 16px; }
          }
        }
      }
    }
  }

  .team {
    .box {
      margin-top: 40px;

      img {
        width: 130px; height: 130px;
      }

      header {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 3px;

        @media (min-width: $screen-md-min) {
          font-size: 21px;
        }
      }

      p {
        margin-bottom: 0;
        a {
         color: #A5CCAA;
         &:hover, &:active { color: lighten(#A5CCAA, 5%); text-decoration: underline; }
       }
     }

      ul {
        display: inline-block;
        font-size: 21px;
        padding: 0;
        margin: 0;

        li {
          float: left;
          list-style-type: none;
          padding: 15px;

          a { color: white; }
        }
      }
    }
  }

  .how-much {
    .price {
      color: #303030;
      font-size: 38px;
      text-align: center;

      &.inactive {
        color: #ccc;
        line-height: 1.2;
        text-decoration: line-through;
      }

      &:first-child { margin-top: 90px;}
    }

    .price-exp {
      color: #999;
      font-size: 14px;
      text-align: center;
      padding: 0 30px;
    }

    h4 {
      font-weight: bold;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 30px;
    }

    ul li {
      margin-bottom: 20px;
      @media (min-width: $screen-md-min) { font-size: 18px; }
    }
  }

  .faq {
    .q {
      margin-top: 40px;

      header {
        color: #52BFFA;
        font-size: 18px;
        margin-bottom: 14px;

        @media (min-width: $screen-md-min) { font-size: 21px; }
      }

      p {
        font-weight: 300;
        @media (min-width: $screen-md-min) { font-size: 18px; }
      }
    }
  }

  .footer {
    border-top: 1px solid #575757;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #B5B5B5;
    font-size: 14px;

    a { color: #B5B5B5; font-weight: bold; }
  }
}

.handbook {
  color: #303030;
  margin-bottom: 60px;

  h1, h2, h3 { text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7); }

  h1 {
    text-align: center;
    margin-bottom: 40px;

    @media (min-width: $screen-sm-min) { margin-bottom: 80px; }
  }

  h2 {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;

    @media (min-width: $screen-sm-min) { font-size: 28px; }
  }

  h3 {
    font-size: 21px;
    margin-top: 24px;
    margin-bottom: 18px;

    @media (min-width: $screen-sm-min) { font-size: 24px; font-weight: 600; }
  }

  blockquote p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 18px;
  }

  p, ol, ul {
    color: #303030;
    font-size: 16px;
    line-height: 1.7;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);

    @media (min-width: $screen-sm-min) {
      font-size: 18px;
      margin-bottom: 30px;
    }

  }

  ol li { margin-bottom: 15px; }

  img {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
}


.new_site {
  font-family: 'Karla', sans-serif;
  height: 100%;
  a {
    -webkit-transition: opacity 0.6s ease;
    -moz-transition: opacity 0.6s ease;
    -o-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  button {
    -webkit-transition: opacity 0.6s ease;
    -moz-transition: opacity 0.6s ease;
    -o-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  .nav > li > a:hover, .nav > li > a:focus {
    background: transparent;
  }
  .navbar-brand {
    margin-left: 0 !important;
  }
  .navbar-nav > li > a {
    padding-left: 13px;
    padding-right: 13px;
  }
  .navbar {
    font-size: 14px;
    background: #fff;
    a {
      color: #5f5f5f;
    }
    .active {
      a {
        color: #ff4300;
      }
    }
  }
  .navbar-toggle {
    .icon-bar {
      background: #ff4300;
    }
  }
  .intro {
    background: image-url("introBg2.png") center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 70px;
    text-align: center;
    position: relative;
  }
  .tagline {
    font-size: 42px;
    font-weight: 700;
    font-family: 'Karla', sans-serif;
    color: #fff;
    margin-top: 170px;
    padding: 0 35px;
    @media (max-width: $screen-sm-min) {
      font-size: 28px;
      padding: 0;
    }
    @media ( max-width: 1200px ) and (max-height: 600px ) {
      margin-top: 150px;
    }
    @media ( max-width: 1200px ) and (max-height: 400px ) {
      margin-top: 50px;
    }
  }
  .quotes {
    font-size: 18px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 35px 20px;
    @media (max-width: $screen-lg-min) {
      padding: 35px 5px;
    }
    @media (max-width: $screen-sm-min) {
      font-size: 18px;
    }
    @media ( max-width: 1200px ) and (max-height: 600px ) {
      display: none;
    }
    .author {
      font-size: 14px;
      display: block;
      margin-top: 15px;
    }
    a {
      color: #fff;
      font-weight: 700;
      text-decoration: underline;
    }
  }
  .know-more {
    font-size: 16px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    margin-top: 12px;
    display: inline-block;
    @media (max-width: $screen-lg-min) {
      display: none;
    }
    @media (max-height: 700px ) {
      display: none;
    }
    .icon {
      display: block;
      margin-top: 5px;
      @media (max-width: $screen-sm-min) {
        display: none;
      }
    }
  }

  .press {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px 0;
    @media (max-width: 450px) {
        display: none;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 0;
      li {
        display: inline-block;
        margin-left: 50px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .pitch {
    background: #272727;
    color: #ff4300;
    text-align: center;
    padding: 70px 0;
    &.curriculum {
      margin-top: 70px;
      h2 {
        text-transform: uppercase;
      }
      p {
        color: #fff;
        font-size: 20px;
        margin-top: 25px;
        @media (max-width: $screen-sm-min) {
          font-size: 18px;
        }
      }
    }
    &.faq {
      margin-top: 70px;
      h2 {
        text-transform: uppercase;
      }
    }
    h2 {
      font-size: 30px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      margin: 0;
      @media (max-width: $screen-sm-min) {
        font-size: 24px;
      }
    }
    .icon {
      display: block;
      margin-bottom: 15px;
    }
  }

  .feature {
    margin-bottom: 50px;
    overflow: hidden;
    &.curriculum {
      margin-bottom: 105px;
      @media (max-width: $screen-md-min) {
        margin-bottom: 65px;
      }
      &.last {
        border-bottom: 0;
      }
      h4 {
        font-size: 24px;
        text-transform: uppercase;
        color: #ff4300;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
      }
      h3 {
        @media (max-width: $screen-md-min) {
          font-size: 32px;
        }
      }
    }
    h3 {
      text-align: center;
      font-size: 42px;
      text-transform: uppercase;
      color: #ff4300;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      margin-top: 150px;
      margin-bottom: 80px;
      @media (max-width: $screen-md-min) {
        margin-bottom: 40px;
        margin-top: 80px;
      }
      @media (max-width: $screen-xs-min) {
        font-size: 32px;
      }
    }
    .text {
      font-size: 20px;
      @media (max-width: $screen-xs-min) {
        font-size: 18px;
      }
    }
    .img-feature {
      padding: 0;
    }
  }
  .feature-one {
    .text {
      padding: 15% 10% 0 20%;
      @media (max-width: $screen-md-min) {
        margin-bottom: 30px;
        padding: 0 8.5%;
      }
    }
    .img-feature {
      img {
        @media (max-width: $screen-md-min) {
          margin: 0 auto;
          width: 80%;
        }
      }
    }
  }
  .feature-two {
    .text {
      padding: 15% 10% 0;
      @media (max-width: $screen-md-min) {
        padding: 0 8.5%;
        margin-bottom: 30px;
      }
    }
    .img-feature {
      img {
        @media (max-width: $screen-md-min) {
          margin: 0 auto;
          width: 80%;
        }
      }
    }
    h3 {
      margin-top: 100px;
      @media (max-width: $screen-md-min) {
        margin-top: 50px;
      }
    }
  }
  .student-quotes {
    background: #272727;
    text-align: center;
    overflow: hidden;
    margin-top: 150px;
    @media (max-width: $screen-md-min) {
      padding-bottom: 30px;
      margin-top: 80px;
    }
    h3 {
      text-align: center;
      font-size: 42px;
      text-transform: uppercase;
      color: #ff4300;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      margin-top: 150px;
      margin-bottom: 80px;
      @media (max-width: $screen-md-min) {
        margin-top: 80px;
      }
      @media (max-width: $screen-xs-min) {
        font-size: 32px;
      }
    }
  }
  .student-quote {
    text-align: center;
    @media (max-width: $screen-md-min) {
      margin-bottom: 80px;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }
    @media (max-width: $screen-xs-min) {
      width: 100%;
    }
    p {
      color: #fff;
      font-size: 16px;
      width: 80%;
      margin: 0 auto;
      @media (max-width: $screen-xs-min) {
        margin-bottom: 30px;
      }
    }
    .author {
      display: block;
      color: #a5a5a5;
      font-size: 14px;
      margin-top: 20px;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    img {
      width: 85px;
    }
  }
  .deco-quote {
    margin: 30px 0;
    @media (max-width: $screen-xs-min) {
      display: none;
    }
  }
  .more-quotes {
    font-size: 18px;
    text-align: center;
    color: #ff4300;
    margin-top: 100px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 100px;
    .icon {
      display: block;
      margin-top: 15px;
    }
  }

  .feature-three {
    margin-bottom: 100px;
    @media (max-width: $screen-md-min) {
      margin-bottom: 40px;
    }
    h3 {
      margin-bottom: 50px;
    }
    .text {
      font-size: 20px;
      text-align: center;
      margin-bottom: 100px;
    }
    h4 {
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 300;
      color: #ff4300;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      margin-top: 25px;
    }
    p {
      text-align: left;
      width: 70%;
      margin: 0 auto;
      line-height: 1.5em;
    }
    .mentor {
      text-align: center;
      @media (max-width: $screen-md-min) {
        margin-bottom: 80px;
      }
      .mentor-links {
        text-align: left;
        width: 70%;
        margin: 15px auto 0;
        @media (max-width: $screen-md-min) {
          text-align: center;
        }
        ul {
          list-style-type: none;
          padding-left: 0;
        }
        li {
          display: inline-block;
          font-size: 24px;
          margin-right: 15px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .mentor-link {

      }
    }
  }

  .email {
    overflow: hidden;
    background: #272727;
    padding-bottom: 100px;
    position: relative;
    h3 {
      text-align: center;
      font-size: 42px;
      text-transform: uppercase;
      color: #ff4300;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      margin-top: 150px;
      margin-bottom: 50px;
      @media (max-width: $screen-xs-min) {
        font-size: 32px;
      }
    }
    p {
      color: #fff;
      text-align: center;
      margin-bottom: 50px;
      width: 85%;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
      @media (max-width: $screen-xs-min) {
        font-size: 18px;
      }
    }
    .form-control {
      background: #121212;
      border-radius: 2px;
      border: solid 1px #807f7f;
      font-size: 18px;
      padding: 10px;
      margin: 0 auto;
      height: auto;
      width: 320px;
      @media (max-width: $screen-xs-min) {
        width: 80%;
      }
    }
    form {
      .btn-main {
        margin: 30px auto;
      }
    }
    .top-container {
      z-index: 1;
      position: relative;
    }
    .icon-mir {
      position: absolute;
      left: 15%;
      top: 55px;
      z-index: 0;
    }
    .btn-main {
      -webkit-transition: opacity 0.6s ease;
      -moz-transition: opacity 0.6s ease;
      -o-transition: opacity 0.6s ease;
      transition: opacity 0.6s ease;
      color: #fff;
      &:hover {
        opacity: 0.7;
        text-decoration: none;
      }
    }
  }

  .enroll {
    overflow: hidden;
    background: #272727;
    padding-bottom: 100px;
    position: relative;
    margin-top: 70px;
    .btn-main {
      margin-top: 110px;
      margin-bottom: 20px;
      color: #fff;
    }
    .top-container {
      z-index: 1;
      position: relative;
      color: #fff;
      text-align: center;
    }
    .icon-mir {
      left: 50%;
      margin-left: -63px;
      position: absolute;
      top: 55px;
      width: 126px;
      z-index: 0;
    }
  }
  .pricing {
    overflow: hidden;
    position: relative;
    h3 {
      text-align: center;
      font-size: 42px;
      text-transform: uppercase;
      color: #ff4300;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      margin-top: 150px;
      margin-bottom: 30px;
      @media (max-width: $screen-md-min) {
        font-size: 32px;
        margin-top: 70px;
        margin-bottom: 35px;
      }
    }
    h4 {
      text-transform: uppercase;
      color: #ff4300;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      text-align: center;
      font-size: 24px;
      margin-top: 35px;
      margin-bottom: 25px;
    }
    .btn-main {
      margin-top: 50px;
      color: #fff;
    }
    .form-control {
      background: #121212;
      border-radius: 2px;
      border: solid 1px #807f7f;
      font-size: 18px;
      padding: 10px;
      margin: 0 auto;
      height: auto;
      width: 320px;
    }
    .price {
      font-size: 38px;
      margin-bottom: 50px;
      @media (max-width: $screen-md-min) {
        font-size: 32px;
      }
      &.before {
        text-decoration: line-through;
        color: #929292;
      }
      &.after {
        margin-top: 15px;
      }
    }
    .price-caption {
      font-size: 14px;
      color: #929292;
    }
    ul {
      margin-bottom: 60px;
      text-align: left;
    }
    li {
      font-size: 18px;
      margin-bottom: 15px;
      list-style-image: image-url("bulletMir.png");
    }

    .top-container {
      z-index: 1;
      position: relative;
      color: #fff;
      text-align: center;
    }
    .icon-mir {
      position: absolute;
      left: 15%;
      top: 55px;
      z-index: 0;
    }
    .otras-cuotas {
      p {
        margin-bottom: 0px;
        margin-top: 10px;
      }
    }
  }

  .txt-bold {
    font-weight: 700;
  }
  .btn-main {
    background: transparent;
    border: solid 1px #ff4300;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    padding: 10px 0;
    color: #ff4300;
    width: 280px;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    &.apply {
      background: #fff;
      margin-top: 30px;
      margin-bottom: 20px;
      border-color: #fff;
      font-weight: 400;
      @media (max-width: $screen-lg-min) {
        margin-top: 10px;
      }
    }
  }

  .benefits {
    background: #272727;
    overflow: hidden;
    min-height: 600px;
    h4 {
      font-size: 28px;
      margin-top: 100px;
      margin-bottom: 60px;
    }
  }
  .financing {
    display: none;
    border: solid 1px #f04500;
    background: #fff;
    margin: 105px 0;
    padding: 30px;
    text-align: center;
    border-radius: 5px;
    .price-one {
      font-size: 42px;
      font-family: open sans;
      font-weight: 600;
      color: #f04500;
    }
    .plus {
      font-size: 42px;
    }
    .valor-total {
      font-size: 22px;
      margin: 30px 0 20px;
    }
    .directo {
      color: #f04500;
    }
    .valor-ahorro {
      font-weight: 600;
      color: #f04500;
    }
    .caption {
      font-size: 14px;
      color: #999;
    }
  }
  .financing-quote {
    margin: 105px 0;
    .more {
      text-align: center;
      margin-top: 35px;
    }
  }
  .student-says {
    .student-data {
      border-top: 1px solid #ff3300;
      margin-top: 25px;
      overflow: hidden;
      padding-top: 25px;
      text-align: center;
    }
    .profile-img {
      margin: 0 auto;
      width: 80px;
      img {
        width: 100%;
      }
    }
    .profile-name {
      display: block;
      font-size: 16px;
    }
    .profile-status {
      color: #999999;
      display: block;
      font-size: 14px;
    }
  }

  footer {
    padding-top: 130px;
    overflow: hidden;
    @media (max-width: $screen-md-min) {
      padding-top: 65px;
    }
    .logo-footer {
      text-align: center;
      margin-bottom: 45px;
      margin-top: 35px;
    }
    h4 {
      text-align: center;
      font-size: 24px;
      text-transform: uppercase;
      color: #ff4300;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      margin-bottom: 30px;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 0;
    }
    .social-icons {
      text-align: center;
      svg {
        fill: #272727;
      }
      li {
        display: inline-block;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .site-links {
      font-size: 18px;
      text-align: center;
      @media (max-width: $screen-lg-min) {
        text-align: center;
      }
      a {
        color: #3b3a3a;
      }
      li {
        margin-bottom: 15px;
        margin-right: 15px;
        display: inline-block;
        @media (max-width: 1310px) {
          display: block;
          margin-right: 0;
        }
        @media (max-width: $screen-lg-min) {
          display: inline-block;
          margin-right: 15px;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .copyright-container {
      padding: 0;
      position: relative;
      margin-top: 100px;
    }
    .copyright {
      text-align: center;
      font-size: 14px;
      color: #a1a1a1;
      padding: 30px 0;
      border-top: solid 1px #ff4300;
      a {
        font-weight: 700;
        color: #a1a1a1;
      }
    }
    .icon-mir-footer {
      position: absolute;
      right: 30px;
      top: 23px;
      @media (max-width: $screen-sm-min) {
        position: relative;
        right: auto;
        top: auto;
        margin-bottom: 30px;
        text-align: center;
      }
    }
  }

  .curriculum-phases {
    background: #272727;
    text-align: center;
    overflow: hidden;
    margin-top: 150px;
    @media (max-width: $screen-md-min) {
      margin-top: 70px;
    }
    h3 {
      text-align: center;
      font-size: 42px;
      text-transform: uppercase;
      color: #ff4300;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      margin-top: 150px;
      margin-bottom: 80px;
      @media (max-width: $screen-md-min) {
        margin-top: 80px;
        font-size: 32px;
      }
    }
    .icon {
      display: inline-block;
      margin-top: 80px;
      margin-bottom: 100px;
      @media (max-width: $screen-md-min) {
        margin-top: 40px;
        margin-bottom: 50px;
      }
    }
  }
  .curriculum-phase {
    text-align: center;
    color: #fff;
    @media (max-width: $screen-md-min) {
      margin-bottom: 70px;
    }
    .deco-quote {
      margin-bottom: 15px;
    }
    .icon-phase {
      display: block;
      margin: 0 auto;
      width: 200px;
      .img-responsive {
        margin: 0 auto 20px;
      }
    }
    .phase-number {
      text-transform: uppercase;
      color: #ff4300;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 30px;
    }
    h4 {
      text-transform: uppercase;
      color: #ff4300;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 24px;
    }
    p {
      color: #fff;
      font-size: 16px;
      width: 80%;
      margin: 0 auto;
    }
    ul {
      margin: 15px auto 0;
      width: 80%;
      list-style-type: none;
      padding-left: 10px;
      text-align: left;
      @media (max-width: $screen-md-min) {
        text-align: center;
      }
    }
  }

  .curriculum-technologies {
    overflow: hidden;
    text-align: center;
    h3 {
        text-align: center;
        font-size: 42px;
        text-transform: uppercase;
        color: #ff4300;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        margin-top: 150px;
        margin-bottom: 80px;
        @media (max-width: $screen-md-min) {
          font-size: 32px;
          margin-top: 80px;
        }
    }
    .technology {
      min-height: 200px;
      overflow: hidden;
      padding: 0 10%;
      @media (max-width: $screen-md-min) {
        min-height: auto;
        margin-bottom: 40px;
      }
      h4 {
        text-transform: uppercase;
        color: #ff4300;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 24px;
        float: left;
        margin-top: 7px;
        margin-left: 10px;
        @media (max-width: $screen-md-min) {
          float: none;
          display: inline-block;
        }
      }
      p {
        font-size: 20px;
        text-align: left;
        @media (max-width: $screen-md-min) {
          text-align: center;
        }
      }
      .icon {
        font-size: 42px;
        color: #f04500;
        float: left;
        @media (max-width: $screen-md-min) {
          float: none;
          display: inline-block;
        }
      }
      .title-container {
        overflow: hidden;
        margin-bottom: 10px;
        @media (max-width: $screen-md-min) {
          text-align: center;
        }
      }
    }
  }

  .faqs {
    margin: 40px 0;
    h3 {
      font-size: 24px;
      text-transform: uppercase;
      color: #ff4300;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      margin-bottom: 25px;
    }
    .question {
      margin: 60px 0;
      p {
        font-size: 18px;
      }
    }
  }


  .section-quotes {
    overflow: hidden;
    text-align: center;
    margin-top: 80px;
    .each-quote {
      overflow: hidden;
      background: #fff;
      border: 1px solid #dddddd;
      padding: 20px;
      margin-bottom: 40px;
      p {
        font-size: 16px;
        text-align: left;
        height: 140px;
        overflow: hidden;
        @media (max-width: $screen-lg-min) {
          height: 100px;
        }
        @media (max-width: $screen-md-min) {
          height: 140px;
        }
        @media (max-width: $screen-sm-min) {
          height: auto;
        }
      }
    }
    .student-data {
      overflow: hidden;
      text-align: left;
      border-top: 1px solid #ff3300;
      margin-top: 15px;
      padding-top: 15px;
      .profile-name {
        display: block;
        font-size: 16px;
      }
      .profile-status {
        display: block;
        font-size: 14px;
        color: #999999;
      }
      .profile-link {
        display: inline-block;
        margin: 5px 0;
        i {
          font-size: 20px;
          margin-right: 10px;
        }
      }

      .profile-img {
        float: left;
        margin-right: 15px;
        width: 80px;
        img {
          width: 100%;
        }
      }
    }
  }

  .program-intro {
    margin-top: 70px;
    padding-top: 70px;
    color: #fff;
  }
  .full-stack {
    background: image-url("full-stack.png") center center;
    background-size: cover;
  }
  .tagline-program {
    h1 {
      text-transform: uppercase;
      margin-top: 0;
    }
    p {
      font-size: 20px;
    }
    .btn-cta {
      font-size: 16px;
      padding: 10px 30px;
      background: #161616;
      color: #fff;
      border: solid 1px #f04500;
      border-radius: 3px;
      font-weight: 400;
      font-family: "Open Sans",sans-serif;
      text-transform: uppercase;
      font-size: 16px;
      margin-top: 25px;
      display: inline-block;
    }
  }
  .bullets-program {
    li {
      overflow: hidden;
      margin-bottom: 30px;
    }
    .icon-bullet-program {
      float: left;
      width: 20%;
    }
    .content-bullet-program {
      float: left;
      width: 80%;
    }
    h2 {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }

  
}
