// Place all the styles related to the phases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.phases-page {
  .actions {
    position: absolute;
    padding: 10px;
    right: 15px;
    top: 0;
  }
}
.phase-box {
  text-decoration: none;
  color: #333333;
  display: block;
  text-align: center;
  padding: 40px 20px;
  margin-bottom: 30px;
  position: relative;
  transition: all 0.5s;

  @media (min-width: $screen-md-min) {
    min-height: 320px;
  }
  &:hover,:active,:focus,:link,:visited {
    text-decoration: none;
    opacity: 0.7;
    color: #333333;
  }

  background-color: #fff;
  border-bottom-style: solid;
  border-bottom-width: 10px;
  border-left: 1px solid;
  border-right: 1px solid;

  .phase-name {
    font-size: 45px;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    margin-top: 60px;

    @media (min-width: $screen-md-min) {
      min-height: 80px;
    }
  }
  .phase-number {
    position: absolute;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    color: #fff;
    top: 0;
    left: 0;
    padding: 10px;
  }
  .phase-description {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Open Sans';
    line-height: 1.6;
  }
}
