// Place all the styles related to the phases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.phases-page {
  .actions {
    position: absolute;
    padding: 10px;
    right: 15px;
    top: 0;
  }
}
.phase-box {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  padding: 40px 20px;
  @media (min-width: $screen-md-min) {
    min-height: 320px;
  }
  &:hover,:active,:focus,:link,:visited {
    text-decoration: none;
    opacity: 0.7;
    color: white;
  }

  background-color: #303030;
  border-bottom-style: solid;
  border-bottom-width: 10px;
  &.phase-1 {
    border-bottom-color: #308FC0;
    .phase-number {
      background-color: #308FC0;
    }
  }
  &.phase-2 {
    border-bottom-color: #4C4C9D;
    .phase-number {
      background-color: #4C4C9D;
    }
  }
  &.phase-3 {
    border-bottom-color: #FF101F;
    .phase-number {
      background-color: #FF101F;
    }
  }

  .phase-name {
    font-size: 45px;
    font-family: "Open Sans Condensed", sans-serif;
    @media (min-width: $screen-md-min) {
      min-height: 110px;
    }
  }
  .phase-number {
    position: absolute;
    top: 0;
    left: 15px;
    padding: 10px;
  }
}
