.project-solution-box {
  padding: 20px 20px 40px 20px;
  margin: 20px;
  background-color: white;
  img {
    width: 40px;
  }
  .btn-comment {
    position: absolute;
    right: 35px;
    bottom: 20px;
  }
}

.project-solution {
  .links-box {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
