.project-solution-box {
  padding: 20px 20px 25px 20px;
  margin: 20px;
  background-color: white;
  min-height: 202px;
  img {
    width: 40px;
  }
  .btn-comment {
    position: absolute;
    right: 35px;
    bottom: 20px;
    background: #005e9f;
    &:hover, &:focus, &:active {
      background: #f04500;
    }
  }
  .links {
    padding-top: 15px;
    padding-bottom: 10px;
  }
}

.project-solution {
  .links-box {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.add-points-form {
  padding: 15px 0 15px 0;
}
.request-revision {
  padding: 15px 0 15px 0;
}
