.project {
  margin-bottom: 60px;

  .project-info {
    background: white;
    border: 1px solid #ddd;

    .project-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;
      font-size: 1.25rem;
      border-bottom: 1px solid #ddd;
    }

    .project-body {
      color: #666;
      padding: 15px 20px;
      line-height: 1.6;

      h2 {
        font-size: 1.3rem;
        font-weight: 400;
        margin-top: 30px;
      }
      h3 { font-size: 18px; }

      img {
        max-width: 100%;
        border: 1px solid #eee;
        padding: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      pre { font-size: 14px; }

      p { line-height: 1.6; }
      li { margin-bottom: 7px; }
      strong { font-weight: 600; }
    }
  }

  .solution-form {
    background: white;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
  }

  .video-wrapper { margin-bottom: 40px; }
}
