.project {
  margin-bottom: 60px;

  h2 { margin-top: 30px; }
  h3 {
    font-size: 18px;
    // font-weight: bold;
  }

  .video-wrapper { margin-bottom: 40px; }

  img {
    max-width: 100%;
    border: 1px solid #eee;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .new_project_solution, .edit_project_solution {
    .summary {
      width: 100%;
      .input-group {
        width: 100%;
      }
    }
  }

  hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border: 10px;
    border-top: 3px solid;
    margin-left: 20px;
    border-color: rgba(48, 48, 48, 0.09);
    margin-right: 20px;
  }
  .comments-title {
    margin-bottom: 30px;
  }
}
