.resource-form-page {
  margin-bottom: 40px;
}

.resource-page {
  margin-bottom: 40px;

  p, ul { 
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 20px;

    @media (min-width: $screen-sm-min) {
      font-size: 18px;
      line-height: 1.7;
    }

    strong { font-weight: normal; }
  }
}