.resource-form-page {
  margin-bottom: 40px;
}

.resource-page {
  margin-top: -60px;
  padding-top: 50px;

  h1 {
    margin-top: 40px;
    margin-bottom: 60px;
  }

  p, ul {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 20px;

    @media (min-width: $screen-sm-min) {
      font-size: 21px;
      line-height: 1.7;
    }

    strong { font-weight: normal; }
  }
  .internal p:last-child { margin-bottom: 60px; }

  .external p { margin-bottom: 60px; }

  .finish  {
    margin-top: 40px;
    text-align: center;
  }

  .back {
    margin-top: 40px;
  }
}

.resource-page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.sections {
  input.section-title {
    display: inline-block;
    max-width: 90%;
  }
  .lessons {
    .lessons-label {
      margin-left: 30px;
    }
    fieldset {
      padding: 10px;
      border-radius: 3px;
      border-style: solid;
      border-width: 2px;
      margin-left: 30px;
      margin-bottom: 7px;
      border-color: rgb(194, 194, 194);

      .lesson-name {
        display: inline-block;
        max-width: 90%;
      }
    }
    .add-lesson {
      margin-left: 30px;
    }
  }
}
.course-info {
  border-style: solid;
  border-radius: 10px;
  border-color: #ABABAB;
  padding: 20px;
  background-color: #ECECEC;
}
.btn-buy-course {
  background-color: #31B0D5;
}
.fixed-container {
  width: 100%;
  content: " ";
  .fixed {
    @media (min-width: $screen-sm) {
      position: fixed;
      margin-top: $navbar-height + 50px;
      margin-right: 70px;
    }
    @media (min-width: 1600px) {
      margin-right: 255px;
    }
  }
}
