.login {
  margin-top: 30px;

  .options {
    margin-top: 30px;

    .option { margin: 15px 0; }
  }
}

.btn-social{
  padding: 20px 0;
  a { width: 100%; }
  #sign-in-facebook {
    background: $btn-facebook;
  }
}

