.login-page {
  .login-welcome {
    font-size: 24px;
    font-weight: 300;
    margin-top: 30px;

    @media (min-width: $screen-sm-min) {
      margin-top: 60px;
    }

    span { color: $brand_secondary; }
  }

  .login {
    background: white;
    margin: 80px auto 100px;

    max-width: 450px;
    border: 1px solid #ccc;

    .login-body {
      padding: 5px 25px 20px;
    }

    .login-footer {
      background: #fbfbf9;
      border-top: 1px solid #ccc;
      padding: 0 0 5px;
    }

    p {
      color: #666;
      font-size: 16px;
      text-align: center;
      margin: 30px 0;

      @media (min-width: $screen-sm-min) { font-size: 18px; }

      &.small {
        font-size: 14px;

        @media (min-width: $screen-sm-min) { font-size: 16px; }
      }
    }

    form { margin-bottom: 20px; }

    .btn-main {
      color: #fff;
      background: #ff4300;
      font-weight: 400;
      text-decoration: none;
      padding: 15px 0;

      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }

    .login-onsite-text {
      display: block;
      color: #666;
      font-size: 14px;
      margin-top: 5px;
      margin-bottom: 20px;

      > div { margin-bottom: 5px; }
    }
  }

}

.btn-social{
  padding: 20px 0;
  a { width: 100%; }
  #sign-in-facebook {
    background: $btn-facebook;
  }
}
.bg-login {
  .new-site {
    overflow: hidden;
    @media (max-height: 525px) {
      overflow-y: scroll;
    }
  }
}
