$color-black:                       #272727;
$color-white:                       #fafafa;
$color-dark-blue:                   #212f65;
$color-light-blue:                  #40cee3;
$color-grey:                        #606060;
$color-orange:                      #f04500;

$text-color:                        $color-black;

$brand-primary:                     #f04500; // orange
$brand-secondary:                   #005e9f; // blue

$font-size-base:                    16px;
$font-family-sans-serif:            'Montserrat', sans-serif;
$font-family-condensed:             "Patua One", cursive;
$headings-font-family:              $font-family-condensed;

$body-bg:                           #f5f5f2;

$btn-secondary-color:               #fff !default;
$btn-secondary-bg:                  $brand-secondary !default;

$navbar-height:                     70px;

$navbar-default-bg:                 white;
$navbar-default-border:             transparent;
$navbar-default-link-color:         $color-black;
$navbar-default-link-hover-color:   $color-black;
$navbar-default-link-active-color:  $color-orange;
$navbar-default-link-active-bg:     lighten($navbar-default-bg, 6.5%) !default;

$navbar-inverse-bg:                 #303030;
$navbar-inverse-link-color:         $color-white;
$navbar-inverse-link-active-color:  $color-orange;

$grid-float-breakpoint:             992px;

$link-color:                        $brand-primary;

$nav-tabs-border-color:             #ddd;

$btn-facebook:                      #48649F;
$btn-twitter:                       #2795e9;

$border-radius-base:                3px !default;
$border-radius-large:               3px !default;
$border-radius-small:               3px !default;

$progress-bar-success-bg:           #EB622A;
$progress-border-radius:            4px;

$input-height-base:                 40px;
