$font-size-base:                    16px;
$font-family-sans-serif:            "Open Sans",sans-serif;
$body-bg:                           white;

$btn-primary-bg:                    #f8da4a;
$btn-primary-color:                 #4d4d4d;

$navbar-height:                     70px;
$navbar-default-bg:                 #2A79A6;
$navbar-default-border:             transparent;

$navbar-default-link-color:         rgba(255, 255, 255, 0.8);
$navbar-default-link-hover-color:   white;
$navbar-default-link-active-color:  white;
$navbar-default-link-active-bg:     lighten($navbar-default-bg, 6.5%) !default;

$navbar-default-brand-color:        white;
$navbar-default-brand-hover-color:  white;