<% hide_login ||= false %>
<% hide_programs ||= false %>
<% show_apply ||= false %>

<header>
  <nav class="navbar navbar-static-top <%= class_name %>">
    <div class="container">
      <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag("#{logo_path}", alt: "Logo Make it Real"), root_path, class: "navbar-brand" %>
      </div>
      <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://blog.makeitreal.camp/">Blog</a></li>
          <% if !hide_login %>
            <li><%= link_to "Ingresar", login_path, class: "btn-login navbar-btn", data: { turbolinks: false } %></li>
          <% end %>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
</header>
