<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="color: #777; font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 16px;">
    <%= yield %>
  </body>
</html>
