<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family: 'Helvetica Neue', sans-serif;">
    <%= yield %>
  </body>
</html>
